{% extends 'base.html' %}
{% block content %}

<main class="page-content section-70 section-md-114">
    <section class="section-98 section-sm-110 section-bottom-66">
        <div class="shell">
            <div class="range range-xs-center section-34">
                <div class="cell-xs-8 cell-sm-6 cell-md-8">
                    <div class="row" style="margin-top: -10px;">
                        <div class="col-md-12">
                            <h5>Email Sent</h5>
                            <div class="text-subline"></div>
                        </div>
                    </div>
                    <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
                    <p>You should be receiving it shortly</p>
                    <p>To visit the education studio, please <a href="/">click here</a></p>
                </div>
            </div>
        </div>
    </section>
</main> 

{% endblock %}
