{% extends 'base.html' %}
{% load staticfiles %}

{% block top %}
    <section class="breadcrumb-classic context-dark">
        <div class="shell section-30 section-sm-top-10 section-sm-bottom-10">
            <h2 class="veil reveal-sm-block text-center">Edit Profile</h2>
        </div>
    </section>
{% endblock %} 
{% block content %}
   
    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="col-md-10 col-md-offset-1">
            <div style="padding: 20px 60px; background-color: white;">
                <form class="form-horizontal" id="first_form" role="form" method="post" enctype="multipart/form-data" style="color: black;">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-sm-2 col-xs-6">
                                    <label for="id_avatar" class="control-label" style="cursor: pointer;"><h6><strong>Profile</strong></h6></label>
                                    <div class="inset-sm-right-30" style="cursor: pointer;">
                                        <div id="id_avatar_img" class="avatar_img thubmnail-inner img-rounded">
                                            <img src="{% if student.avatar %}{{ student.avatar.url }}{% else %}{% static 'images/nodp.jpg' %}{% endif %}" alt="Cinque Terre">
                                        </div>
                                    </div>
                                    {{ form.avatar }}
                                    <input type="text" id="id_default_avatar" name="default_avatar" style="display: none;">
                                    {{ form.avatar.errors.as_text }}
                                    <small class="help-block with-errors"></small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 default_avatar_web" style="margin-top: 40px; margin-left: 10px;">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="border-radius: 5px;">
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <div class="avatar_img">
                                                    <img data-avatar="{% static 'images/boy.png' %}" src="{% static 'images/boy.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="avatar_img">
                                                    <img data-avatar="{% static 'images/businessman.png' %}" src="{% static 'images/businessman.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="avatar_img">
                                                    <img data-avatar="{% static 'images/businesswoman.png' %}" src="{% static 'images/businesswoman.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="avatar_img">
                                                    <img data-avatar="{% static 'images/man.png' %}" src="{% static 'images/man.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <div class="avatar_img">
                                                    <img data-avatar="{% static 'images/man2.png' %}" src="{% static 'images/man2.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="avatar_img">
                                                    <img data-avatar="{% static 'images/man3.png' %}" src="{% static 'images/man3.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="avatar_img">
                                                    <img data-avatar="{% static 'images/man4.png' %}" src="{% static 'images/man4.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="avatar_img">
                                                    <img data-avatar="{% static 'images/man5.png' %}" src="{% static 'images/man5.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <div class="avatar_img">
                                                    <img data-avatar="{% static 'images/man6.png' %}" src="{% static 'images/man6.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="avatar_img">
                                                    <img data-avatar="{% static 'images/man7.png' %}" src="{% static 'images/man7.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="avatar_img">
                                                    <img data-avatar="{% static 'images/man8.png' %}" src="{% static 'images/man8.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="avatar_img">
                                                    <img data-avatar="{% static 'images/man9.png' %}" src="{% static 'images/man9.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <div class="avatar_img">
                                                    <img data-avatar="{% static 'images/man10.png' %}" src="{% static 'images/man10.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="avatar_img">
                                                    <img data-avatar="{% static 'images/man11.png' %}" src="{% static 'images/man11.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="avatar_img">
                                                    <img data-avatar="{% static 'images/man12.png' %}" src="{% static 'images/man12.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="avatar_img">
                                                    <img data-avatar="{% static 'images/man13.png' %}" src="{% static 'images/man13.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <div class="avatar_img">
                                                    <img data-avatar="{% static 'images/man14.png' %}" src="{% static 'images/man14.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="avatar_img">
                                                    <img data-avatar="{% static 'images/man15.png' %}" src="{% static 'images/man15.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="avatar_img">
                                                    <img data-avatar="{% static 'images/woman.png' %}" src="{% static 'images/woman.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="avatar_img">
                                                    <img data-avatar="{% static 'images/woman1.png' %}" src="{% static 'images/woman1.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <div class="avatar_img">
                                                    <img data-avatar="{% static 'images/woman2.png' %}" src="{% static 'images/woman2.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="avatar_img">
                                                    <img data-avatar="{% static 'images/woman3.png' %}" src="{% static 'images/woman3.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="avatar_img">
                                                    <img data-avatar="{% static 'images/woman4.png' %}" src="{% static 'images/woman4.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                 </a>
                            </div>
                        </div>
                        <div class="col-md-7 col-md-offset-1 default_avatar_mob" style="margin-top: 40px;">
                            <div id="carousel-example-generic-mob" class="carousel slide" data-ride="carousel" style="border-radius: 5px;">
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <div class="avatar_img" style="margin: 0 auto;">
                                            <img data-avatar="{% static 'images/boy.png' %}" src="{% static 'images/boy.png' %}" width="100%" style="cursor: pointer;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="avatar_img" style="margin: 0 auto;">
                                            <img data-avatar="{% static 'images/businessman.png' %}" src="{% static 'images/businessman.png' %}" width="100%" style="cursor: pointer;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="avatar_img" style="margin: 0 auto;">
                                            <img data-avatar="{% static 'images/businesswoman.png' %}" src="{% static 'images/businesswoman.png' %}" width="100%" style="cursor: pointer;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="avatar_img" style="margin: 0 auto;">
                                            <img data-avatar="{% static 'images/man.png' %}" src="{% static 'images/man.png' %}" width="100%" style="cursor: pointer;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="avatar_img" style="margin: 0 auto;">
                                            <img data-avatar="{% static 'images/man2.png' %}" src="{% static 'images/man2.png' %}" width="100%" style="cursor: pointer;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="avatar_img" style="margin: 0 auto;">
                                            <img data-avatar="{% static 'images/man3.png' %}" src="{% static 'images/man3.png' %}" width="100%" style="cursor: pointer;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="avatar_img" style="margin: 0 auto;">
                                            <img data-avatar="{% static 'images/man4.png' %}" src="{% static 'images/man4.png' %}" width="100%" style="cursor: pointer;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="avatar_img" style="margin: 0 auto;">
                                            <img data-avatar="{% static 'images/man5.png' %}" src="{% static 'images/man5.png' %}" width="100%" style="cursor: pointer;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="avatar_img" style="margin: 0 auto;">
                                            <img data-avatar="{% static 'images/man6.png' %}" src="{% static 'images/man6.png' %}" width="100%" style="cursor: pointer;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="avatar_img" style="margin: 0 auto;">
                                            <img data-avatar="{% static 'images/man7.png' %}" src="{% static 'images/man7.png' %}" width="100%" style="cursor: pointer;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="avatar_img" style="margin: 0 auto;">
                                            <img data-avatar="{% static 'images/man8.png' %}" src="{% static 'images/man8.png' %}" width="100%" style="cursor: pointer;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="avatar_img" style="margin: 0 auto;">
                                            <img data-avatar="{% static 'images/man9.png' %}" src="{% static 'images/man9.png' %}" width="100%" style="cursor: pointer;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="avatar_img" style="margin: 0 auto;">
                                            <img data-avatar="{% static 'images/man10.png' %}" src="{% static 'images/man10.png' %}" width="100%" style="cursor: pointer;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="avatar_img" style="margin: 0 auto;">
                                            <img data-avatar="{% static 'images/man11.png' %}" src="{% static 'images/man11.png' %}" width="100%" style="cursor: pointer;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="avatar_img" style="margin: 0 auto;">
                                            <img data-avatar="{% static 'images/man12.png' %}" src="{% static 'images/man12.png' %}" width="100%" style="cursor: pointer;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="avatar_img" style="margin: 0 auto;">
                                            <img data-avatar="{% static 'images/man13.png' %}" src="{% static 'images/man13.png' %}" width="100%" style="cursor: pointer;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="avatar_img" style="margin: 0 auto;">
                                            <img data-avatar="{% static 'images/man14.png' %}" src="{% static 'images/man14.png' %}" width="100%" style="cursor: pointer;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="avatar_img" style="margin: 0 auto;">
                                            <img data-avatar="{% static 'images/man15.png' %}" src="{% static 'images/man15.png' %}" width="100%" style="cursor: pointer;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="avatar_img" style="margin: 0 auto;">
                                            <img data-avatar="{% static 'images/woman.png' %}" src="{% static 'images/woman.png' %}" width="100%" style="cursor: pointer;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="avatar_img" style="margin: 0 auto;">
                                            <img data-avatar="{% static 'images/woman1.png' %}" src="{% static 'images/woman1.png' %}" width="100%" style="cursor: pointer;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="avatar_img" style="margin: 0 auto;">
                                            <img data-avatar="{% static 'images/woman2.png' %}" src="{% static 'images/woman2.png' %}" width="100%" style="cursor: pointer;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="avatar_img" style="margin: 0 auto;">
                                            <img data-avatar="{% static 'images/woman3.png' %}" src="{% static 'images/woman3.png' %}" width="100%" style="cursor: pointer;">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="avatar_img" style="margin: 0 auto;">
                                            <img data-avatar="{% static 'images/woman4.png' %}" src="{% static 'images/woman4.png' %}" width="100%" style="cursor: pointer;">
                                        </div>
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#carousel-example-generic-mob" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic-mob" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                 </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11 paddingtop-20">
                            <h5>General Information</h5>
                            <div class="text-subline"></div>
                        </div>
                    </div>

                    <div class="row paddingtop-20">
                        <div class="col-md-4">
                            <label for="id_first_name" class="control-label"><h6><strong>*First Name:</strong></h6></label>
                        </div>  
                        <div class="col-md-7">  
                            <div class="form-group {% if form.first_name.errors %}has-error{% endif %}">
                                {{ form.first_name }}
                                <small class="es-error">{{ form.first_name.errors.as_text }}</small>
                            </div>
                        </div>
                    </div>
        
                    <div class="row paddingtop-20">
                        <div class="col-md-4">
                            <label for="id_last_name" class="control-label"><h6><strong>*Last Name:</strong></h6></label>
                        </div>  
                        <div class="col-md-7">  
                            <div class="form-group {% if form.last_name.errors %}has-error{% endif %}">
                                {{ form.last_name }}
                                <small class="es-error">{{ form.last_name.errors.as_text }}</small>
                            </div>
                        </div>
                    </div>

                    <div class="row paddingtop-20">
                        <div class="col-sm-4">
                            <label for="id_email" class="control-label"><h6><strong>*Email:</strong></h6></label>
                        </div>  
                        <div class="col-sm-7">  
                            <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                                {{ form.email }}
                                <small class="es-error">{{ form.email.errors.as_text }}</small>
                                <small class="help-block with-errors"></small>
                            </div>
                        </div>
                    </div>

                    <div class="row paddingtop-20">
                        <div class="col-md-4">
                            <label for="id_nationality" class="control-label"><h6><strong>Nationality:</strong></h6></label>
                        </div>  
                        <div class="col-md-7">  
                            <div class="form-group {% if form.nationality.errors %}has-error{% endif %}">
                                {{ form.nationality }}
                                <small class="es-error">{{ form.nationality.errors.as_text }}</small>
                                <small class="help-block with-errors"></small>
                            </div>
                        </div>
                    </div>
                    <div class="row paddingtop-20">
                        <div class="col-md-4">
                            <label for="id_country" class="control-label"><h6><strong>*Country:</strong></h6></label>
                        </div>  
                        <div class="col-md-7">  
                            <div class="form-group {% if form.country.errors %}has-error{% endif %}">
                                {{ form.country }}
                                <small class="es-error">{{ form.country.errors.as_text }}</small>
                                <small class="help-block with-errors"></small>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row paddingtop-20 text-center">
                        <div class="col-md-4 col-md-offset-4">  
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input id="first_step" class="btn btn-primary btn-block" type="submit" value="Save"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>        
   
{% endblock %}

{% block javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tagsinput.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tagsinput-typeahead.css' %}">
    <script src="{% static 'js/bloodhound.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap-typeahead.js' %}"></script>
    <script src="{% static 'js/bootstrap-tagsinput.js' %}"></script>
    <script type="text/javascript">

        $(document).ready(function() {

            $('[data-avatar]').click(function(e) {
                $("#id_avatar").val("");
                e.preventDefault();
                $("#id_default_avatar").val($(this).attr("src"))
                $("#image_error").hide()
                $("#id_avatar_img").find("img").attr("src", $(this).attr("src"))    
                
            });

            $('#id_avatar').on('click',function(){
                if(($('#id_avatar').val() == "") || ($('#id_default_avatar').val() == "")){
                    $("#image_error").show()
                }
                else{
                    $("#image_error").hide()
                }
            });
        });

        $(function() {

            $("#id_avatar").on('change', function () {
                var image_holder = $("#id_avatar_img");
                image_holder.empty();
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("<img />", {
                        "src": e.target.result
                    }).appendTo(image_holder);

                }
                image_holder.show();
                reader.readAsDataURL($(this)[0].files[0]);
            });

            $("#id_avatar").css("display", "none");
            $("#id_avatar_img").on("click", function(){
                $("#id_avatar").trigger("click");
            })
            
        })


    </script>
{% endblock %}
