{% load staticfiles %}
{% load stars %}

{% for activity in activities %}
<tr>
    <td>
    <a href="{% url 'paper_detail' activity.paper.id %}" style="text-decoration: none; color: #b80924;">{{ activity.paper.title|title }}</strong></a></td>
    <td>{{ activity.created|date:"M d, Y" }}</td>
        <td class="col-md-3"> <a style="text-decoration: none;" href="{% url 'profile' activity.paper.editor.user.username %}">
        {{ activity.paper.editor.user.get_full_name }}</a></td>
        
    <td>
        <span class="tag label label-danger">{{ activity.type }}</span>
    </td>
    <td>{{ currency }} {{ activity.get_dollar_amount|floatformat:"2" }}</td>
</tr>
{% endfor %}
