{% load staticfiles %}
{% load stars %}

{% for paper in papers %}
    <tr>
        <td>{{ forloop.counter|get_serial_no:start }}</td>
        <td>
        <a href="{% url 'paper_detail' paper.id %}" style="text-decoration: none; color: #b80924;">{{ paper.title|title }}</a></td>
        <td>{{ paper.created|date:"M d, Y" }}</td>
        <td>{{ currency }} {{ paper.price_paid|floatformat:"2" }}</td>
        <td>{{ paper.status }}</td>
    </tr>
{% endfor %}
