{% load staticfiles %}
<div class="modal fade" id="id_paper_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="new_modal">
            <div class="modal-overlay" id="id_paper_overlay">
                <img src="{% static 'images/spin.svg' %}"/>
            </div>
            <form id="id_paper_form" class="form-horizontal" action="{% url 'paper_request' %}" method="post" onsubmit="return paper_request($(this))" enctype="multipart/form-data" style="color: black;">
                {% csrf_token %}
                {{ paper_form.editor_id }}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Submit a paper</h4>
                </div>
                <div class="modal-body">
                    <div class="row paddingtop-20">
                        <div class="col-md-12">
                            <div class="form-group" id="id_title_error_parent_div">
                                <label for="Title" class="control-label col-md-2">Title</label>
                                <div class="col-md-10">
                                    {{ paper_form.title }}
                                    <small id="id_title_error" class="es-error"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row paddingtop-20">
                        <div class="col-md-12">
                            <div class="form-group" id="id_discipline_error_parent_div">
                                <label for="discipline" class="control-label col-md-2">Disciplines</label>
                                <div class="col-md-10">
                                    <select class="form-control" name="discipline" id="id_discipline">
                                        <option value="" selected="">Select Discipline</option>
                                        {% for discipline in editor.discipline.all %}
                                            <option value="{{ discipline.name }}">{{ discipline.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <small id="id_discipline_error" class="es-error"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row paddingtop-20">
                        <div class="col-md-12">
                            <div class="form-group" id="id_price_error_parent_div">
                                <label for="price" class="control-label col-md-2">Price</label>
                                <div class="col-md-10">
                                    {{ paper_form.price }}
                                    <small id="id_price_error" class="es-error"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row paddingtop-20">
                        <div class="col-md-12">
                            <div class="form-group" id="id_description_error_parent_div">
                                <label for="description" class="control-label col-md-2">Description</label>
                                <div class="col-md-10">
                                    {{ paper_form.description }}
                                    <small id="id_description_error" class="es-error"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if not role == 'student' %}
                        <div class="row paddingtop-20">
                            <div class="col-md-12">
                                <div class="form-group" id="id_first_name_error_parent_div">
                                    <label for="name" class="control-label col-md-2">First Name</label>
                                    <div class="col-md-10">
                                        {{ paper_form.first_name }}
                                        <small id="id_first_name_error" class="es-error"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row paddingtop-20">
                            <div class="col-md-12">
                                <div class="form-group" id="id_last_name_error_parent_div">
                                    <label for="name" class="control-label col-md-2">Last Name</label>
                                    <div class="col-md-10">
                                        {{ paper_form.last_name }}
                                        <small id="id_last_name_error" class="es-error"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row paddingtop-20">
                            <div class="col-md-12">
                                <div class="form-group" id="id_email_error_parent_div">
                                    <label for="email" class="control-label col-md-2">Email</label>
                                    <div class="col-md-10">
                                        {{ paper_form.email }}
                                        <small id="id_email_error" class="es-error"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row paddingtop-20">
                        <div class="col-md-12">
                            <div class="form-group" id="id_words_count_error_parent_div">
                                <label for="words_count" class="control-label col-md-2">Words Count</label>
                                <div class="col-md-10">
                                    {{ paper_form.words_count }}
                                    <small id="id_words_count_error" class="es-error"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row paddingtop-20" style="margin-top: -10px;">
                        <div class="col-md-12">
                            <div class="form-group" id="id_paper_error_parent_div">
                                <label for="paper" class="control-label col-md-2">Paper</label>
                                <div class="col-md-10 paddingtop-20">
                                    {{ paper_form.paper }}
                                    <small id="id_paper_error" class="es-error"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer paddingtop-20">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" style="width: 80px;">Close</button>
                    <input type="submit" class="btn btn-primary btn-sm" value="Submit" style="width: 80px; float: right;">
                </div>
            </form>
        </div>
    </div>
</div>
