{% extends 'base.html' %}

{% load staticfiles %}
{% load ratings %}
{% load stars %}
{% block top %}
    <section class="breadcrumb-classic context-dark">
        <div class="shell section-30 section-sm-top-10 section-sm-bottom-10">
            <h2 class="veil reveal-sm-block text-center">Financial Activities</h2>
        </div>
    </section>
{% endblock %} 

{% block content %}
    <style type="text/css">
        h6{
            font-size: 15px!important;
        }
    </style>
    
    <div class="row">
        <div class="col-md-3 text-sm-left offset-top-60">
            <div class="profile-block" style="vertical-align:middle; text-align:center">
                <img src="{% if student.avatar %}{{ student.avatar.url }}
                {% else %}{% static 'images/nodp.jpg' %}{% endif %}"
                alt="{{ student.user.get_full_name }}" width="140" height="140" alt="" style="border-radius: 5px;">
            </div>
           
            <div class="profile-block offset-top-15">
                <div class="row">
                    <h6 class="text-center"><strong>{{ student.user.get_full_name }}</strong></h6>
                    {% if student.nationality %}
                        <h6 class="text-center"><strong>Nationality:</strong>&nbsp;{{ student.nationality }}</h6>  
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-9 text-sm-left offset-top-60">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="request_header">Financial Activities</h4>
                    <div class="offset-top-30 offset-sm-top-20 profile-block" style="color: black; margin-top: -20px;">
                        <input type="hidden" name="start" value="{{ start }}" id="start"/>
                        {% if activities %}
                            <table class="table table-striped">
                                <thead class="thead-default">
                                    <tr>
                                        <th>Title</th>
                                        <th>Date</th>
                                        <th>Editor</th>
                                        <th>Type</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody id="more_activities">
                                    {% for activity in activities %}
                                    <tr>
                                        <td>
                                        <a href="{% url 'paper_detail' activity.paper.id %}" style="text-decoration: none; color: #b80924;">{{ activity.paper.title|title }}</a></td>
                                        <td>{{ activity.created|date:"M d, Y" }}</td>
                                            <td class="col-md-3"> <a style="text-decoration: none;" href="{% url 'profile' activity.paper.editor.user.username %}">
                                            {{ activity.paper.editor.user.get_full_name }}</a></td>
                                            
                                        <td>
                                            <span class="tag label label-danger">{{ activity.type }}</span>
                                        </td>
                                        <td>{{ currency }} {{ activity.get_dollar_amount|floatformat:"2" }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                        <div class="row">
                            <div class="col-md-12 text-muted text-center">
                                <h4>No Financial Activity yet.</h4>
                            </div>
                        </div>
                        {% endif %} 
                    </div>
                    <div class="text-center" style="margin-bottom: 20px;">
                        <div id="spin_svg" style="text-align:center; display: none;">
                            <img src="{% static 'images/spin.svg'%}">
                        </div>
                        {% if more %}
                            <input class="btn btn-primary btn-sm" id="showmore_activities" type="submit" value="Show More" onclick="load_more_activities();"/>  
                        {% endif %}
                    </div>
                </div>
            </div>   
        </div>
    </div>
    
{% endblock %}

{% block javascript %}

<script type="text/javascript">

        function load_more_activities() {
            start = $('#start').val();
            $("#spin_svg").show();

            $.ajax({
                url: "{% url 'load_more_activities' %}",
                type: "GET",
                data: {
                    'start' : start,
                },
                success: function(response) {
                    $("#spin_svg").hide();
                    $("#showmore_activities").blur();
                    $("#more_activities").append(response.data);
                    $("#start").val(response.start);
                    if (response.more == false){
                        $("#showmore_activities").hide();
                    }
                }
            })
        }
   
    </script>
    
{% endblock %}
