{% extends 'base.html' %}
{% load staticfiles %}
{% load ratings %}
{% load stars %}

{% block content %}
    <style type="text/css">
        h6{
            font-size: 15px!important;
        }
    </style>

    <div class="row" style="margin-top: 18px;">
        <div class="col-md-3 text-sm-left">
            <div class="profile-block" style="vertical-align:middle; text-align:center">
                <img src="{% if student.avatar %}{{ student.avatar.url }}
                {% else %}{% static 'images/nodp.jpg' %}{% endif %}"
                alt="{{ student.user.get_full_name }}" width="140" height="140" alt="" style="border-radius: 5px;">
            </div>
           
            <div class="profile-block offset-top-15">
                <div class="row">
                    <h6 class="text-center"><strong>{{ student.user.get_full_name }}</strong></h6>
                    {% if student.nationality %}
                        <h6 class="text-center"><strong>Nationality:</strong>&nbsp;{{ student.nationality }}</h6>  
                    {% endif %}
                </div>
            </div>
            <div class="profile-block hidden-xs offset-top-15" style="color: black; line-height: 30px;margin-bottom: 20px;">
                <h6><strong>Recently Viewed</strong></h6>
                <div style="margin-top: 10px; text-align: justify;">
                    {% for editors in save_profile_viewer %}
                        <p>
                            <a href="{% url 'profile' editors.editor.user.username %}">
                                <img src="{% if editors.editor.avatar %}{{ editors.editor.avatar.url }}{% else %}{% static 'images/nodp.jpg' %}{% endif %}" style="border-radius: 3px;" width="30" height="30">
                                <small>
                                    <a href="{% url 'profile' editors.editor.user.username %}">{{ editors.editor }}</a>
                                </small>
                            </a>
                        </p>
                    {% empty %}
                        <p>No Recent Search</p>    
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-9 text-sm-left">
            <div class="row hidden-xs">
                <div class="col-md-12" style="margin-top: -20px;">
                    <h4 class="request_header offset-sm-top-20">Quotation Request</h4>
                    <div class="profile-block" style="color: black; margin-top: -20px; padding: 2px;">
                        <input type="hidden" name="start1" value="{{ start1 }}" id="start1"/>
                        {% if quotes %}
                            <table class="table">
                                <thead class="thead">
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Date</th>
                                        <th>Editor</th>
                                        <th>Action</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody id="more_quotes">
                                    {% for quote in quotes %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ quote.title }}</td>
                                        <td>{{ quote.created|date:"M d, Y" }}</td>
                                        <td><a style="text-decoration:none;" href="{% url 'profile' quote.editor.user.username %}">{{ quote.editor.user.get_full_name }}</a></td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-xs" onclick="openmodal('{{ quote.editor.id }}')" style="font-size: 10px;">Submit Paper</button>
                                        </td>
                                        <td>
                                            <p title="Description" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="{{ quote.description }}" style="cursor: pointer; color: #b80924;">{{ quote.description|truncatechars:10 }}</p>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="row">
                                <div class="text-muted text-center"><p style="margin-top: 10px; margin-bottom: 10px;">No qoute requested yet.</p></div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="text-center" style="margin-bottom: 20px;">
                        <div id="spin_svg_quotes" style="text-align:center; display: none;">
                            <img src="{% static 'images/spin.svg'%}">
                        </div>
                        {% if more1 %}
                        <input class="btn btn-primary btn-sm" id="showmore_quotes" type="submit" value="Show More" onclick="load_more_quotes();"/>  
                        {% endif %}
                    </div>
                </div>    
            </div>
            <div class="row visible-xs">
                <div class="col-md-12" style="margin-top: 10px;">
                    <h4 class="request_header offset-sm-top-20">Quotation Request</h4>
                    <div class="profile-block" style="color: black; margin-top: -20px; padding: 2px;">
                        <input type="hidden" name="start1" value="{{ start1 }}" id="start1"/>
                        {% if quotes %}
                            <table class="table">
                                <thead class="thead">
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Date</th>
                                        <th>Editor</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="more_quotes">
                                    {% for quote in quotes %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ quote.title }}</td>
                                        <td>{{ quote.created|date:"M d, Y" }}</td>
                                        <td><a style="text-decoration:none;" href="{% url 'profile' quote.editor.user.username %}">{{ quote.editor.user.get_full_name }}</a></td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-xs" onclick="openmodal('{{ quote.editor.id }}')" style="font-size: 10px;">submit paper</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="row">
                                <div class="text-muted text-center">No qoute requested yet.</div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="text-center" style="margin-bottom: 20px;">
                        <div id="spin_svg_quotes" style="text-align:center; display: none;">
                            <img src="{% static 'images/spin.svg'%}">
                        </div>
                        {% if more1 %}
                        <input class="btn btn-primary btn-sm" id="showmore_quotes" type="submit" value="Show More" onclick="load_more_quotes();"/>  
                        {% endif %}
                    </div>
                </div>    
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="request_header">Paper Request</h4>
                    <div class="offset-top-30 offset-sm-top-20 profile-block" style="color: black; margin-top: -20px;">
                        <input type="hidden" name="start" value="{{ start }}" id="start"/>
                        {% if papers %}
                            <table class="table">
                                <thead class="thead-default">
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Date</th>
                                        <th>Price</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody id="more_paper">
                                    {% for paper in papers %}

                                    <tr class='clickable-row' data-href="{% url 'paper_detail' paper.id %}" style="cursor: pointer;">   
                                        <td>{{ forloop.counter }}</td>
                                        <td>
                                        <a href="{% url 'paper_detail' paper.id %}" style="text-decoration: none; color: #b80924;">{{ paper.title|title }}</a></td>
                                        <td>{{ paper.created|date:"M d, Y" }}</td>
                                        <td>{{ currency }} {{ paper.price_paid|floatformat:"2" }}</td>
                                        <td>{{ paper.status }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="row">
                                <div class="text-muted text-center">No paper requested yet.</div>
                            </div>
                        {% endif %}  
                    </div>
                    <div class="text-center">
                        <div id="spin_svg" style="text-align:center; display: none;">
                            <img src="{% static 'images/spin.svg'%}">
                        </div>
                        {% if more %}
                        <input class="btn btn-primary btn-sm" id="showmore_paper" type="submit" value="Show More" onclick="load_more_paper();"/>  
                        {% endif %}
                    </div>
                </div>
            </div>    
            <div class="row">    
                <div class="offset-sm-top-20 offset-sm-top-20 profile-block visible-xs" style="color: black; line-height: 30px; padding: 30px;margin-bottom: 20px;">
                    <h6><strong>Recently Viewed</strong></h6>
                    <div style="margin-top: 10px; text-align: justify;">
                        {% for editors in save_profile_viewer %}
                            <p>
                                <a href="{% url 'profile' editors.editor.user.username %}">
                                    <img src="{% if editors.editor.avatar %}{{ editors.editor.avatar.url }}{% else %}{% static 'images/nodp.jpg' %}{% endif %}" style="border-radius: 3px;" width="30" height="30">
                                    <small>
                                        <a href="{% url 'profile' editors.editor.user.username %}">{{ editors.editor }}</a>
                                    </small>
                                </a>
                            </p>
                        {% empty %}
                            <p>No Recent Search</p>    
                        {% endfor %}
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <!-- paper-modal-->

{% endblock %}

{% block javascript %}

    <script src={% static 'js/jquery.jtruncate.js' %}></script>

	<script type="text/javascript">
        $(document).ready(function(){

            $('[data-toggle="popover"]').popover();

            $('.description_truncate').jTruncate({
                length: 40,
                minTrail: 0,
                moreText: "Show More",
                lessText: "Less",
                ellipsisText: "...",
                moreAni: "",
                lessAni: ""
            });
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });

        
        $(function(){
            
            $('#paper_link').on('click', function(){
                $("li").removeClass('active');
                $("#quote_link").removeClass('active');
                
            });

            $('#quote_link').on('click', function(){
                $("li").removeClass('active');
                $("#paper_link").removeClass('active');
                
            });
            
            {% if query %}
                $('#paper_link').click();
            {% endif %}
        });

        function load_more_paper() {
            start = $('#start').val();
            $("#spin_svg").show();

            $.ajax({
                url: "{% url 'load_more_paper' %}",
                type: "GET",
                data: {
                    'start' : start,
                },
                success: function(response) {
                    $("#spin_svg").hide();
                    $("#showmore_paper").blur();
                    $("#more_paper").append(response.data);
                    $("#start").val(response.start);
                    if (response.more == false){
                        $("#showmore_paper").hide();
                    }
                }
            })
        }

        function load_more_quotes() {
            start1 = $('#start1').val();
            $("#spin_svg_quotes").show();

            $.ajax({
                url: "{% url 'load_more_quotes' %}",
                type: "GET",
                data: {
                    'start1' : start1,
                },
                success: function(response) {
                    $("#spin_svg_quotes").hide();
                    $("#showmore_quotes").blur();
                    $("#more_quotes").append(response.data);
                    $('[data-toggle="popover"]').popover();

                    $("#start1").val(response.start1);
                    if (response.more1 == false){
                        $("#showmore_quotes").hide();
                    }
                }
            })
        }
   
    </script>

{% endblock %}
