{% extends 'base.html' %}
{% load staticfiles %}

{% block top %}
    <section class="breadcrumb-classic context-dark">
        <div class="shell section-30 section-sm-top-10 section-sm-bottom-10">
            <h2 class="veil reveal-sm-block text-center">Login</h2>
        </div>
    </section>
{% endblock %}            

{% block content %}
    <style type="text/css">
        .error {
            display: none!important;
        }
    </style>

    <main class="page-content section-70 section-md-114">
        <section class="section-98 section-sm-110 section-bottom-66">
            <div class="shell">
                <div class="range range-xs-center section-34">
                    <div class="cell-xs-8 cell-sm-6 cell-md-6">
                        <!-- <h2 class="text-bold text-center">Sign In</h2>
                        <hr class="divider bg-madison"> -->
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Sign In</h5>
                                <div class="text-subline"></div>
                            </div>
                        </div>
                        <form id="login_form" class="form-horizontal" method="post" style="color: black; margin-top: 20px;">
                            {% csrf_token %}
                            {% if form.non_field_errors and not form.email.errors %}
                                <small class="es-error">{{ form.non_field_errors.as_text }}</small>
                            {% elif error_message %}
                                <small class="es-error">{{ error_message }}</small>
                            {% endif %}
                            <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                                <div class="col-md-12">
                                    <label for="id_email" class="control-label"><h5><strong>Email:</strong></h5></label>
                                    {{ form.email }}
                                    <small><div class="help-block with-errors"></div></small>
                                    <small class="es-error">{{ form.email.errors.as_text }}</small>
                                </div>
                            </div>
                            <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                                <div class="col-md-12">
                                    <label for="id_password" class="control-label"><h5><strong>Password:</strong></h5></label>
                                    {{ form.password }}
                                    <small><div class="help-block with-errors"></div></small>
                                    <small class="es-error">{{ form.password.errors.as_text }}</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="clearfix">
                                        <input class="btn btn-primary btn-md" type="submit" value="Login"/>
                                        <div class="pull-right" style="margin-top: 20px;">
                                            <a href="{% url 'user_identify' %}" ><strong>Forget Password?</strong></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <br>

{% endblock %}


{% block javascript %}

<script src ="{% static 'js/jquery.validate.min.js' %}"></script>
<script type="text/javascript">

    $(document).ready(function() {

        $('#login_form').validate({
            rules: {
                email: {
                    required: true
                },

                password:{
                    required: true
                }                
            },
            highlight: function(element) {

                $(element).closest('.form-group').addClass('has-error');
                $(element).closest('.form-group').find('.es-error').text("This field is required.").show();
               
            },
            success: function(element) {

                $(element).closest('.form-group').removeClass('has-error');
                $(element).closest('.form-group').find('.es-error').hide();

            },
            submitHandler: function(form) {
                form.submit()
            }

        });
    });    
</script>
{% endblock %}
