{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}
{% load staticfiles %}

{% block top %}
    <section class="breadcrumb-classic context-dark">
        <div class="shell section-30 section-sm-top-10 section-sm-bottom-10">
            <h2 class="veil reveal-sm-block text-center">Reset Password</h2>
        </div>
    </section>
{% endblock %}

{% block content %}
    <style type="text/css">
        .error {
            display: none!important;
        }
    </style>

    <main class="page-content section-70 section-md-114">
        <section class="section-98 section-sm-110 section-bottom-66">
            <div class="shell">
                <div class="range range-xs-center section-34">
                    <div class="cell-xs-8 cell-sm-6 cell-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Reset Password</h5>
                                <div class="text-subline"></div>
                            </div>
                        </div>
                        <form id="res_pass" class="form-horizontal" method="post" style="color: black; margin-top: 20px;">
                            {% csrf_token %}
                            
                            <div class="form-group {% if form.new_password.errors %}has-error{% endif %}">
                                <div class="col-md-12">
                                    <label for="id_new_password" class="control-label"><h5><strong>New Password:</strong></h5></label>
                                    {{ form.new_password }}
                                    <small><div class="help-block with-errors"></div></small>
                                    <small class="es-error">{{ form.new_password.errors.as_text }}</small>
                                </div>
                            </div>
                            <div class="form-group {% if form.confirm_password.errors %}has-error{% endif %}">
                                <div class="col-md-12">
                                    <label for="id_confirm_password" class="control-label"><h5><strong>Confirm Password:</strong></h5></label>
                                    {{ form.confirm_password }}
                                    <small><div class="help-block with-errors"></div></small>
                                    <small class="es-error">{{ form.confirm_password.errors.as_text }}</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="clearfix">
                                        <div>
                                            <input class="btn btn-primary btn-md" type="submit" value="Reset Password"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <br>
    
   
{% endblock %}

{% block javascript %}

<script src ="{% static 'js/jquery.validate.min.js' %}"></script>
<script type="text/javascript">

    $(document).ready(function() {

        $('#res_pass').validate({
            rules: {
                new_password: {
                    required: true
                },

                confirm_password:{
                    required: true
                }                
            },
            highlight: function(element) {

                $(element).closest('.form-group').addClass('has-error');
                $(element).closest('.form-group').find('.es-error').text("This field is required.").show();
               
            },
            success: function(element) {

                $(element).closest('.form-group').removeClass('has-error');
                $(element).closest('.form-group').find('.es-error').hide();

            },
            submitHandler: function(form) {
                form.submit()
            }

        });
    });    
</script>
{% endblock %}

