{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Reset Password{% endblock %}

{% block top %}
    <section class="breadcrumb-classic context-dark">
        <div class="shell section-30 section-sm-top-10 section-sm-bottom-10">
            <h2 class="veil reveal-sm-block text-center">Reset Password</h2>
        </div>
    </section>
{% endblock %}

{% block content%}
<style type="text/css">
       
        .error {
            display: none!important;
        }
    </style>

    <main class="page-content section-70 section-md-114">
        <section class="section-98 section-sm-110 section-bottom-66">
            <div class="shell">
                <div class="range range-xs-center section-34">
                    <div class="cell-xs-8 cell-sm-6 cell-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Forgot Password</h5>
                                <div class="text-subline"></div>
                            </div>
                        </div>
                        <form class="form-horizontal" id="user_iden" method="post" style="color: black; margin-top: 20px;">
                            {% csrf_token %}
                            <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                                <div class="col-md-12">
                                    <label for="id_email" class="control-label"><h5><strong>Email</strong></h5></label>
                                    <input id="id_email" type="text" class="form-control" name="email" placeholder="Email" aria-describedby="basic-addon1">
                                    <small><div class="help-block with-errors"></div></small>
                                    <small class="es-error">{{ form.email.errors.as_text }}</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="clearfix">
                                        <input class="btn btn-primary btn-md" type="submit" value="Reset Password"/>
                                        <div class="pull-right" style="margin-top: 20px;">
                                            <a href="{% url 'user_login' %}"><strong>Login</strong></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <br>
{% endblock %}

{% block javascript %}
    
    <script src ="{% static 'js/jquery.validate.min.js' %}"></script>

    <script type="text/javascript">
        
        $(document).ready(function() {

            $('#user_iden').validate({
                rules: {
                    email: {
                        required: true
                    },
                    
                },
                highlight: function(element) {

                    $(element).closest('.form-group').addClass('has-error');
                    $(element).closest('.form-group').find('.es-error').text("This field is required.").show();
                   
                },
                success: function(element) {

                    $(element).closest('.form-group').removeClass('has-error');
                    $(element).closest('.form-group').find('.es-error').hide();

                },
                submitHandler: function(form) {
                    form.submit()
                }

            });
        });    
    </script>
{% endblock %}

