{% extends 'base.html' %}
{% load staticfiles %}

{% block top %}
    <section class="breadcrumb-classic context-dark">
        <div class="shell section-30 section-sm-top-10 section-sm-bottom-10">
            <h2 class="veil reveal-sm-block text-center">Registration</h2>
        </div>
    </section>
{% endblock %} 

{% block content %}
    <style type="text/css">
        
        h6{
            font-size: 15px!important;
        }
    </style>

   <div class="row">
        <div class="col-md-10 col-md-offset-1" style="margin-top: 100px;">
            <div class="row" id="id_qualifications">
                <div class="col-md-10 col-md-offset-1">
                    <div class="pull-left">
                        <h5>Qualifications</h5>
                    </div>
                    <div class="pull-right">
                        <a id="add_more_qualification" class="btn btn-primary btn-sm disabled">
                            <span class="glyphicon glyphicon-plus"></span> Add
                        </a>
                    </div>
                </div>    
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="text-subline" style="margin-top: 5px;"></div>
                </div>    
            </div>
            <div class="row">
                <div class="col-md-12 col-md-offset-1">
                    <div id="id_added_qualifications">
                        {% for qualification in  qualification_detail_content %}
                            {{ qualification }}
                        {% endfor %}
                    </div>
                </div>    
            </div>
            <div class="row">
                <div class="col-md-12 col-md-offset-1">
                    {{ qualification_form_content }}
                </div>
            </div>
            <div class="row" id="id_experiences" style="margin-top: 40px;">
                <div class="col-md-10 col-md-offset-1">
                    <div class="pull-left">
                        <h5>Experiences</h5>
                    </div>
                    <div class="pull-right">
                        <a id="add_more_experience" class="btn btn-primary btn-sm disabled">
                            <span class="glyphicon glyphicon-plus"></span> Add
                        </a>
                    </div>
                </div>    
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="text-subline" style="margin-top: 5px;"></div>
                </div>    
            </div>
            <div class="row">
                <div class="col-md-12 col-md-offset-1">
                    <div id="id_added_experience">
                        {% for experience in  experience_detail_content %}
                            {{ experience }}
                        {% endfor %}
                    </div>
                </div>    
            </div>
            <div class="row">
                <div class="col-md-12 col-md-offset-1">
                    {{ experience_form_content }}
                </div>    
            </div>
            <div class="row" style="margin-top: 60px;">
                <div class="col-md-10 col-md-offset-1">
                    <h5>Submit Application</h5>
                    <div class="text-subline" style="margin-top: -2px;"></div>
                </div>    
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-6 col-md-offset-3" style="margin-top: 20px;">
                        <div class="form-group checkbox">
                            <input type="checkbox" name="completedRadios"><strong style="color: black">I agree to the Terms and Conditions.</strong></i>
                        </div>
                    </div>    
                </div>    
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="text-center">
                            <a class="btn btn-primary" id="final_submit" href="{% url 'create_editor_step4' %}" value="Save">Complete</a>
                            <span style="margin: 20px; font-size: 19px;"> Or </span>
                            <a class="btn btn-primary" href="{% url 'create_editor_step4' %}" value="Save">Save and Continue Later</a>
                        </div>
                    </div>    
                </div>    
            </div>
        </div>
   </div>   

{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function(){
        if($('input[name=completedRadios]:checked').length<=0){
            $("#final_submit").addClass('disabled');
        }
        $("input[name=completedRadios]").change(function(){
            if($('input[name=completedRadios]:checked').length<=0){
                $("#final_submit").addClass("disabled");
            }else{
                $("#final_submit").removeClass("disabled");   
            }
            
        });

        if($('input[name=is_current]:checked').length > 0){
           $("#id_to_experience").hide();
        }else{
            $("#id_to_experience").show();
        }
        $("input[name=is_current]").change(function(){
            if($('input[name=is_current]:checked').length > 0){
               $("#id_to_experience").hide();
            }else{
                $("#id_to_experience").show();
            }
        });

    });
</script>
{% endblock %}
