{% extends 'base.html' %}
{% block top %}
    <section class="breadcrumb-classic context-dark">
        <div class="shell section-30 section-sm-top-10 section-sm-bottom-10">
            <h2 class="veil reveal-sm-block text-center">Registration completed</h2>
        </div>
    </section>
{% endblock %} 
{% block content %}
<main class="page-content section-70 section-md-114">
    <section class="section-98 section-sm-110 section-bottom-66">
        <div class="shell">
            <div class="range range-xs-center section-34">
                <div class="cell-xs-8 cell-sm-6 cell-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Thanks for Registration</h5>
                            <div class="text-subline"></div>
                        </div>
                    </div>
                    <p>We've received your application for editor account. </p>
					<p>You will receive the confirmation email once the admin verify your application.</p>
					<p>To visit the education studio, please <a href="/">click here</a></p>
				</div>
			</div>
		</div>
	</section>
</main>	

{% endblock %}
