{% extends 'base.html' %}
{% block top %}
    <section class="breadcrumb-classic context-dark">
        <div class="shell section-30 section-sm-top-10 section-sm-bottom-10">
            <h2 class="veil reveal-sm-block text-center">Examination</h2>
        </div>
    </section>
{% endblock %} 
{% block content %}

    <div class="row" style="margin-top: 40px;">
        <div class="col-md-8 col-md-offset-2 paddingtop-20">
            <h5>Exam Information</h5>
            <div class="text-subline"></div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 40px; margin-top: 20px;">
        <div class="col-md-8 col-md-offset-2">
            <div class="text-center">
                <h6>In Order to register you must complete the following exam:</h6><br>
                <h6>The Exam is consist of 20 multiple choice question. You have 20 minutes to complete the exam.</h6><br>
                <h6>Upon successfully passing the exam you can proceed to complete the registration process.</h6><br>
                <div class="text-center">
                    <a class="btn btn-primary btn-sm" href="{% url 'create_test' %}" value="Save" style="width: 150px; height: 40px; font-size: 18px;">Start Quiz</a>
                </div>
            </div>
        </div>
    </div>         

{% endblock %}
