{% extends 'base.html' %}

{% load staticfiles %}

{% block top %}
    <section class="breadcrumb-classic context-dark">
        <div class="shell section-30 section-sm-top-10 section-sm-bottom-10">
            <h2 class="veil reveal-sm-block text-center">Editing Services</h2>
        </div>
    </section>
{% endblock %} 


{% block content %}
	<style type="text/css">
        .multiselect{
            display: none;
        }
        h6{
        	font-size: 15px;
        }
        
    </style>
   <div class="col-md-12"> 
	    <div class="row" style="margin-top: 40px; margin-bottom: 40px;">
	        <div class="profile-block">
				<div class="row" style="padding: 20px">
					<div class="col-md-6">
						<h3 style="line-height: 40px;word-spacing: 5px;">Have your paper proof-read and edited by a professional in the academic field required</h3>
	                    <div class="text-subline"></div>
						<br>
						<p style="line-height: 30px;font-size:17px;word-spacing: 5px; text-align: justify;">First find an editor, then submit a quotation request, then review and approve the quotation from the editor, accept and deposit the payment for the job, review and approve the job done and finally release the payment.</p>
						<a class="btn btn-primary" href="/editors/">View All Editors</a>
						<br>
						<br>
					</div>
					<div class="col-md-5 col-md-offset-1" style="color: black;">
						<form method="GET" action="{% url 'home' %}" id="id_editor_search">
							<div class="form-group">
								<div class="es-form-control">
									<span class="glyphicon glyphicon-search"></span>
									<input type="text" class="editornameinput" name="q" id="id_editorquery" value="{{ query }}" placeholder="Search Editors" autocomplete="off">
								</div>
							</div>
							<div class="form-group paddingtop-20">
								<label for="id_discipline" class="control-label"><strong style="font-size: 17px;">Discipline:</strong></label>
								<select multiple="multiple" id="id_discipline" name="disciplines">
									{% for name in discipline_list %}
										<option value="{{ name }}">{{ name.title }}</option>
									{% endfor %}
								</select>
							</div>      
							<div class="paddingtop-20">
								<label for="id_research_method" class="control-label"><strong style="font-size: 17px;">Research Methods:</strong></label>
	                            <div>
	                            	<label class="checkbox-inline">
	                            		<input type="checkbox" {% if 'Quantitative' in research_method %}checked="checked"{% endif %} name="research_method" value="Quantitative" id="id_quantitative"> 
	                            		Quantitative
	                            	</label>

	                                <label class="checkbox-inline">
	                                	<input type="checkbox" {% if 'Qualitative' in research_method %}checked="checked"{% endif %} name="research_method" value="Qualitative" id="id_qualitative"> 
	                                	Qualitative
	                                </label>

	                                <label class="checkbox-inline">
	                                	<input type="checkbox" {% if 'Others' in research_method %}checked="checked"{% endif %} name="research_method" value="Others" id="id_others"> 
	                                	Others
	                                </label>
	                            </div>
	                                
		                        <div class="form-group">
		                            <input class="form-control" id="id_optional_research_methods"  type="text" placeholder="Others Research Methods" name="optional_research_methods" style="display: none; margin-top: 20px;" value="{{ optional_research_methods }}">
		                        </div>
							</div>
							<div class="form-group">
								<input class="form-control" id="id_optional_research_methods"  type="text" placeholder="Others Research Methods" name="optional_research_methods" style="display: none;" value="">
							</div>
							{% if top_degree_list %}
								<div class="form-group paddingtop-20">
									<label for="id_discipline" class="control-label"><strong style="font-size: 17px;">Degree:</strong></label>
									<select multiple="multiple" id="id_degree" name="degree">
										{% for degree in top_degree_list %}
											<option value="{{ degree.degree_level }}">{{ degree.degree_level }} ({{ degree.degree_count }})</option>
										{% endfor %}
									</select>
								</div>
							{% endif %}
							<div class="form-group paddingtop-20">
								<label><strong style="font-size: 17px;">Research Interests:</strong></label>
								<input class="form-control" id="id_research_interest" name="interests" value="" type="text">
							</div>
							<div class="form-group">
								<button class="btn btn-primary btn-block" type="submit">Search</button>
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 paddingtop-20">
						<h2 style="line-height: 40px;word-spacing: 5px;text-align:center;">Why choose us?</h2>
						<div class="col-md-6 col-md-offset-3">
							<div class="text-subline"></div>
						</div>
						<br/>
						<div>
							<ul style="list-style:none;">
								<li>
									<p style="line-height: 30px;font-size:17px;word-spacing: 5px;"><i class="glyphicon glyphicon-lamp"></i>  Experienced editors and proof-readers in your academic field.</p>
								</li>
								<li>
									<p style="line-height: 30px;font-size:17px;word-spacing: 5px;"><i class="glyphicon glyphicon-usd"></i>  Lowest prices in the market.</p>
								</li>
								<li>
									<p style="line-height: 30px;font-size:17px;word-spacing: 5px;"><i class="glyphicon glyphicon-lock"></i>  Security, Confidentiality and money back guaranteed.</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
{% endblock %}

{% block javascript %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tagsinput.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tagsinput-typeahead.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-multiselect.css' %}" type="text/css"/>
	<script src="{% static 'js/bloodhound.min.js' %}" ></script>
	<script src="{% static 'js/bootstrap-multiselect.js' %}"></script>
	<script src="{% static 'js/bootstrap-typeahead.js' %}"></script>
	<script src="{% static 'js/bootstrap-tagsinput.js' %}"></script>
	<script src="{% static 'js/jquery.jtruncate.js' %}"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			$("#id_others").on("change", function() {
				if($("#id_others").prop("checked") == true){
					$("#id_optional_research_methods").show();
					$("#id_quantitative").prop("checked", "");
					$("#id_qualitative").prop("checked", "");
				} else {
					$("#id_optional_research_methods").val('');
					$("#id_optional_research_methods").hide();
				}
			})

			$(document).ready(function() {
				$('#id_discipline').multiselect();
				includeSelectAllOption: true;
				$('#id_degree').multiselect();
				includeSelectAllOption: true;
			});

			$("#id_quantitative, #id_qualitative").on("change", function() {
				if($(this).prop("checked") == true){
					$("#id_optional_research_methods").val('');
					$("#id_optional_research_methods").hide();
					$("#id_others").prop("checked", "");
				}
			})
			{% if 'Others' in research_method %}
				$("#id_optional_research_methods").show();
			{% endif %}

			var interests = new Bloodhound({
				datumTokenizer: function (datum) {
					return Bloodhound.tokenizers.whitespace(datum.id);
				},
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url: '{% url "get_research_interest" %}?q=%QUERY',
					wildcard: '%QUERY',
					filter: function (results) {
						return results;
					}
				},
			});

			interests.initialize();

			var elt = $('#id_research_interest');
			elt.tagsinput({
				freeInput: true,
				typeaheadjs: {
					name: 'title',
					limit: 20,
					source: interests.ttAdapter()
				}
			});

			{% for interest in research_interest %}
				$('#id_research_interest').tagsinput('add', "{{ interest }}");
			{% endfor %}

		});

	</script>
{% endblock %}

