{% extends 'base.html' %}
{% load staticfiles %}
{% block top %}
    <section class="breadcrumb-classic context-dark">
        <div class="shell section-30 section-sm-top-10 section-sm-bottom-10">
            <h2 class="veil reveal-sm-block text-center">Edit Profile</h2>
        </div>
    </section>
{% endblock %} 

{% block content %}
    <style type="text/css">
        .multiselect{
            display: none;
        }
        .error {
            display: none!important;
        }
        .responsive-tabs .resp-tab-content {
            padding: 0;
            text-align: left;
        }
        h6{
            font-size: 15px!important;
        }
    </style>
    
    <div class="col-md-offset-2">
        <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
            <div data-type="horizontal" class="responsive-tabs responsive-tabs-classic horizontal">
                <ul data-group="tabs-group-default" class="col-md-10 resp-tabs-list tabs-1 text-center tabs-group-default" style="margin-bottom: 60px;">
                  <li>Personal and Address Information</li>
                  <li>Qualification and Experience</li>
                </ul>
                <div data-group="tabs-group-default" class="resp-tabs-container text-sm-left tabs-group-default">
                    <div>
                        <!-- Personal and Address Information -->
                        <form class="form-horizontal" id="first_form" role="form" method="post" enctype="multipart/form-data" style="color: black;">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="col-sm-2 col-md-offset-0 col-xs-offset-3">
                                            <label for="id_avatar" class="control-label" style="cursor: pointer; margin-left: 40px;"><h6><strong>Profile</strong></h6></label>
                                            <div class="inset-sm-right-30" style="cursor: pointer;">
                                                <div id="id_avatar_img" class="avatar_img thubmnail-inner img-rounded">
                                                    <img src="{% if editor.avatar %}{{ editor.avatar.url }}{% else %}{% static 'images/nodp.jpg' %}{% endif %}" class="" alt="Cinque Terre">
                                                </div>
                                            </div>
                                            {{ form.avatar }}
                                            <input type="text" id="id_default_avatar" name="default_avatar" style="display: none;">
                                            {{ form.avatar.errors.as_text }}
                                            <small class="help-block with-errors"></small>
                                        </div>
                                    </div>
                                    <p class="es-error" id="image_error" style="display: none;">Image field is required.</p>
                                </div>
                                <div class="col-md-7 default_avatar_web" style="margin-top: 40px; margin-left: 10px;">
                                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="border-radius: 5px;">
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <div class="avatar_img">
                                                            <img data-avatar="{% static 'images/boy.png' %}" src="{% static 'images/boy.png' %}" width="100%" style="cursor: pointer;">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <div class="avatar_img">
                                                            <img data-avatar="{% static 'images/businessman.png' %}" src="{% static 'images/businessman.png' %}" width="100%" style="cursor: pointer;">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <div class="avatar_img">
                                                            <img data-avatar="{% static 'images/businesswoman.png' %}" src="{% static 'images/businesswoman.png' %}" width="100%" style="cursor: pointer;">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <div class="avatar_img">
                                                            <img data-avatar="{% static 'images/man.png' %}" src="{% static 'images/man.png' %}" width="100%" style="cursor: pointer;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <div class="avatar_img">
                                                            <img data-avatar="{% static 'images/man2.png' %}" src="{% static 'images/man2.png' %}" width="100%" style="cursor: pointer;">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <div class="avatar_img">
                                                            <img data-avatar="{% static 'images/man3.png' %}" src="{% static 'images/man3.png' %}" width="100%" style="cursor: pointer;">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <div class="avatar_img">
                                                            <img data-avatar="{% static 'images/man4.png' %}" src="{% static 'images/man4.png' %}" width="100%" style="cursor: pointer;">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <div class="avatar_img">
                                                            <img data-avatar="{% static 'images/man5.png' %}" src="{% static 'images/man5.png' %}" width="100%" style="cursor: pointer;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <div class="avatar_img">
                                                            <img data-avatar="{% static 'images/man6.png' %}" src="{% static 'images/man6.png' %}" width="100%" style="cursor: pointer;">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <div class="avatar_img">
                                                            <img data-avatar="{% static 'images/man7.png' %}" src="{% static 'images/man7.png' %}" width="100%" style="cursor: pointer;">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <div class="avatar_img">
                                                            <img data-avatar="{% static 'images/man8.png' %}" src="{% static 'images/man8.png' %}" width="100%" style="cursor: pointer;">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <div class="avatar_img">
                                                            <img data-avatar="{% static 'images/man9.png' %}" src="{% static 'images/man9.png' %}" width="100%" style="cursor: pointer;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <div class="avatar_img">
                                                            <img data-avatar="{% static 'images/man10.png' %}" src="{% static 'images/man10.png' %}" width="100%" style="cursor: pointer;">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <div class="avatar_img">
                                                            <img data-avatar="{% static 'images/man11.png' %}" src="{% static 'images/man11.png' %}" width="100%" style="cursor: pointer;">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <div class="avatar_img">
                                                            <img data-avatar="{% static 'images/man12.png' %}" src="{% static 'images/man12.png' %}" width="100%" style="cursor: pointer;">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <div class="avatar_img">
                                                            <img data-avatar="{% static 'images/man13.png' %}" src="{% static 'images/man13.png' %}" width="100%" style="cursor: pointer;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <div class="avatar_img">
                                                            <img data-avatar="{% static 'images/man14.png' %}" src="{% static 'images/man14.png' %}" width="100%" style="cursor: pointer;">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <div class="avatar_img">
                                                            <img data-avatar="{% static 'images/man15.png' %}" src="{% static 'images/man15.png' %}" width="100%" style="cursor: pointer;">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <div class="avatar_img">
                                                            <img data-avatar="{% static 'images/woman.png' %}" src="{% static 'images/woman.png' %}" width="100%" style="cursor: pointer;">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <div class="avatar_img">
                                                            <img data-avatar="{% static 'images/woman1.png' %}" src="{% static 'images/woman1.png' %}" width="100%" style="cursor: pointer;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <div class="avatar_img">
                                                            <img data-avatar="{% static 'images/woman2.png' %}" src="{% static 'images/woman2.png' %}" width="100%" style="cursor: pointer;">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <div class="avatar_img">
                                                            <img data-avatar="{% static 'images/woman3.png' %}" src="{% static 'images/woman3.png' %}" width="100%" style="cursor: pointer;">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <div class="avatar_img">
                                                            <img data-avatar="{% static 'images/woman4.png' %}" src="{% static 'images/woman4.png' %}" width="100%" style="cursor: pointer;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                         </a>
                                    </div>
                                </div>
                                <div class="col-md-7 col-md-offset-1 default_avatar_mob" style="margin-top: 40px;">
                                    <div id="carousel-example-generic-mob" class="carousel slide" data-ride="carousel" style="border-radius: 5px;">
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                                <div class="avatar_img" style="margin: 0 auto;">
                                                    <img data-avatar="{% static 'images/boy.png' %}" src="{% static 'images/boy.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="avatar_img" style="margin: 0 auto;">
                                                    <img data-avatar="{% static 'images/businessman.png' %}" src="{% static 'images/businessman.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="avatar_img" style="margin: 0 auto;">
                                                    <img data-avatar="{% static 'images/businesswoman.png' %}" src="{% static 'images/businesswoman.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="avatar_img" style="margin: 0 auto;">
                                                    <img data-avatar="{% static 'images/man.png' %}" src="{% static 'images/man.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="avatar_img" style="margin: 0 auto;">
                                                    <img data-avatar="{% static 'images/man2.png' %}" src="{% static 'images/man2.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="avatar_img" style="margin: 0 auto;">
                                                    <img data-avatar="{% static 'images/man3.png' %}" src="{% static 'images/man3.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="avatar_img" style="margin: 0 auto;">
                                                    <img data-avatar="{% static 'images/man4.png' %}" src="{% static 'images/man4.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="avatar_img" style="margin: 0 auto;">
                                                    <img data-avatar="{% static 'images/man5.png' %}" src="{% static 'images/man5.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="avatar_img" style="margin: 0 auto;">
                                                    <img data-avatar="{% static 'images/man6.png' %}" src="{% static 'images/man6.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="avatar_img" style="margin: 0 auto;">
                                                    <img data-avatar="{% static 'images/man7.png' %}" src="{% static 'images/man7.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="avatar_img" style="margin: 0 auto;">
                                                    <img data-avatar="{% static 'images/man8.png' %}" src="{% static 'images/man8.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="avatar_img" style="margin: 0 auto;">
                                                    <img data-avatar="{% static 'images/man9.png' %}" src="{% static 'images/man9.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="avatar_img" style="margin: 0 auto;">
                                                    <img data-avatar="{% static 'images/man10.png' %}" src="{% static 'images/man10.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="avatar_img" style="margin: 0 auto;">
                                                    <img data-avatar="{% static 'images/man11.png' %}" src="{% static 'images/man11.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="avatar_img" style="margin: 0 auto;">
                                                    <img data-avatar="{% static 'images/man12.png' %}" src="{% static 'images/man12.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="avatar_img" style="margin: 0 auto;">
                                                    <img data-avatar="{% static 'images/man13.png' %}" src="{% static 'images/man13.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="avatar_img" style="margin: 0 auto;">
                                                    <img data-avatar="{% static 'images/man14.png' %}" src="{% static 'images/man14.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="avatar_img" style="margin: 0 auto;">
                                                    <img data-avatar="{% static 'images/man15.png' %}" src="{% static 'images/man15.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="avatar_img" style="margin: 0 auto;">
                                                    <img data-avatar="{% static 'images/woman.png' %}" src="{% static 'images/woman.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="avatar_img" style="margin: 0 auto;">
                                                    <img data-avatar="{% static 'images/woman1.png' %}" src="{% static 'images/woman1.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="avatar_img" style="margin: 0 auto;">
                                                    <img data-avatar="{% static 'images/woman2.png' %}" src="{% static 'images/woman2.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="avatar_img" style="margin: 0 auto;">
                                                    <img data-avatar="{% static 'images/woman3.png' %}" src="{% static 'images/woman3.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="avatar_img" style="margin: 0 auto;">
                                                    <img data-avatar="{% static 'images/woman4.png' %}" src="{% static 'images/woman4.png' %}" width="100%" style="cursor: pointer;">
                                                </div>
                                            </div>
                                        </div>
                                        <a class="left carousel-control" href="#carousel-example-generic-mob" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-example-generic-mob" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                         </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 paddingtop-20">
                                    <h5>General Information</h5>
                                    <div class="text-subline"></div>
                                </div>
                            </div>

                            <div class="row paddingtop-20">
                                <div class="col-md-3">
                                    <label for="id_first_name" class="control-label"><h6><strong>First Name:</strong></h6></label>
                                </div>  
                                <div class="col-md-7">  
                                    <div class="form-group {% if form.first_name.errors %}has-error{% endif %}">
                                        {{ form.first_name }}
                                        <small class="es-error">{{ form.first_name.errors.as_text }}</small>
                                    </div>
                                </div>
                            </div>
                
                            <div class="row paddingtop-20">
                                <div class="col-md-3">
                                    <label for="id_last_name" class="control-label"><h6><strong>Last Name:</strong></h6></label>
                                </div>  
                                <div class="col-md-7">  
                                    <div class="form-group {% if form.last_name.errors %}has-error{% endif %}">
                                        {{ form.last_name }}
                                        <small class="es-error">{{ form.last_name.errors.as_text }}</small>
                                    </div>
                                </div>
                            </div>

                            <div class="row paddingtop-20">
                                <div class="col-sm-3">
                                    <label for="id_email" class="control-label"><h6><strong>Email:</strong></h6></label>
                                </div>  
                                <div class="col-sm-7">  
                                    <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                                        {{ form.email }}
                                        <small class="es-error">{{ form.email.errors.as_text }}</small>
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>

                            <div class="row paddingtop-20">
                                <div class="col-md-3">
                                    <label for="id_nationality" class="control-label"><h6><strong>Nationality:</strong></h6></label>
                                </div>  
                                <div class="col-md-7">  
                                    <div class="form-group {% if form.nationality.errors %}has-error{% endif %}">
                                        {{ form.nationality }}
                                        <small class="es-error">{{ form.nationality.errors.as_text }}</small>
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>

                            <div class="row paddingtop-20">
                                <div class="col-md-3">
                                    <label for="id_phone_no" class="control-label"><h6><strong>Phone No:</strong></h6></label>
                                </div>  
                                <div class="col-md-7">  
                                    <div class="form-group {% if form.phone_no.errors %}has-error{% endif %}">
                                        {{ form.phone_no }}
                                        <small class="es-error">{{ form.phone_no.errors.as_text }}</small>
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>

                            <div class="row paddingtop-20">
                                <div class="col-md-3">
                                    <label for="id_research_methods" class="control-label"><h6><strong>Research Methods:</strong></h6></label>
                                </div>  
                                <div class="col-md-7">  
                                    <div class="form-group {% if form.research_methods.errors %}has-error{% endif %}">
                                        {{ form.research_methods }}
                                        <small class="es-error">{{ form.research_methods.errors.as_text }}</small>
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>

                            <div class="row paddingtop-20" id="id_others" {% if not form.optional_research_methods.errors %}style="display: none;"{% endif %}>
                                <div class="col-md-3">
                                    <label for="id_optional_research_methods" class="control-label"><h6><strong>Other Research Methods:</strong></h6></label>
                                </div>  
                                <div class="col-md-7">  
                                    <div class="form-group {% if form.optional_research_methods.errors %}has-error{% endif %}">
                                        {{ form.optional_research_methods }}
                                        <small class="es-error">{{ form.optional_research_methods.errors.as_text }}</small>
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>

                            <div class="row paddingtop-20">
                                <div class="col-md-3">
                                    <label for="id_research_interest" class="control-label"><h6><strong>Research Interest:</strong></h6></label>
                                </div>  
                                <div class="col-md-7">  
                                    <div class="form-group {% if form.research_interest.errors %}has-error{% endif %}">
                                        <input class="form-control" id="id_research_interest" name="research_interest" value="" type="text">
                                        <small class="error">{{ form.research_interest.errors.as_text }}</small>
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>

                            <div class="row paddingtop-20">
                                <div class="col-md-3">
                                    <label for="id_referencing_style" class="control-label"><h6><strong>Refrence Style:</strong></h6></label>
                                </div>  
                                <div class="col-md-7">  
                                    <div class="form-group {% if form.referencing_style.errors %}has-error{% endif %}">
                                        {{ form.referencing_style }}
                                        <small class="es-error">{{ form.referencing_style.errors.as_text }}</small>
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>

                            <div class="row paddingtop-20" id="id_other_referencing_style" {% if not form.optional_referencing_style.errors %}style="display: none;"{% endif %}>
                                <div class="col-md-3">
                                    <label for="id_optional_referencing_style" class="control-label"><h6><strong>Other Reference Style :</strong></h6></label>
                                </div>  
                                <div class="col-md-7">  
                                    <div class="form-group {% if form.optional_referencing_style.errors %}has-error{% endif %}">
                                        {{ form.optional_referencing_style }}
                                        <small class="es-error">{{ form.optional_referencing_style.errors.as_text }}</small>
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>

                            <div class="row paddingtop-20">
                                <div class="col-md-3">
                                    <label for="id_discipline" class="control-label"><h6><strong>Disciplines:</strong></h6></label>
                                </div>  
                                <div class="col-md-7">  
                                    <div class="form-group {% if form.discipline.errors %}has-error{% endif %}">
                                        {{ form.discipline }}
                                        <small class="es-error">{{ form.discipline.errors.as_text }}</small>
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>

                            <div class="row paddingtop-20">
                                <div class="col-md-3">
                                    <label for="id_bio" class="control-label"><h6><strong>Bio:</strong></h6></label>
                                </div>  
                                <div class="col-md-7">  
                                    <div class="form-group {% if form.bio.errors %}has-error{% endif %}">
                                        {{ form.bio }}
                                        <small class="es-error">{{ form.bio.errors.as_text }}</small>
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>

                            <div class="row paddingtop-20">
                                <div class="col-md-3">
                                    <label for="id_identity_document" class="control-label"><h6><strong>Identity Proof:</strong></h6></label>
                                </div>  
                                <div class="col-md-7">  
                                    <div class="form-group {% if form.identity_document.errors %}has-error{% endif %}">
                                        {% if editor.identity_document %}
                                            <div id="id_display_identity_document">
                                                <a class="btn btn-danger btn-xs" title="Delete File" onclick="delete_notify('identity_document')" >
                                                    <span class="glyphicon glyphicon-trash" ></span>
                                                    {{ editor.get_identity_document }}
                                                </a>
                                            </div>
                                        {% endif %}
                                        {{ form.identity_document }}
                                        <small class="es-error">{{ form.identity_document.errors.as_text }}</small>
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>

                            <div class="row paddingtop-20">
                                <div class="col-md-10 paddingtop-20">
                                    <h5>Address Information</h5>
                                    <div class="text-subline"></div>
                                </div>
                            </div>

                            <div class="row paddingtop-20">
                                <div class="col-md-3">
                                    <label for="id_street1" class="control-label"><h6><strong>Street1:</strong></h6></label>
                                </div>  
                                <div class="col-md-7">  
                                    <div class="form-group {% if form.street1.errors %}has-error{% endif %}">
                                        {{ form.street1 }}
                                        <small class="es-error">{{ form.street1.errors.as_text }}</small>
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>

                            <div class="row paddingtop-20">
                                <div class="col-md-3">
                                    <label for="id_street2" class="control-label"><h6><strong>Street2:</strong></h6></label>
                                </div>  
                                <div class="col-md-7">  
                                    <div class="form-group {% if form.street2.errors %}has-error{% endif %}">
                                        {{ form.street2 }}
                                        <small class="es-error">{{ form.street2.errors.as_text }}</small>
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>

                            <div class="row paddingtop-20">
                                <div class="col-md-3">
                                    <label for="id_city" class="control-label"><h6><strong>City:</strong></h6></label>
                                </div>  
                                <div class="col-md-7">  
                                    <div class="form-group {% if form.city.errors %}has-error{% endif %}">
                                        {{ form.city }}
                                        <small class="es-error">{{ form.city.errors.as_text }}</small>
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>

                            <div class="row paddingtop-20">
                                <div class="col-md-3">
                                    <label for="id_state" class="control-label"><h6><strong>State:</strong></h6></label>
                                </div>  
                                <div class="col-md-7">  
                                    <div class="form-group {% if form.state.errors %}has-error{% endif %}">
                                        {{ form.state }}
                                        <small class="es-error">{{ form.state.errors.as_text }}</small>
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>

                            <div class="row paddingtop-20">
                                <div class="col-md-3">
                                    <label for="id_postal_code" class="control-label"><h6><strong>Post Code:</strong></h6></label>
                                </div>  
                                <div class="col-md-7">  
                                    <div class="form-group {% if form.postal_code.errors %}has-error{% endif %}">
                                        {{ form.postal_code }}
                                        <small class="es-error">{{ form.postal_code.errors.as_text }}</small>
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>

                            <div class="row paddingtop-20">
                                <div class="col-md-3">
                                    <label for="id_country" class="control-label"><h6><strong>Country:</strong></h6></label>
                                </div>  
                                <div class="col-md-7">  
                                    <div class="form-group {% if form.country.errors %}has-error{% endif %}">
                                        {{ form.country }}
                                        <small class="es-error">{{ form.country.errors.as_text }}</small>
                                        <small class="help-block with-errors"></small>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row paddingtop-20">
                                <div class="col-md-3">
                                    <label for="id_identity_document" class="control-label"><h6><strong>Address Proof:</strong></h6></label>
                                </div>  
                                <div class="col-md-7">  
                                    <div class="form-group {% if form.address_document.errors %}has-error{% endif %}">
                                        {% if editor.address_document %}
                                            <div id="id_display_address_document">
                                                <a class="btn btn-danger btn-xs" title="Delete File" onclick="delete_notify('address_document')" >
                                                    <span class="glyphicon glyphicon-trash" ></span>
                                                    {{ editor.get_address_document }}
                                                </a>
                                            </div>
                                        {% endif %}
                                        {{ form.address_document }}
                                        {{ form.address_document.errors.as_text }}
                                    </div>
                                </div>
                            </div>
                            <div class="row paddingtop-20">
                                <div class="col-md-4 col-md-offset-4">  
                                    <div class="col-md-12">
                                        <input id="first_step" class="btn btn-primary btn-block" type="submit" value="Save"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div>
                        <!-- Qualification and Experience-->
                        <div style="margin-top: 2%; color: black;">
                            <div id="id_qualifications">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="clearfix">
                                            <div class="pull-left">
                                                <h5>Educational Qualification</h5>
                                            </div>
                                            <div class="pull-right">
                                                <a id="add_more_qualification" class="btn btn-default btn-sm" onclick="add_qualificaton()">
                                                    <span class="glyphicon glyphicon-plus"></span> Add
                                                </a>
                                            </div>
                                        </div>
                                        <div class="text-subline" style="margin-top: 5px;"></div>
                                    </div>
                                </div>
                                <div id="id_added_qualifications">
                                    <div class="row">
                                        <div class="col-md-12">
                                            {% for qualification in  qualification_detail_content %}
                                                {{ qualification }}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top: 2%; color: black;">
                            <div id="id_experiences">
                                <div class="row">
                                    <div class="col-md-10" style="margin-top: 28px;">
                                        <div class="clearfix">
                                            <div class="pull-left">
                                                <h5>Work Experiences</h5>
                                            </div>
                                            <div class="pull-right">
                                                <a id="add_more_experience" class="btn btn-default btn-sm" onclick="add_experience()">
                                                    <span class="glyphicon glyphicon-plus"></span> Add
                                                </a>
                                            </div>
                                        </div>
                                        <div class="text-subline" style="margin-top: 5px;"></div>
                                    </div>
                                </div>
                                <div id="id_added_experience">
                                    <div class="row">
                                        <div class="col-md-12">
                                            {% for experience in  experience_detail_content %}
                                                {{ experience }}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>          

    <div id="id_delete_modal" class="modal fade" tabindex="-1" role="dialog" style="margin-top: 100px;">
       <div class="modal-dialog" role="document">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Notification</h4>
             </div>
             <div class="modal-body">
                <p id="id_delete_message"></p>
             </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="id_delete_confirm" type="button" class="btn btn-primary">Delete</button>
             </div>
          </div>
       </div>
    </div>
{% endblock %}

{% block javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tagsinput.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tagsinput-typeahead.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-multiselect.css' %}" type="text/css"/>
    <script src="{% static 'js/bootstrap-multiselect.js' %}"></script>
    <script src="{% static 'js/bloodhound.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap-typeahead.js' %}"></script>
    <script src="{% static 'js/bootstrap-tagsinput.js' %}"></script>
    <script src ="{% static 'js/jquery.validate.min.js' %}"></script>

    <script type="text/javascript">
        var msg = "This field is required."
        $(function() {
            $("#id_phone_no").keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 58)) {
                    return false;
                }
            });

            $('#id_research_methods').on('change',function(){
                if( $(this).val()==="Others"){
                    $("#id_others").show()
                }
                else{
                    $("#id_others").hide()
                }
            });

            $('#id_referencing_style').on('change',function(){
                if( $(this).val()==="Others"){
                    $("#id_other_referencing_style").show()
                }
                else{
                    $("#id_other_referencing_style").hide()
                }
            });

            $(document).ready(function() {
                $('#id_discipline').multiselect();
                $('[data-avatar]').click(function(e) {
                    $("#id_avatar").val("");
                    e.preventDefault();
                    $("#id_default_avatar").val($(this).attr("src"))
                    $("#image_error").hide()
                    $("#id_avatar_img").find("img").attr("src", $(this).attr("src"))    
                    
                });
                $('#first_form').validate({
                    rules: {
                        first_name: {
                            
                            required: true
                        },
                        last_name: {
                            
                            required: true
                        },
                        email: {
                            required: true,
                            email: true
                        },
                       
                        phone_no: {
                            minlength: 10,
                            required: true
                        },
                        research_methods: {
                            required: true
                        },
                        optional_research_methods: {
                            required: true
                        },
                        referencing_style: {
                            required: true
                        },
                        optional_referencing_style: {
                            required: true
                        },
                        
                        street1: {
                            required: true
                        },
                        discipline:{
                            required: true
                        },
                        city: {
                            required: true
                        },
                        state: {
                            required: true
                        },
                        country: {
                            required: true
                        },      
                        
                    },
                    highlight: function(element) {

                        $(element).closest('.form-group').addClass('has-error');
                        $(element).closest('.form-group').find('.es-error').text("This field is required.").show();
                       
                    },
                    success: function(element) {

                        $(element).closest('.form-group').removeClass('has-error');
                        $(element).closest('.form-group').find('.es-error').hide();

                    },
                    submitHandler: function(form) {
                        form.submit()
                    }

                });
            });

            $('#id_form').on('submit', function() {
                if (document.getElementById("id_discipline").value== "")
                    {document.getElementById("discipline_error").innerHTML = msg;
                    $("#id_add").addClass('discipline-error');}   
                });
            $("#id_discipline").change(function(){
                if (document.getElementById("id_discipline").value !== "" )
                    {document.getElementById("discipline_error").innerHTML = "";
                    $("#id_add").removeClass('discipline-error');
                }else
                {
                   document.getElementById("discipline_error").innerHTML = msg; 
                   $("#id_add").addClass('discipline-error');
                }
            });

            {% if editor.optional_research_methods %}
                $("#id_others").show()
            {% endif %}

            {% if editor.optional_referencing_style %}
                $("#id_other_referencing_style").show()
            {% endif %}

            $("#id_avatar").on('change', function () {
                var image_holder = $("#id_avatar_img");
                image_holder.empty();
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("<img />", {
                        "src": e.target.result
                    }).appendTo(image_holder);

                }
                $("#id_default_avatar").val("");
                image_holder.show();
                $("#image_error").hide();
                reader.readAsDataURL($(this)[0].files[0]);
            });

            $("#id_avatar").css("display", "none");
            $("#id_avatar_img").on("click", function(){
                $("#id_avatar").trigger("click");
            })
        })

        var interests = new Bloodhound({
            datumTokenizer: function (datum) {
                return Bloodhound.tokenizers.whitespace(datum.id);
            },
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '{% url "get_research_interest" %}?q=%QUERY',
                wildcard: '%QUERY',
                filter: function (results) {
                    return results;
                }
            },
        });

        interests.initialize();

        var elt = $('#id_research_interest');
        elt.tagsinput({
            freeInput: true,
            typeaheadjs: {
                name: 'title',
                limit: 20,
                source: interests.ttAdapter()
            }
        });
        {% for interest in editor.research_interest.all %}
            $('#id_research_interest').tagsinput('add', "{{ interest.interest }}");
        {% endfor %}

        $("#first_form").submit(function(e){
            e.preventDefault();
            if(($('#id_avatar')[0].files.length == 0) && ($('#id_default_avatar').val() == "")){
                $("#image_error").show();
            }
        });

    </script>
{% endblock %}
