<div class="row" style="margin-top:15px; color: black;" id="id_experience_{{ experience.id }}">
	<div class="col-md-10">
		<div class="login-panel panel panel-default">
			<div class="panel-body profile-block">
				<div class="col-md-9">
					<strong>{{ experience.title }}</strong> at <strong>{{ experience.company_name }}</strong>&nbsp;
					{% if experience.is_current %}
						<strong>( {{ experience.from_year }} - Present )</strong>
					{% else %}
						<strong>( {{ experience.from_year }} - {{ experience.to_year }} )</strong>
					{% endif %}
				</div>
				<div class="col-md-2 col-md-offset-1">
					<div class="row">
						<div class="col-md-6 pull-left">
							<a style="cursor:pointer;" onclick="add_experience('{{ experience.id }}');"><span class="glyphicon glyphicon-pencil" style="color: #66666a;"></span></a>
						</div>
						<div class="col-md-6 pull-right">
							<a style="cursor:pointer;" onclick="delete_experience_notify('{{ experience.id }}');"><span class="glyphicon glyphicon-trash" style="color: red;"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
