{% if experience_detail_content %}
    <div class="row">
        <div class="col-md-12">
            {% for experience_obj in experience_detail_content %}
                {{ experience_obj }}
            {% endfor %}
        </div>
    </div>
{% endif %}
<form class="form-horizontal" id="id_experience_form" action="{% if experience_id %}{% url 'edit_experience_form' experience_id %}{% else %}{% url 'save_experience_form' %}{% endif %}" role="form" method="post" onsubmit="return save_experience($(this))">
	{% csrf_token %}
    <div class="col-md-12">
        <div class="row paddingtop-20">
            <div class="col-md-3">
                <label for="id_company_name" class="control-label"><h6><strong>Company:</strong></h6></label>
            </div>  
            <div class="col-md-7">  
                <div class="form-group" id="id_company_name_error_parent_div">
                    {{ form.company_name }}
                    <small class="es-error"></small>
                    <small class="error-msgs es-error" id="id_company_name_error" style="display: none;"></small>
                </div>
            </div>
        </div>

        <div class="row paddingtop-20">
            <div class="col-md-3">
                <label for="id_title" class="control-label"><h6><strong>Title:</strong></h6></label>
            </div>  
            <div class="col-md-7">  
                <div class="form-group" id="id_title_error_parent_div">
                    {{ form.title }}
                    <small class="es-error es-error"></small>
                    <small class="error-msgs es-error" id="id_title_error" style="display: none;"></small>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>

        <div class="row paddingtop-20">
            <div class="col-md-3">
                <label for="id_location" class="control-label"><h6><strong>Location:</strong></h6></label>
            </div>  
            <div class="col-md-7">  
                <div class="form-group" id="id_location_error_parent_div">
                    {{ form.location }}
                    <small class="es-error"></small>
                    <small class="error-msgs es-error" id="id_location_error" style="display: none;"></small>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>

        <div class="row paddingtop-20">
            <div class="col-md-3">
                <label for="id_description" class="control-label"><h6><strong>Description:</strong></h6></label>
            </div>  
            <div class="col-md-7">  
                <div class="form-group" id="id_description_error_parent_div">
                    {{ form.description }}
                    <small class="es-error"></small>
                    <small class="error-msgs es-error" id="id_description_error" style="display: none;"></small>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>


        <div class="row paddingtop-20">
            <div class="col-md-3">
                <label for="id_from_month" class="control-label"><h6><strong>Starting Month:</strong></h6></label>
            </div>  
            <div class="col-md-2">  
                <div class="form-group">
                    {{ form.from_month }}
                </div>
            </div>
            <div class="col-md-2 col-md-offset-1 paddingtop-20 visible-xs">
                <label for="id_from_year" class="control-label"><h6><strong>Starting Year:</strong></h6></label>
            </div>
            <div class="col-md-2 col-md-offset-1 hidden-xs">
                <label for="id_from_year" class="control-label"><h6><strong>Starting Year:</strong></h6></label>
            </div>  
            <div class="col-md-2">  
                <div class="form-group">
                    {{ form.from_year }}
                </div>
            </div>
        </div>

        <div class="row paddingtop-20" id="id_to_experience">
            <div class="col-md-3">
                <label for="id_to_month" class="control-label"><h6><strong>To Month:</strong></h6></label>
            </div>  
            <div class="col-md-2">  
                <div class="form-group">
                    {{ form.to_month }}
                </div>
            </div>
            <div class="col-md-2 col-md-offset-1 paddingtop-20 visible-xs">
                <label for="id_to_year" class="control-label"><h6><strong>To Year:</strong></h6></label>
            </div>
            <div class="col-md-2 col-md-offset-1 hidden-xs">
                <label for="id_to_year" class="control-label"><h6><strong>To Year:</strong></h6></label>
            </div>  
            <div class="col-md-2">  
                <div class="form-group">
                    {{ form.to_year }}
                </div>
            </div>
        </div>

        <div class="row paddingtop-20">
            <div class="col-md-3">
                <label for="id_is_current" class="control-label"><h6><strong></strong></h6></label>
            </div>  
            <div class="col-md-7">  
                <div class="form-group">
                    {{ form.is_current }} &nbsp;is current
                </div>
            </div>
        </div>

        <div class="row paddingtop-20">
            <div class="col-md-10">
                <div class="form-group">
                    <input class="btn btn-primary btn-sm" id="myButton" type="submit" value="Save"/ style="width: 100px;">
                    {% if not experience_id %}
                    <div class=pull-right>
                        <button class="btn btn-primary btn-sm" type="button" onclick="remove_experience_form($(this))" style="width: 100px;">
                            Cancel
                        </button>
                    </div>
                    {% else %}
                    <input class="btn btn-primary btn-sm" type="button" value="Cancel" onclick="remove_experience( '{{ experience_id }}')" style="width: 100px;float: right;">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</form>    
