{% extends 'base.html' %}

{% load staticfiles %}
{% load ratings %}
{% load stars %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3" >
                <div class="profile-block">
                    <div class="thumbnail">
                        <img src="{% if editor.avatar %}{{ editor.avatar.url }}
                        {% else %}{% static 'images/nodp.jpg' %}{% endif %}"
                        alt="{{ editor.user.get_full_name }}" style="height: 200px; width: 240px;">
                    </div>
                </div>
                <div class = "profile-block" style="text-align:center;">
                    <p style="font-size:25px;"><a style="text-decoration:none;">{{ editor.user.get_full_name }}</a></p>
                    {% if editor.nationality %}
                        <p><b>Nationality:</b> &nbsp;{{ editor.nationality }}</p>
                    {% endif %}
                    {% if editor.country %}
                        <p><b>country:</b> &nbsp;{{ editor.country.name }}</p>
                    {% endif %}
                </div>
                <div class = "profile-block">
                    <label> Research Methods </label>
                    <div class="margin-bottom-15">
                        {% if editor.research_methods == "Both" %}
                            <span class="tags green">Qualitative</span>
                            <span class="tags green">Quantitative</span>
                        {% elif editor.research_methods == "Qualitative" %}
                            <span class="tags green">Qualitative</span>
                        {% elif editor.research_methods == "Quantitative" %}
                            <span class="tags green">Quantitative</span>
                        {% elif editor.research_methods == "Others" %}
                            <span class="tags green">{{ editor.optional_research_methods.title }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class = "profile-block">
                    <label> Research Interests </label>
                    <div class="margin-bottom-15">
                        {% for interest in editor.research_interest.all %}
                            <span class="tag label label-info">{{ interest.interest }}</span>
                        {% empty %}
                            <span class="text-muted">No research interests yet.</span>
                        {% endfor %}
                    </div>
                </div>
                <div class = "profile-block">
                    <label> Rating </label><br>
                    {% if has_rating %}
                        <p style="font-size: 40px;color: gold;">
                            {% for i in star %}
                                <img src="{% static 'images/star.svg' %}" alt="" style="width: 15%;" />
                            {% endfor %}
                            {% if semi_star %}
                                <img src="{% static 'images/semi_star.svg' %}" alt="" style="width: 15%;" />
                            {% endif %}
                            {% for i in star_empty %}
                                <img src="{% static 'images/star_empty.svg' %}" alt="" style="width: 15%;" />
                            {% endfor %}
                        </p>
                    {% else %}
                        <div class="text-muted">No ratings yet.</div>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-9">
                <div class = "profile-block">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="pull-left">Balance available in your account</h3>
                            <h3 class="pull-right">{{ currency }} {{ editor.get_total_balance|floatformat:"2" }}</h3>
                        </div>
                    </div>
                    <!-- <h3>We have $ {{ editor.get_total_balance }} amount in your account.</h3> -->
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group {% if form.amount.errors %}has-error{% endif %}">
                                    <p for="amount">How much you want to withdraw?<br/><small class="text-muted">(Please enter the amount same or less than the balance amount)</small></p>
                                    {{ form.amount }}
                                    <small class="error">{{ form.amount.errors.as_text }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input class="btn btn-primary btn-sm" type="submit" name="submit" value="Authenticate this Transfer">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
