{% extends 'base.html' %}

{% load staticfiles %}
{% load stars %}

{% block javascript %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tagsinput.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tagsinput-typeahead.css' %}">

    <script src="{% static 'js/bloodhound.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap-typeahead.js' %}"></script>
    <script src="{% static 'js/bootstrap-tagsinput.js' %}"></script>

    <script type="text/javascript">

        $(document).ready(function(){
            {% if no_result %}
                $('#id_no_result_alert').show();
            {% endif %}

            $("#spin_svg").hide();

            $('.postInfo a').remove();

            $(".editornameinput").each(function(){
                $(this).val("{{ query }}")
            });

            $(".editornameinput").on("keyup", function(){
                var val = $(this).val();
                $(".editornameinput").each(function(){
                    $(this).val(val)
                });
            });

            $("#query").on("click", function(){
                $(".rd-input-label").addClass('focus')
            });

            $("#id_others").on("change", function() {
                if($("#id_others").prop("checked") == true){
                    $("#id_optional_research_methods").show();
                    $("#id_quantitative").prop("checked", "");
                    $("#id_qualitative").prop("checked", "");
                } else {
                    $("#id_optional_research_methods").val('');
                    $("#id_optional_research_methods").hide();
                }
            })

            $("#id_quantitative, #id_qualitative").on("change", function() {
                if($(this).prop("checked") == true){
                    $("#id_optional_research_methods").val('');
                    $("#id_optional_research_methods").hide();
                    $("#id_others").prop("checked", "");
                }
            })
            {% if 'Others' in research_method %}
                $("#id_optional_research_methods").show();
            {% endif %}

            var interests = new Bloodhound({
                datumTokenizer: function (datum) {
                    return Bloodhound.tokenizers.whitespace(datum.id);
                },
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '{% url "get_research_interest" %}?q=%QUERY',
                    wildcard: '%QUERY',
                    filter: function (results) {
                        return results;
                    }
                },
            });

            interests.initialize();

            var elt = $('#id_research_interest');
            elt.tagsinput({
                freeInput: true,
                typeaheadjs: {
                    name: 'title',
                    limit: 20,
                    source: interests.ttAdapter()
                }
            });

            {% for interest in research_interest %}
                $('#id_research_interest').tagsinput('add', "{{ interest }}");
            {% endfor %}

        });

        function load_more_editors() {
            start = $('#start').val();

            $("#spin_svg").show();

            $.ajax({
                url: "{% url 'load_more_editors' %}",
                type: "GET",
                data: $("#id_editor_search").serialize(),
                success: function(response) {
                    $("#spin_svg").hide();
                    $("#editors").append(response.data);
                    $("#start").val(response.start);
                    $("#showmore").blur();

                    if (response.more == false){
                        $("#showmore").hide();
                    }
                }
            })
        }
    </script>
{% endblock %}

{% block content %}
    <div class="shell hidden-xs hidden-md" style="margin-bottom: 20px">
        <div class="range range-xs-center">
            <div class="cell-sm-8">
                <div class="rd-navbar-search"><a data-rd-navbar-toggle=".rd-navbar-search" href="#" class="rd-navbar-search-toggle mdi"><span></span></a>
                    <form action="/editors/" id="" method="GET" class="rd-navbar-search-form search-form-icon-right">
                        <div class="form-group">
                            <label for="id_editorquery" class="form-label rd-input-label" style="color:#d7d7d7;">Search Editors</label>
                            <input type="text" name="q" id="id_editorquery" value="{{ query }}" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest editornameinput">
                            <button type="submit" class="form-search-submit"><span class="icon fa-search"></span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="id_no_result_alert" style="display: none;">
        <div class="message-alert" style="text-align: center; position: relative; z-index: 999; width:100%;margin-bottom:10px">
            <div class="alert alert-success alert-dismissible text-center" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" style="right:20px;">&times;</a>
                <span>Sorry, We do not have an editor in this field, but we are working hard at recruiting one.</span>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-3">
                <div class="profile-block" style="margin-bottom: 20px;">
                    <form method="GET" action="" id="id_editor_search">
                        <input type="hidden" name="start" value="{{ start }}" id="start"/>
                        <div class="form-group">
                            <h6 for="id_rating" style="font-size: 15px;">Rating</h6>
                            <select  class="form-control" name="rating" id="id_rating">
                                <option value="">Any Rating</option>
                                <option {% if rating == '1' %}selected="selected"{% endif %} value="1">1+ star</option>
                                <option {% if rating == '2' %}selected="selected"{% endif %} value="2">2+ stars</option>
                                <option {% if rating == '3' %}selected="selected"{% endif %} value="3">3+ stars</option>
                                <option {% if rating == '4' %}selected="selected"{% endif %} value="4">4+ stars</option>
                                <option {% if rating == '5' %}selected="selected"{% endif %} value="5">5 stars</option>
                            </select>
                        </div>
                        {% if top_degree_list %}
                            <div class="form-group" >
                                <h6 style="font-size: 15px;">Qualifications</h6>
                                {% for degree in top_degree_list %}
                                    <div class="checkbox">
                                        <label style="width: 100%; padding: 0;">
                                            <input type="checkbox" {% if degree.degree_level in degree_list %}checked="checked"{% endif %} name="degree" id="id_degree" value="{{ degree.degree_level }}"> {{ degree.degree_level }} ({{ degree.degree_count }})
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <h6 style="font-size: 15px;">Research Methods</h6>
                            <div class="checkbox">
                                <label style="width: 100%; padding: 0;"><input type="checkbox" {% if 'Quantitative' in research_method %}checked="checked"{% endif %} name="research_method" value="Quantitative" id="id_quantitative"> Quantitative</label>
                            </div>
                            <div class="checkbox">
                                <label style="width: 100%; padding: 0;"><input type="checkbox" {% if 'Qualitative' in research_method %}checked="checked"{% endif %} name="research_method" value="Qualitative" id="id_qualitative"> Qualitative</label>
                            </div>
                            <div class="checkbox">
                                <label style="width: 100%; padding: 0;"><input type="checkbox" {% if 'Others' in research_method %}checked="checked"{% endif %} name="research_method" value="Others" id="id_others"> Others</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="id_optional_research_methods"  type="text" placeholder="Others Research Methods" name="optional_research_methods" style="display: none;" value="{{ optional_research_methods }}">
                        </div>
                        <div class="form-group">
                            <h6 style="font-size: 15px;">Research Interests</h6>
                            <input class="form-control" id="id_research_interest" name="interests" value="" type="text">
                        </div>
                         <div class="form-group">
                            <h6 style="font-size: 15px;">Discipline</h6>
                            {% for name in discipline_list %}
                                <div class="checkbox">
                                    <label style="width: 100%; padding: 0;">
                                        <input type="checkbox" {% if name in disciplines %}checked="checked"{% endif %} name="disciplines" id="id_name" value="{{ name }}"> {{ name.title }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </form>
                </div>
                {% if request.user.is_authenticated %}
                    <div class="profile-block" style="margin-bottom: 20px;">
                        <h6 style="font-size: 15px;">Recently Viewed</h6>
                        <div style="margin-top: 10px; text-align: justify;">
                            {% for editors in save_profile_viewer %}
                                <p>
                                    <a href="{% url 'profile' editors.editor.user.username %}">
                                        <img src="{% if editors.editor.avatar %}{{ editors.editor.avatar.url }}{% else %}{% static 'images/nodp.jpg' %}{% endif %}" style="border-radius: 3px;" width="30" height="30">
                                        <small>
                                            <a href="{% url 'profile' editors.editor.user.username %}">{{ editors.editor }}</a>
                                        </small>
                                    </a>
                                </p>
                            {% empty %}
                                <p>No Recent Search</p>    
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-9">
                <div id="editors">
                    {% for editor in editors %}
                        <a href="{% url 'profile' editor.user.username %}" style="cursor: pointer;">
                            <div class="profile-block" style="margin-bottom: 20px;">
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-0" style="margin-top:10px;">
                                        <img src="{% if editor.avatar %}{{ editor.avatar.url }}{% else %}{% static 'images/nodp.jpg' %}{% endif %}" style="border-radius: 5px;margin-bottom: 10px;" height="140" width="140" alt="">
                                    </div>
                                    <div class="col-md-2 hidden-xs">
                                        <h6 class="hidden-xs" style="font-size: 15px;">{{ editor.user.get_full_name }}</h6>
                                        <h6 class="visible-xs">{{ editor.user.get_full_name }}</h6>
                                         <div>
                                            {% if editor.research_methods == "Both" %}
                                                <p class="bg-success" style="display: inline-block;margin-bottom:0px;">Qualitative</p>
                                                <p class="bg-success" style="display: inline-block;margin-bottom:0px;">Quantitative</p>
                                            {% elif editor.research_methods == "Qualitative" %}
                                                <p class="bg-success" style="display: inline-block;margin-bottom:0px;">Qualitative</p>
                                            {% elif editor.research_methods == "Quantitative" %}
                                                <p class="bg-success" style="display: inline-block;margin-bottom:0px;">Quantitative</p>
                                            {% elif editor.research_methods == "Others" %}
                                                <p class="bg-success" style="display: inline-block;margin-bottom:0px;">{{ editor.optional_research_methods.title }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-2 visible-xs" style="margin-top:10px;">
                                        <h6 class="hidden-xs">{{ editor.user.get_full_name }}</h6>
                                        <h6 class="visible-xs">{{ editor.user.get_full_name }}</h6>
                                         <p>
                                            {% if editor.research_methods == "Both" %}
                                                <p class="bg-success" style="display: inline-block;margin-bottom:0px;">Qualitative</p>
                                                <p class="bg-success" style="display: inline-block;margin-bottom:0px;">Quantitative</p>
                                            {% elif editor.research_methods == "Qualitative" %}
                                                <p class="bg-success" style="display: inline-block;margin-bottom:0px;">Qualitative</p>
                                            {% elif editor.research_methods == "Quantitative" %}
                                                <p class="bg-success" style="display: inline-block;margin-bottom:0px;">Quantitative</p>
                                            {% elif editor.research_methods == "Others" %}
                                                <p class="bg-success" style="display: inline-block;margin-bottom:0px;">{{ editor.optional_research_methods.title }}</p>
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-md-5 hidden-xs" style="margin-top:10px;">
                                        {% if editor.bio %}
                                            <p style="color:#333333;line-height: 25px;font-size:15px;word-spacing: 2px;">
                                                {{ editor.bio|truncatewords:"20" }}
                                                <span style="color: #b80924;cursor:pointer;">Show More</span>
                                            </p>
                                        {% else %}
                                            <p class="text-center" style="color: lightgrey;">No about info added yet.</p>
                                        {% endif %}
                                        <div>
                                            {% for discipline in editor.discipline.all %}
                                                <p class="bg-primary" style="display: inline-block;margin-bottom:0px;">{{ discipline.name }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-md-5 visible-xs" style="margin-top:10px;">
                                        <p style="color:#333333;line-height: 25px;font-size:15px;word-spacing: 2px;">
                                            {% if editor.bio %}
                                                {{ editor.bio|truncatewords:"20" }}
                                                <span style="color: #b80924;cursor:pointer;">Show More</span>
                                            {% else %}
                                                <span class="text-center" style="color: lightgrey; font-size: 17px;">No about info added yet.</span>
                                            {% endif %}
                                        </p>
                                        <div>
                                            {% for discipline in editor.discipline.all %}
                                                <p class="bg-primary" style="display: inline-block;margin-bottom:0px;">{{ discipline.name }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-md-2 hidden-xs" style="margin-top:10px;">
                                        <p style="margin-bottom: 10px;">
                                            {% if editor.rating_star %}  
                                                {% editor_stars editor.id %}
                                                <span style="color: black; font-size: 12px;">{{ editor.rating_star }}/5.0</span>
                                            {% else %}
                                               <p style="color: lightgrey; margin-right: -10px;">No Rating Yet.</p>
                                            {% endif %}
                                        </p>

                                        <div>
                                            {% for interest in editor.research_interest.all %}
                                                <p class="bg-warning" style="margin-bottom:0px;display: inline-block;">{{ interest.interest }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-md-2 visible-xs" style="margin-top:10px;">
                                        <p style="margin-bottom: 10px;">
                                            {% if editor.rating_star %}  
                                                {% editor_stars editor.id %}
                                                <span style="color: black; font-size: 12px;">{{ editor.rating_star }}/5.0</span>
                                            {% else %}
                                                <span style="color: lightgrey; font-size: 17px;">No Rating Yet.</span>
                                            {% endif %}         
                                        </p>
                                        <div>
                                            {% for interest in editor.research_interest.all %}
                                                <p class="bg-warning" style="display: inline-block;margin-bottom:0px;">{{ interest.interest }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>     
                            </div>
                        </a>
                    {% empty %}
                        <div class="profile-block text-center">
                            <p style="color: lightgrey; font-size: 17px;">No Editor Registered Yet.</p>
                        </div>
                    {% endfor %}
                </div>
                <div id="spin_svg" style="text-align:center;">
                    <img src="{% static 'images/spin.svg'%}">
                </div>
                <div class="text-center" style="margin-bottom: 20px;">
                    {% if more %}
                    <input class="btn btn-primary btn-md" id="showmore" type="submit" value="Show More" onclick="load_more_editors();"/>  
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}
