{% load staticfiles %}
{% load stars %}

{% for quote in quotes %}
    <tr>
        <td>{{ forloop.counter|get_serial_no:start }}</td>
        <td>
            {{ quote.title }}
        </td>
        <td>{{ quote.student.user.get_full_name }}</td>
        <td>
            <p title="Description" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="{{ quote.description }}" style="cursor: pointer; color: #b80924;">{{ quote.description|truncatechars:10 }}</p>
        </td>
        <td>{{ quote.created|date:"M d, Y" }}</td>
    </tr>
{% endfor %}
