{% load staticfiles %}
{% load stars %}

{% for editor in editors %}
    <a href="{% url 'profile' editor.user.username %}" style="cursor: pointer;">
        <div class="profile-block" style="margin-bottom: 20px;">
            <div class="row">
                <div class="col-md-3 col-md-offset-0" style="margin-top:10px;">
                    <img src="{% if editor.avatar %}{{ editor.avatar.url }}{% else %}{% static 'images/nodp.jpg' %}{% endif %}" style="border-radius: 5px;margin-bottom: 10px;" height="140" width="140" alt="">
                </div>
                <div class="col-md-2 hidden-xs">
                    <h6 class="hidden-xs" style="font-size: 15px;">{{ editor.user.get_full_name }}</h6>
                    <h6 class="visible-xs">{{ editor.user.get_full_name }}</h6>
                     <div>
                        {% if editor.research_methods == "Both" %}
                            <p class="bg-success" style="display: inline-block;margin-bottom:0px;">Qualitative</p>
                            <p class="bg-success" style="display: inline-block;margin-bottom:0px;">Quantitative</p>
                        {% elif editor.research_methods == "Qualitative" %}
                            <p class="bg-success" style="display: inline-block;margin-bottom:0px;">Qualitative</p>
                        {% elif editor.research_methods == "Quantitative" %}
                            <p class="bg-success" style="display: inline-block;margin-bottom:0px;">Quantitative</p>
                        {% elif editor.research_methods == "Others" %}
                            <p class="bg-success" style="display: inline-block;margin-bottom:0px;">{{ editor.optional_research_methods.title }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-2 visible-xs" style="margin-top:10px;">
                    <h6 class="hidden-xs">{{ editor.user.get_full_name }}</h6>
                    <h6 class="visible-xs">{{ editor.user.get_full_name }}</h6>
                     <p>
                        {% if editor.research_methods == "Both" %}
                            <p class="bg-success" style="display: inline-block;margin-bottom:0px;">Qualitative</p>
                            <p class="bg-success" style="display: inline-block;margin-bottom:0px;">Quantitative</p>
                        {% elif editor.research_methods == "Qualitative" %}
                            <p class="bg-success" style="display: inline-block;margin-bottom:0px;">Qualitative</p>
                        {% elif editor.research_methods == "Quantitative" %}
                            <p class="bg-success" style="display: inline-block;margin-bottom:0px;">Quantitative</p>
                        {% elif editor.research_methods == "Others" %}
                            <p class="bg-success" style="display: inline-block;margin-bottom:0px;">{{ editor.optional_research_methods.title }}</p>
                        {% endif %}
                    </p>
                </div>
                <div class="col-md-5 hidden-xs" style="margin-top:10px;">
                    {% if editor.bio %}
                        <p style="color:#333333;line-height: 25px;font-size:15px;word-spacing: 2px;">
                            {{ editor.bio|truncatewords:"20" }}
                            <span style="color: #b80924;cursor:pointer;">Show More</span>
                        </p>
                    {% else %}
                        <p class="text-center" style="color: lightgrey;">No about info added yet.</p>
                    {% endif %}
                    <div>
                        {% for discipline in editor.discipline.all %}
                            <p class="bg-primary" style="display: inline-block;margin-bottom:0px;">{{ discipline.name }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-5 visible-xs" style="margin-top:10px;">
                    <p style="color:#333333;line-height: 25px;font-size:15px;word-spacing: 2px;">
                        {% if editor.bio %}
                            {{ editor.bio|truncatewords:"20" }}
                            <span style="color: #b80924;cursor:pointer;">Show More</span>
                        {% else %}
                            <span class="text-center" style="color: lightgrey; font-size: 17px;">No about info added yet.</span>
                        {% endif %}
                    </p>
                    <div>
                        {% for discipline in editor.discipline.all %}
                            <p class="bg-primary" style="display: inline-block;margin-bottom:0px;">{{ discipline.name }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-2 hidden-xs" style="margin-top:10px;">
                    <p style="margin-bottom: 10px;">
                        {% if editor.rating_star %}  
                            {% editor_stars editor.id %}
                            <span style="color: black; font-size: 12px;">{{ editor.rating_star }}/5.0</span>
                        {% else %}
                           <p style="color: lightgrey; margin-right: -10px;">No Rating Yet.</p>
                        {% endif %}
                    </p>

                    <div>
                        {% for interest in editor.research_interest.all %}
                            <p class="bg-warning" style="margin-bottom:0px;display: inline-block;">{{ interest.interest }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-2 visible-xs" style="margin-top:10px;">
                    <p style="margin-bottom: 10px;">
                        {% if editor.rating_star %}  
                            {% editor_stars editor.id %}
                            <span style="color: black; font-size: 12px;">{{ editor.rating_star }}/5.0</span>
                        {% else %}
                            <span style="color: lightgrey; font-size: 17px;">No Rating Yet.</span>
                        {% endif %}         
                    </p>
                    <div>
                        {% for interest in editor.research_interest.all %}
                            <p class="bg-warning" style="display: inline-block;margin-bottom:0px;">{{ interest.interest }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>     
        </div>
    </a>
{% endfor %}