{% load staticfiles %}
{% load stars %}


{% for paper in papers %}
    <tr> 
        <td>{{ forloop.counter|get_serial_no:start }}</td>
        <td>
        {% if paper.editor.user == request.user or paper.student.user == request.user %}
            <a href="{% url 'paper_detail' paper.id %}" style="color: #b80924; text-decoration: none; cursor: pointer;">{{ paper.title }}</a>
        {% else %}
            {{ paper.title }}
        {% endif %}        
        </td>
        <td><span class="tag label label-warning">{{ paper.discipline }}</span></td>
        <td>{{ paper.created|date:"M d, Y" }}</td>
        <td>
        {% if paper.has_rating %}
            {% paper_stars paper.id %}
        {% else %}
           N/A
        {% endif %}    
        </td>         
    </tr>
{% endfor %}

