{% load staticfiles %}
{% load stars %}

{% for activity in activities %}
    <tr>
        <td class="col-md-3">{{ activity.created|date:"M d, Y" }}</td>
        <td class="col-md-3">
            {% if activity.paper %}
                <a href="{% url 'paper_detail' activity.paper.id %}" style="text-decoration: none; color: #b80924">
                    {{ activity.paper.title }}
                </a>
            {% else %}
                {{ activity.description }}
            {% endif %}
        </td>
        <td class="col-md-3">
            {% if activity.type == "Credit" %}
                <span class="tag label label-success">{{ activity.type }}</span>
            {% else %}
                <span class="tag label label-danger">{{ activity.type }}</span>
            {% endif %}
        </td>
        <td class="col-md-3">{{ currency }} {{ activity.get_dollar_amount|floatformat:"2" }}</td>
    </tr>
{% endfor %}