<div class="message-alert" style="text-align: center; position: relative; z-index: 999; width: 40%;">
    <div class="alert alert-{{ class }} alert-dismissible" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span>{{ message }}</span>
    </div>
</div>
