{% extends 'base.html' %}
{% load staticfiles %}
{% load ratings %}
{% load stars %}
{% block top %}
    <section class="breadcrumb-classic context-dark">
        <div class="shell section-30 section-sm-top-10 section-sm-bottom-10">
            <h2 class="veil reveal-sm-block text-center">{{ paper.title }}</h2>
        </div>
    </section>
{% endblock %} 

{% block content %}
<style type="text/css">
        .error {
            display: none!important;
        }
        h6{
            font-size: 15px!important;
        }
    </style>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="shell hidden-xs hidden-md" style="margin-bottom: 20px; margin-top: 20px;">
                    <div class="range range-xs-center">
                        <div class="cell-sm-8">
                            <div class="rd-navbar-search"><a data-rd-navbar-toggle=".rd-navbar-search" href="#" class="rd-navbar-search-toggle mdi"><span></span></a>
                                <form action="{% url 'home' %}" id="" method="GET" class="rd-navbar-search-form search-form-icon-right">
                                    <div class="form-group">
                                        <label for="rd-navbar-search-form-input" class="form-label" style="color:#d7d7d7;">Search Editors</label>
                                        <input id="rd-navbar-search-form-input" type="text" name="q" id="id_editorquery" value="{{ query }}" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest"/>
                                        <button type="submit" class="form-search-submit"><span class="icon fa-search"></span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
        <div class="row">
            <div class="profile-block" style="color:black;">
                <div class="row">
                    <div class="col-md-4">
                        <h5><strong>DUE DATE:&nbsp;</strong>{{ paper.created|date:"M d, Y" }}</h5>
                        <h6 class="text-muted">Deadline:&nbsp;&nbsp;{% if paper.deadline %}{{ paper.deadline }}{% else %}None{% endif %}</h6>
                    </div>
                    <div class="col-md-3 col-md-offset-5">
                        <h5><strong>PRICE:</strong>&nbsp;
                            {{ currency }}{{ paper.price|floatformat:"2"  }}
                        </h5>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-6">
                        <input type="hidden" name="paper_id" value="{{ paper.id }}">
                        <p><h6><strong>Title:</strong>&nbsp;&nbsp;{{ paper.title }}</h6></p>
                        <p><h6><strong>Discipline:</strong>&nbsp;&nbsp;{{ paper.discipline.name }}</h6></p>
                        <p><h6><strong>Research Method:</strong>&nbsp;&nbsp;{{ paper.editor.research_methods }}</h6></p>
                        <p><h6><strong>Referencing Style:</strong>&nbsp;&nbsp;{{ paper.editor.referencing_style }}</h6></p>
                        <p><h6><strong>Description:</strong></h6></p>
                        <p class="description_truncate" style="color:#333333;line-height: 25px;font-size:15px;word-spacing: 2px; text-align: justify;">
                            {{ paper.description }}
                        </p>
                        <p><h6><strong>Status:</strong>&nbsp;&nbsp;{{ paper.status }}</h6></p>
                        {% if paper.status == "Completed" %}
                        <div class="row">
                            <div class="col-md-1">
                                <p><h6><strong>Rating:</strong></h6></p>
                            </div>
                            <div class="col-xs-6" style="margin-left: 20px; margin-top: 7px;">
                                {% if paper.has_rating %}
                                    {% paper_stars paper.id %}
                                {% else %}
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Not Available</p> 
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-3 col-md-offset-3">
                        <img src="{% static 'images/attach.png' %}" alt="" width="140" height="140" alt="" class="">
                        <h4 style="margin-top: 20px; background-color: #890013; color: white; text-align: center; border-radius: 5px;">
                            {% if request.user == paper.editor.user %}
                                {{ paper.student.user.get_full_name }}
                                {% else %}
                                {{ paper.editor.user.get_full_name }}
                            {% endif %}
                        </h4>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-6">
                        <h4><strong>Actions: <img id="updating" src="{% static 'images/spin.svg' %}"/ style="height: 25px; margin-top: -1px; margin-left: 10px; display: none;"></strong></h4>
                        <!--Student-Action-->
                        {% if request.user == paper.student.user %}
                            {% if paper.status == "Rejected" or paper.status == "Pending" or paper.status == "Progress" or paper.status == "Approved" %}
                                <button id="accpet" type="button" class="btn btn-success btn-block disabled">Approve Paper</button><br>
                                <button id="review" type="button" class="btn btn-warning btn-block disabled">Upload Document</button><br>

                                <button id="decline" type="button" class="btn btn-danger btn-block disabled">Rate Paper</button><br>

                            {% elif paper.status == "Ready To Review" %}
                                <a href="{% url 'paper_approved' paper.id %}" style="text-decoration: none;"><button type="button" class="paper_rating_link_{{ paper.id }} btn btn-success btn-block">Approve</button></a><br>
                                <button id="review" type="button" class="btn btn-warning btn-block" onclick="change_paper_status($(this), '{{ paper.status }}', '{{ paper.id }}')">Upload Document</button><br>

                                <button id="decline" type="button" class="btn btn-danger btn-block disabled">Rate Paper</button><br>

                            {% elif paper.status == "Completed" %}
                                {% if not paper.has_rating %}
                                    <button id="decline" type="button" class="btn btn-success btn-block disabled">Approve Paper</button><br>
                                    <button id="review" type="button" class="btn btn-warning btn-block disabled">Upload Document</button><br>

                                    <a class="paper_rating_link_{{ paper.id }}" style="text-decoration:none;cursor:pointer; font-size: 15px;" onclick="rating_form('{{ paper.id }}')"><button id="decline" type="button" class="btn btn-danger btn-block">Rate Now</button></a><br>
                                {% else %} 
                                    <button id="accpet" type="button" class="btn btn-success btn-block disabled">Approve Paper</button><br>
                                    <button id="review" type="button" class="btn btn-warning btn-block disabled">Upload Document</button><br>
                                    <button id="decline" type="button" class="btn btn-danger btn-block disabled">Rate Paper</button><br>
                                {% endif %}
                            {% endif %}

                        <!--Editor-Action-->    
                        {% elif request.user == paper.editor.user %}
                            {% if paper.status == "Pending" %}
                                <button id="accpet" type="button" class="btn btn-success btn-block" onclick="change_paper_status($(this), '{{ paper.status }}', '{{ paper.id }}')">Accpet Job</button><br>
                                <button id="decline" type="button" class="btn btn-danger btn-block" onclick="reject_paper($(this),  '{{ paper.id }}')">Decline Job</button><br>

                                <button type="button" class="btn btn-warning btn-block disabled">Send for review</button><br>

                                <button type="button" class="btn btn-primary btn-block disabled">Complete</button><br>

                            {% elif paper.status == "Rejected" %}
                                
                                <button id="accpet" type="button" class="btn btn-success btn-block disabled">Accpet Job</button><br>
                                <button type="button" id="accpet" class="btn btn-danger btn-block disabled">Paper Rejected</button><br>
                                <button type="button" class="btn btn-warning btn-block disabled">Send for review</button><br>
                                <button type="button" class="btn btn-primary btn-block disabled">Complete</button><br>
                                <button type="button" id="reject" class="btn btn-danger btn-block disabled" style="display: none;">Paper Rejected</button>

                            {% elif paper.status == "Progress" %}
                                
                                <button id="accpet" type="button" class="btn btn-success btn-block disabled">Accpet Job</button><br>
                                <button id="decline" type="button" class="btn btn-danger btn-block disabled">Decline Job</button><br>
                                <button id="review" type="button" class="btn btn-warning btn-block" onclick="change_paper_status($(this), '{{ paper.status }}', '{{ paper.id }}')">Send for review</button><br>
                                <button type="button" class="btn btn-primary btn-block disabled">Complete</button><br>

                            {% elif paper.status == "Ready To Review" %}
                                <button id="accpet" type="button" class="btn btn-success btn-block disabled">Accpet Job</button><br>
                                <button id="decline" type="button" class="btn btn-danger btn-block disabled">Decline Job</button><br>
                                <button id="review" type="button" class="btn btn-warning btn-block" onclick="change_paper_status($(this), '{{ paper.status }}', '{{ paper.id }}')">Send for review</button><br>
                                <button id="review" type="button" class="btn btn-warning btn-block disabled">Complete</button><br>
                                
                            {% elif paper.status == "Approved" %}
                                <button id="accpet" type="button" class="btn btn-success btn-block disabled">Accpet Job</button><br>
                                <button id="decline" type="button" class="btn btn-danger btn-block disabled">Decline Job</button><br>
                                <button id="review" type="button" class="btn btn-warning btn-block disabled">Send for review</button><br>
                                
                                <a href="{{ paper.get_paper_complete_url }}" style="text-decoration: none;"><button type="button" class="btn btn-primary btn-block">Complete</button></a><br>
                            {% else %}
                                <button id="accpet" type="button" class="btn btn-success btn-block disabled">Accpet Job</button><br>
                                <button id="decline" type="button" class="btn btn-danger btn-block disabled">Decline Job</button><br>
                                <button id="review" type="button" class="btn btn-warning btn-block disabled">Send for review</button><br>
                                <button id="review" type="button" class="btn btn-warning btn-block disabled">Complete</button><br>
                            {% endif %}
                        {% endif %}
                        <a href="{% url 'raw_paper_download' paper.id %}"><button id="accpet" type="button" class="btn btn-primary btn-block btn-default">Download Original Paper</button></a>

                    </div>
                    <div class="col-md-6" style="font-size: 12px; margin-top: 55px;">
                        <h4 class="request_header">Reviewed Papers</h4>
                        {% if reviewed_papers %}
                            <table class="table">
                                <thead class="thead-default">
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th class="col-sm-1">Date</th>
                                        <th class="col-sm-1">Download</th>
                                        <th>Uploaded By</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for paper in reviewed_papers %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ paper.paper.title }}</td>
                                        <td><p>{{ paper.created|date:"M d, Y" }}</p><p class="text-muted text-center" style="margin-top: -10px;">{{ paper.created|time:"g:iA"|lower }}</p></td>
                                        <td><p class="text-center"><a href="{% url 'paper_download' paper.id %}"" style="text-decoration:none;cursor:pointer;"><span class="glyphicon glyphicon-download" style="font-size: 20px;"></span></a></p></td>
                                        <th>{{ paper.user.get_full_name }}</th>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="text-muted text-center">No Paper send for review yet.</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>    
        <!--Conversations-->
        <div class="row text-center" style="margin-top: 40px;">
            <h4>Conversation</h4>
        </div>
        <div class="row">
            <div class="col-sm-12 paddingtop-20" style="margin-top: 10px; margin-bottom: 20px;">
                <h5>{{ msgs.subject }}</h5>
                <div class="text-subline"></div>
            </div>
        </div>
        <div class="row">
            <div class="clearfix profile-block paddingtop-20" style="color: black;">
                <div class="col-md-2 col-md-offset-0 col-xs-4 col-xs-offset-4">
                    <div class="circle">
                        {% with msgs.sender as sender %}
                            <div class="thubmnail-inner img-rounded" style="height: 70px;">
                                {% if sender.students_set.all %}
                                    <img class="img-circle" src="{% if sender.students_set.all.0.avatar %}{{ sender.students_set.all.0.avatar.url }}{% else %}{% static 'images/nodp.jpg' %}{% endif %}" width="70" height="70">
                                {% else %}
                                    <a href="/editors/{{ sender.editors_set.all.0.user.username }}/" class="thubmnail-inner img-rounded" style="height: 70px;">
                                        <img class="img-circle" src="{% if sender.editors_set.all.0.avatar %}{{ sender.editors_set.all.0.avatar.url }}{% else %}{% static 'images/nodp.jpg' %}{% endif %}" width="70" height="70">
                                    </a>
                                {% endif %}
                            </div>
                            <div>
                                <span class="tag label label-info"><strong>{{ msgs.sender.get_full_name }}</strong></span>
                            </div>
                        {% endwith %}
                    </div>
                </div>
                <div class="col-md-8 col-xs-12" style="margin-bottom: 20px;">
                    <div class="message_truncate" style="text-align: justify-all;">{{ msgs.message|safe }}</div>
                </div>
                <div class="col-md-2 col-xs-12">
                    <strong>{{ msgs.created|date:"M d, Y" }}</strong>
                    <small class="text-muted text-center">{{ msgs.created|time:"g:iA"|lower }}</small>
                </div>
            </div>
        </div>
        <div class="row">
            {% for message in child_msg %}
                <div class="clearfix profile-block" style="color: black; margin-top: 10px;">
                    <div class="col-md-2 col-md-offset-0 col-xs-4 col-xs-offset-4">
                        <div class="circle">
                            {% with message.sender as sender %}
                                <div class="thubmnail-inner img-rounded" style="vertical-align: middle;">
                                    {% if sender.students_set.all %}
                                        <img class="img-circle" src="{% if sender.students_set.all.0.avatar %}{{ sender.students_set.all.0.avatar.url }}{% else %}{% static 'images/nodp.jpg' %}{% endif %}" width="70" height="70">
                                    {% else %}
                                        <a href="/editors/{{ sender.editors_set.all.0.user.username }}/" class="thubmnail-inner img-rounded" style="height: 70px;">
                                            <img class="img-circle" src="{% if sender.editors_set.all.0.avatar %}{{ sender.editors_set.all.0.avatar.url }}{% else %}{% static 'images/nodp.jpg' %}{% endif %}" width="70" height="70">
                                        </a>
                                    {% endif %}
                                </div>
                                <div>
                                    {% if sender.students_set.all %}
                                        <span class="tag label label-info"><strong>{{ message.sender.get_full_name }}</strong></span>
                                    {% else %}
                                        <a href="/editors/{{ sender.editors_set.all.0.user.username }}/"><span class="tag label label-success"><strong>{{ message.sender.get_full_name }}</strong></span></a>  
                                    {% endif %}                            
                                </div>
                            {% endwith %}
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12" style="margin-bottom: 10px;">
                        <div style="text-align: justify;"><p>{{ message.message|safe }}</p></div>
                    </div>
                    <div class="col-md-2 col-xs-12" id="id_date">
                        <strong>{{ message.created|date:"M d, Y" }}</strong>
                        <small class="text-muted text-center">{{ message.created|time:"g:iA"|lower }}</small>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="clearfix" style="color: black; margin-top: 10px;">
                <form id="reply_form" role="form" method="post">
                    {% csrf_token %}
                    {{ form.sender }}
                    {{ form.recipient }}
                    {{ form.parent_msg }}
                    {{ form.subject }}
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                {{ form.message }}
                                <small class="es-error">{{ form.message.errors.as_text }}</small>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="margin-top: 5px;">
                            <div class="form-group">
                                <input class="btn btn-primary btn-block" type="submit" value="Send"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>    
        </div>
    </div>

    <div id="id_paper_complete_modal" class="modal fade" tabindex="-1" role="dialog" style="margin-top: 100px; color: black;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-overlay" id="id_paper_complete_overlay">
                    <img src="{% static 'images/spin.svg' %}"/>
                </div>
                <form id="id_paper_complete_form" class="form-horizontal" action="{% url 'paper_ready' %}" method="post" enctype="multipart/form-data" onsubmit="return complete_paper_form($(this))">
                    {% csrf_token %}
                    {{ complete_paper_form.paper_id }}
                    <div class="modal-header">
                        <button type="button" class="close" onclick="remove_error()">&times;</span></button>
                        <h4 class="modal-title">Update Paper</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" id="id_edited_paper_error_parent_div">
                                    <label for="edited_paper" class="control-label col-md-3">Edited Paper</label>
                                    <div class="col-md-9">
                                        <input id="id_edited_paper" class="form-control" name="edited_paper" type="file" style="border:0 !important;box-shadow: none;">
                                        <small id="id_edited_paper_error" class="error"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" onclick="remove_error()" style="width: 80px;">Close</button>
                        <input type="submit" class="btn btn-primary btn-sm" value="Submit" style="width: 80px; float: right;">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}

    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script src ="{% static 'js/jquery.validate.min.js' %}"></script>

    <script src="{% static 'js/jquery.jtruncate.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/js/dist/star-ratings.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.description_truncate').jTruncate({
                length: 400,
                minTrail: 0,
                moreText: "Show More",
                lessText: "Less",
                ellipsisText: "...",
                moreAni: "",
                lessAni: ""
            });
            $("#id_paper_complete_modal").on('show.bs.modal', function(e) {
                $(".rd-navbar").css("z-index", "1000");
            });

            $("#id_paper_complete_modal").on('hide.bs.modal', function(e) {
                $(".rd-navbar").css("z-index", "999999");
            });

        });
        $('#reply_form').validate({
            ignore: "",
            rules: {
                message: {
                    
                    required: true
                },
            },
            highlight: function(element) {

                $(element).closest('.form-group').addClass('has-error');
                $(element).closest('.form-group').find('.es-error').text("This field is required.").show();
               
            },
            success: function(element) {

                $(element).closest('.form-group').removeClass('has-error');
                $(element).closest('.form-group').find('.es-error').hide();

            },
            submitHandler: function(form) {
                form.submit()
            }

        });
        $('#id_rating_result_modal').modal({backdrop: 'static', keyboard: false})  
        $("#id_rating_result_modal").on('show.bs.modal', function(e) {
                $(".rd-navbar").css("z-index", "1000");
            });

        $("#id_rating_result_modal").on('hide.bs.modal', function(e) {
            $(".rd-navbar").css("z-index", "999999");
        });


        function rating_form(paper_id) {
            $.ajax({
                url: "{% url 'rating' %}?paper_id="+paper_id,
                type: "GET",
                success: function(response) {
                    response = JSON.parse(response);

                    if(response.status){
                        $("body").append(response.text);
                        $("#id_rating_result_modal").modal("show");
                    }
                }
            });
            return false;
        }

        function submit_rating(paper_id){
            var element = $(".star-ratings-rate-action")[0]
            var paper_id = element.getAttribute('data-paper-id');
            var feedback = $('#id_feedback_'+paper_id).val();
            $.ajax({
                url: "/editors/update-rating/?paper_id="+paper_id,
                type: "POST",
                data: {'feedback': feedback},
                success: function(response) {
                    window.location = window.location;
                }
            });
            return false;
        }

        function delete_rating(paper_id) {
            $.ajax({
                url: "/editors/delete-rating/?paper_id="+paper_id,
                type: "GET",
                success: function(response) {
                    response = JSON.parse(response);

                    if(response.status){
                        location.reload();
                       
                    }
                }
            });
            return false;
        }

    </script>

{% endblock %}

