{% extends 'base.html' %}
{% load staticfiles %}
{% load ratings %}
{% load stars %}


{% block content %}


    <style type="text/css">
        h6{
            font-size: 15px!important;
        }
        
    </style>
    <div class="row">
        <div id="id_message_alert">
            {% if messages %}
                {% for message in messages %}                                    

                <div class="message-alert" style="text-align: center; position: relative; z-index: 999; width: 50%;  left: 30%; margin-top: 11px;">
                    <div class="alert text-center alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <span>{{ message }}</span>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-bottom: 10px;">
            <div class="pull-right">
                <input type="hidden" name="username" value="{{ editor.user.username }}" id="username"/>
                <div class="pull-right hidden-sm hidden-xs">
                    {% if not request.user.is_authenticated or role == 'student' %}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#id_request_quote_modal">Request a quote</button>&nbsp;&nbsp;
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#id_paper_modal">Submit a paper</button>
                    {% endif %}
                </div>
                <div class="clearfix visible-sm visible-xs"></div>
                <div class="visible-sm visible-xs">
                    {% if not request.user.is_authenticated or role == 'student' %}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#id_request_quote_modal">Request a quote</button>&nbsp;&nbsp;
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#id_paper_modal">Submit a paper</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="col-md-3 text-sm-left">
            {% if not stripe_profile and request.user == editor.user %}
                <div>
                    <a href="{% url 'stripe_connect' %}" target='_blank' style="max-width: 340px; margin-left:auto; margin-right:auto" class="btn btn-primary btn-block">Connect your Stripe Account</a>
                </div>
            {% endif %}
            <div class="profile-block" style="vertical-align:middle; text-align:center">
                <img src="{% if editor.avatar %}{{ editor.avatar.url }}
                {% else %}{% static 'images/nodp.jpg' %}{% endif %}"
                alt="{{ editor.user.get_full_name }}" width="140" height="140" alt="" style="border-radius: 5px;">
            </div>
            <div class="offset-top-15 offset-sm-top-20 text-center profile-block" style="padding: 10px;">
                {% if editor.rating_star %}  
                    {% editor_stars editor.id %}
                    <br>
                    <span style="color: black; font-size: 12px;">{{ editor.rating_star }}/5.0</span>
                {% else %}
                   <p style="color: lightgrey; margin-right: -10px;">No Rating Yet.</p>
                {% endif %}
            </div>
            <div class="offset-top-15 offset-sm-top-20 profile-block" style="padding: 30px ">
                <div class="row">
                    <div class="pull-left col-md-offset-3">
                        <h6 class="text-center"><strong>{{ editor.user.get_full_name }}</strong></h6>
                    </div>
                    <div class="pull-right">
                        {% if editor.user == request.user %}

                        <a style="cursor:pointer;" href="{% url 'edit_editor' %}"><span class="glyphicon glyphicon-pencil"></span></a>
                        {% endif %}
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="pull-left col-md-offset-2">
                        {% if editor.nationality %}
                            <h6><strong>Nationality:</strong>&nbsp;{{ editor.nationality }}</h6>  
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="offset-sm-top-20 offset-sm-top-20 profile-block" style="padding: 30px;">
                <div class="row">
                    <div class="pull-left">
                        <h6><strong>Research Methods</strong></h6>
                    </div>
                    <div class="pull-right">
                        {% if editor.user == request.user %}
                            <a style="cursor:pointer;" href="{% url 'edit_editor' %}"><span class="glyphicon glyphicon-pencil"></span></a>
                        {% endif %}
                    </div>
                </div>
                <div class="row" style="margin-top: 10px; text-align: justify;">
                    <div class="pull-left" style="line-height: 35px;">
                        {% if editor.research_methods == "Both" %}
                            <ul style="margin-left: -20px;">
                                <li><h6>Qualitative</h6></li>
                                <li><h6>Quantitative</h6></li>
                            </ul>
                        {% elif editor.research_methods == "Qualitative" %}
                        <ul style="margin-left: -20px;">
                            <li><h6>Qualitative</h6></li>
                        </ul>
                        {% elif editor.research_methods == "Quantitative" %}
                        <ul style="margin-left: -20px;">
                            <li>
                                <h6>Quantitative</h6>
                            </li>
                        </ul style="margin-left: -20px;">
                        {% elif editor.research_methods == "Others" %}
                        <ul style="margin-left: -20px;">
                            <li>
                                <h6>{{ editor.optional_research_methods.title }}</h6>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="offset-sm-top-20 offset-sm-top-20 profile-block" style="padding: 30px;">
                <div class="row">
                    <div class="pull-left">
                        <h6><strong>Research Interests</strong></h6>
                    </div>
                    <div class="pull-right">
                        {% if editor.user == request.user %}
                            <a style="cursor:pointer;" href="{% url 'edit_editor' %}"><span class="glyphicon glyphicon-pencil"></span></a>
                        {% endif %}
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="pull-left">

                        {% for interest in editor.research_interest.all %}
                        <ul style="margin-left: -20px;">
                            <li><h6>{{ interest.interest|title }}</h6></li>
                        </ul>
                        {% empty %}
                            <span class="text-muted">No research interests yet.</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="offset-sm-top-20 offset-sm-top-20 profile-block" style="padding: 30px;">
                <div class="row">
                    <div class="pull-left">
                        <h6><strong>Disciplines</strong></h6>
                    </div>
                    <div class="pull-right">
                        {% if editor.user == request.user %}
                        <a style="cursor:pointer;" href="{% url 'edit_editor' %}"><span class="glyphicon glyphicon-pencil"></span></a>
                        {% endif %}
                    </div>
                </div>
                <div class="row" style="margin-top: 10px; line-height: 10px;">
                    <div class="pull-left" style="text-align: justify;">
                        {% for name in editor.discipline.all %}
                            <ul style="margin-left: -20px;">
                                <li><h6>{{ name.name }}</h6></li>
                            </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="offset-sm-top-20 offset-sm-top-20 profile-block" style="padding: 30px;">
                <div class="row">
                    <div class="pull-left">
                        <h6><strong>Reference Style</strong></h6>
                    </div>
                    <div class="pull-right">
                        {% if editor.user == request.user %}
                        <a style="cursor:pointer;" href="{% url 'edit_editor' %}"><span class="glyphicon glyphicon-pencil"></span></a>
                        {% endif %}
                    </div>
                </div>    
                <div class="row" style="margin-top: 10px; line-height: 10px;">
                    <div class="pull-left">
                        {% if editor.referencing_style == "Harvard" %}
                        <ul style="margin-left: -20px;">
                            <li><h6>Harvard</h6></li>
                        </ul>
                        {% elif editor.referencing_style == "Oxford" %}
                            <ul style="margin-left: -20px;">
                                <li><h6>Oxford</h6></li>
                            </ul>
                        {% elif editor.referencing_style == "Chicago" %}
                            <ul style="margin-left: -20px;">
                                <li><h6>Chicago</h6></li>
                            </ul>
                        {% elif editor.referencing_style == "APA" %}
                            <ul style="margin-left: -20px;">
                                <li><h6>APA</h6></li>
                            </ul>
                        {% elif editor.referencing_style == "MLA" %}
                            <ul style="margin-left: -20px;">
                                <li><h6>MLA</h6></li>
                            </ul>        
                        {% elif editor.research_methods == "Others" %}
                            <ul style="margin-left: -20px;">
                                <li><h6>{{ editor.optional_referencing_style.title }}</h6></li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="offset-sm-top-20 offset-sm-top-20 profile-block" style="color: black; line-height: 30px; padding: 30px;">
                <div class="row">
                    <div class="pull-left">
                        <h6><strong>Search Edited Papers</strong></h6>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <form role="search" action="" method="get" >
                        <div class="form-group">
                            <div class="es-form-control">
                                <span class="glyphicon glyphicon-search"></span>
                                <input type="text" name="q" placeholder="Search Papers" autocomplete="off" value="{{ query }}" class="editornameinput full" style="width:80%;" />
                            </div>
                        </div>
                    </form>   
                </div>
            </div>
            {% if request.user.is_authenticated and request.user == editor.user %}
                <div class="offset-sm-top-20 offset-sm-top-20 profile-block hidden-xs" style="color: black; line-height: 30px; padding: 30px;margin-bottom: 20px;">
                    <h6><strong>Recently Viewed</strong></h6>
                    <div style="margin-top: 10px; text-align: justify;">
                        {% for editors in save_profile_viewer %}
                            <p>
                                <a href="{% url 'profile' editors.editor.user.username %}">
                                    <img src="{% if editors.editor.avatar %}{{ editors.editor.avatar.url }}{% else %}{% static 'images/nodp.jpg' %}{% endif %}" style="border-radius: 3px;" width="30" height="30">
                                    <small>
                                        <a href="{% url 'profile' editors.editor.user.username %}">{{ editors.editor }}</a>
                                    </small>
                                </a>
                            </p>
                        {% empty %}
                            <p>No Recent Search</p>    
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-9 text-sm-left">
            <div class="clearfix">
                <div class="profile-block offset-sm-bottom-20">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="text-bold">About {{ editor.user.get_full_name }}
                            {% if editor.user == request.user %}
                                <a style="cursor:pointer; float: right;" href="{% url 'edit_editor' %}"><span class="glyphicon glyphicon-pencil" style="color: grey; font-size: 14px;"></span></a>
                            {% endif %}
                            </h6>

                            <div class="text-subline"></div>
                            <p style="color:#333333;line-height: 25px;font-size:15px;word-spacing: 2px; text-align: justify;">
                                {% if editor.bio %}
                                    {{ editor.bio }}
                                {% else %}
                                    <p style="color: lightgrey; margin-top: 20px; text-align: center;">No about info added yet.</p>
                                {% endif %}
                            </p>
                        </div>    
                    </div>
                </div>    
                <div class="profile-block offset-sm-top-20">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="text-bold">Work Experience
                                {% if editor.user == request.user %}
                                    <a style="cursor:pointer; float: right;" href="{% url 'edit_editor' %}"><span class="glyphicon glyphicon-pencil" style="color: grey; font-size: 14px;"></span></a>
                                {% endif %}
                            </h6>
                            <div class="text-subline"></div>
                            {% for experience in editor.experience_set.all %}
                                <h6 style="color:#333333;line-height: 25px;font-size:15px;word-spacing: 2px;">
                                    {{ experience.title }} at {{ experience.company_name }} from {{ experience.from_month|title }} {{ experience.from_year }}-{{ experience.to_year }} | {{ experience.location }} 
                                </h6>    
                                <p style="color:#333333;line-height: 25px;font-size:15px;word-spacing: 2px; text-align: justify;">{{ experience.description }}</p>
                            {% empty %}
                                <p style="color: lightgrey; margin-top: 20px; text-align: center;">No work experience added yet.</p>
                            {% endfor %}
                        </div>
                    </div>        
                </div>
                <div class="profile-block offset-sm-top-20">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <h6 class="text-bold">Academic Qualifiations
                                {% if editor.user == request.user %}
                                    <a style="cursor:pointer; float: right;" href="{% url 'edit_editor' %}"><span class="glyphicon glyphicon-pencil" style="font-size: 14px; color: grey;"></span></a>
                                {% endif %}
                            </h6>
                            <div class="text-subline"></div>
                                {% for qualification in editor.qualification_set.all %}
                                    <h6 style="color:#333333;line-height: 25px;font-size:15px;word-spacing: 2px;">
                                        <strong>{{ qualification.degree_level }}</strong> of {{ qualification.degree|title }} from {{ qualification.university }},  {{ qualification.from_month|title }} {{ qualification.from_year }} - {{ qualification.to_month|title }} {{ qualification.to_year }}
                                    </h6>
                                {% empty %}
                                    <p style="color: lightgrey; margin-top: 20px; text-align: center;">No qualifications added yet.</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>           
                </div>

                {% if editor.user == request.user %}
                    <div class="row">
                        <div class="col-md-12 offset-sm-top-20">
                            <h4 class="request_header">New Requests</h4>
                            <div class="offset-top-30 offset-sm-top-20 profile-block" style="color: black; margin-top: -20px; padding: 1px;">
                                <input type="hidden" name="start1" value="{{ start1 }}" id="start1"/>

                                {% if new_requests %}
                                    <table class="table">
                                        <thead class="thead-default">
                                            <tr>
                                                <th>#</th>
                                                <th>Title</th>
                                                <th>Date</th>
                                                <th>Price</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody id="more_paper_request">
                                            {% for paper in new_requests %}
                                                <tr class='clickable-row' data-href="{% url 'paper_detail' paper.id %}" style="cursor: pointer;">
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>
                                                        <p><a href="{% url 'paper_detail' paper.id %}" style="text-decoration: none;cursor: pointer;">{{ paper.title }}</a></p>
                                                    </td>
                                                    
                                                    <td>{{ paper.created|date:"M d, Y" }}</td>
                                                    <td>
                                                        {{ currency }} {{ paper.price|floatformat:"2" }}
                                                    </td>
                                                    <td>{{ paper.status }}</td>        
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                {% else %}
                                    <div class="text-muted text-center" style="margin-top: 20px; margin-bottom: 20px;">No Pending Paper Requests.</div>
                                {% endif %}  
                            </div>
                            <div class="text-center">
                                <div id="spin_svg_request_paper" style="text-align:center; display: none;">
                                    <img src="{% static 'images/spin.svg'%}">
                                </div>
                                {% if more1 %}
                                <input class="btn btn-primary btn-sm" id="showmore_paper_request" type="submit" value="Show More" onclick="load_more_paper_request();"/>  
                                {% endif %}
                            </div>
                        </div>
                    </div>                       
                {% endif %}

                <h4 class="request_header">Edited Papers</h4>
                <div class="profile-block" style="color: black; margin-top: -20px; padding: 2px;">
                    <input type="hidden" name="start" value="{{ start }}" id="start"/>
                    <div class="row">
                        <div class="col-md-12">
                            {% if papers %}
                                <table class="table">
                                    <thead class="thead-default">
                                        <tr>
                                            <th><strong>#</strong></th>
                                            <th>Title</th>
                                            <th>Discipline</th>
                                            <th>Date</th>
                                            <th>Rating</th>
                                        </tr>
                                    </thead>
                                    <tbody id="more_edited_paper">
                                        {% for paper in papers %}
                                            <tr class='clickable-row' data-href="{% url 'paper_detail' paper.id %}" style="cursor: pointer;"> 
                                                <td>{{ forloop.counter }}</td>
                                                <td>
                                                {% if paper.editor.user == request.user or paper.student.user == request.user %}
                                                <p><a href="{% url 'paper_detail' paper.id %}" style="text-decoration: none; cursor: pointer;">{{ paper.title }}</a></p>
                                                {% else %}
                                                    {{ paper.title }}
                                                {% endif %}        
                                                </td>
                                                <td><span class="tag label label-warning">{{ paper.discipline }}</span></td>
                                                <td>{{ paper.created|date:"M d, Y" }}</td>
                                                <td>
                                                {% if paper.has_rating %}
                                                    {% paper_stars paper.id 'no_detail_page' %}
                                                {% else %}
                                                   N/A
                                                {% endif %}    
                                                </td>         
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="text-muted text-center" style="margin-top: 20px; margin-bottom: 20px;">No Paper edited yet.</div>
                            {% endif %}
                        </div>
                    </div>          
                </div>

                <div class="text-center">
                    <div id="spin_svg_editpaper" style="text-align:center; display: none;">
                        <img src="{% static 'images/spin.svg'%}">
                    </div>
                    {% if more %}
                    <input class="btn btn-primary btn-sm" id="showmore_edited_paper" type="submit" value="Show More" onclick="load_more_edited_paper();"/>  
                    {% endif %}
                </div>

                {% if editor.user == request.user %}
                    <div class="row">
                        <div class="col-md-12 col-xs-12 offset-sm-top-20">
                            <h4 class="request_header">Quotations</h4>
                            <input type="hidden" name="start2" value="{{ start2 }}" id="start2"/>

                            <div class="offset-top-30 offset-sm-top-20 profile-block" style="color: black; margin-top: -20px; padding: 2px;">
                                {% if quotes %}
                                    <table class="table">
                                        <thead class="thead-default">
                                            <tr>
                                                <th><strong>#</strong></th>
                                                <th>Title</th>
                                                <th>Student</th>
                                                <th>Description</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tbody id="more_quotes_request">
                                            {% for quote in quotes %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>
                                                        {{ quote.title }}
                                                    </td>
                                                    <td>{{ quote.student.user.get_full_name }}</td>
                                                    <td>
                                                        <p title="Description" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="{{ quote.description }}" style="cursor: pointer; color: #b80924;">{{ quote.description|truncatechars:10 }}</p>
                                                    </td>
                                                    <td>{{ quote.created|date:"M d, Y" }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <div class="text-muted text-center" style="margin-top: 20px; margin-bottom: 20px;">No Quotes Requests.</div>
                                {% endif %}    
                            </div>
                            <div class="text-center">
                                <div id="spin_svg_quotes" style="text-align:center; display: none;">
                                    <img src="{% static 'images/spin.svg'%}">
                                </div>
                                {% if more2 %}
                                <input class="btn btn-primary btn-sm" id="showmore_quotes_request" type="submit" value="Show More" onclick="load_more_quotes_request();"/>  
                                {% endif %}
                            </div>
                        </div>
                    </div>        
                {% endif %}

                {% if request.user.is_authenticated and request.user == editor.user %}
                    <div class="offset-sm-top-20 profile-block visible-xs" style="color: black; line-height: 30px; padding: 30px;margin-bottom: 20px;">
                        <h6><strong>Recently Viewed</strong></h6>
                        <div style="margin-top: 10px; text-align: justify;">
                            {% for editors in save_profile_viewer %}
                                <p>
                                    <a href="{% url 'profile' editors.editor.user.username %}">
                                        <img src="{% if editors.editor.avatar %}{{ editors.editor.avatar.url }}{% else %}{% static 'images/nodp.jpg' %}{% endif %}" style="border-radius: 3px;" width="30" height="30">
                                        <small>
                                            <a href="{% url 'profile' editors.editor.user.username %}">&nbsp;{{ editors.editor }}</a>
                                        </small>
                                    </a>
                                </p>
                            {% empty %}
                                <p>No Recent Search</p>    
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}    
            </div>
        </div>
    </div>    
                      
    <!-- Modal -->
    <div class="modal fade" id="id_request_quote_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-overlay" id="id_quote_overlay">
                    <img src="{% static 'images/spin.svg' %}"/>
                </div>
                <form id="id_request_quote_form" class="form-horizontal" action="{% url 'quote_request' %}" enctype="multipart/form-data" method="post" onsubmit="return quote_request($(this))" style="color: black;">
                    {% csrf_token %}
                    {{ quote_form.editor_id }}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Request a Quote</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row paddingtop-20">
                            <div class="col-md-12">
                                <div class="form-group" id="id_title_error_parent_div">
                                    <label for="Title" class="control-label col-md-2">Title</label>
                                    <div class="col-md-10">
                                        {{ quote_form.title }}
                                        <small id="id_title_error" class="es-error"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row paddingtop-20">    
                            <div class="col-md-12">
                                <div class="form-group" id="id_discipline_error_parent_div">
                                    <label for="discipline" class="control-label col-md-2">Disciplines</label>
                                    <div class="col-md-10">
                                        <select class="form-control" name="discipline" id="id_discipline">
                                            <option value="" selected="">Select Discipline</option>
                                            {% for discipline in editor.discipline.all %}
                                                <option value="{{ discipline.name }}">{{ discipline.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <small id="id_discipline_error" class="es-error"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row paddingtop-20">
                            <div class="col-md-12">
                                <div class="form-group" id="id_description_error_parent_div">
                                    <label for="description" class="control-label col-md-2">Description</label>
                                    <div class="col-md-10">
                                        {{ quote_form.description }}
                                        <small id="id_description_error" class="es-error"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if not role == 'student' %}
                            <div class="row paddingtop-20">
                                <div class="col-md-12">
                                    <div class="form-group" id="id_first_name_error_parent_div">
                                        <label for="name" class="control-label col-md-2">First Name</label>
                                        <div class="col-md-10">
                                            {{ quote_form.first_name }}
                                            <small id="id_first_name_error" class="es-error"></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row paddingtop-20">
                                <div class="col-md-12">
                                    <div class="form-group" id="id_last_name_error_parent_div">
                                        <label for="name" class="control-label col-md-2">Last Name</label>
                                        <div class="col-md-10">
                                            {{ quote_form.last_name }}
                                            <small id="id_last_name_error" class="es-error"></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row paddingtop-20">
                                <div class="col-md-12">
                                    <div class="form-group" id="id_email_error_parent_div">
                                        <label for="email" class="control-label col-md-2">Email</label>
                                        <div class="col-md-10">
                                            {{ quote_form.email }}
                                            <small id="id_email_error" class="es-error"></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row paddingtop-20">
                            <div class="col-md-12">
                                <div class="form-group" id="id_words_count_error_parent_div">
                                    <label for="words_count" class="control-label col-md-2" style="margin-top: -15px;">Words Count</label>
                                    <div class="col-md-10">
                                        {{ quote_form.words_count }}
                                        <small id="id_words_count_error" class="es-error"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row paddingtop-20">
                            <div class="col-md-12">
                                <div class="form-group" id="id_document_error_parent_div">
                                    <label for="document" class="control-label col-md-2" style="margin-top: -15px;">Document</label>
                                    <div class="col-md-10">
                                        {{ quote_form.document }}
                                        <small id="id_document_error" class="es-error"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer paddingtop-20">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" style="width: 80px;">Close</button>
                        <input type="submit" class="btn btn-primary btn-sm" value="Submit" style="width: 80px; float: right;">
                    </div>
                </form>
            </div>
      </div>
      </div>
    </div>

    <div class="modal fade" id="id_paper_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-overlay" id="id_paper_overlay">
                    <img src="{% static 'images/spin.svg' %}"/>
                </div>
                <form id="id_paper_form" class="form-horizontal" action="{% url 'paper_request' %}" method="post" onsubmit="return paper_request($(this))" enctype="multipart/form-data" style="color: black;">
                    {% csrf_token %}
                    {{ paper_form.editor_id }}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Submit a paper</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row paddingtop-20">
                            <div class="col-md-12">
                                <div class="form-group" id="id_title_error_parent_div">
                                    <label for="Title" class="control-label col-md-2">Title</label>
                                    <div class="col-md-10">
                                        {{ paper_form.title }}
                                        <small id="id_title_error" class="es-error"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row paddingtop-20">    
                            <div class="col-md-12">
                                <div class="form-group" id="id_discipline_error_parent_div">
                                    <label for="discipline" class="control-label col-md-2">Disciplines</label>
                                    <div class="col-md-10">
                                        <select class="form-control" name="discipline" id="id_discipline">
                                            <option value="" selected="">Select Discipline</option>
                                            {% for discipline in editor.discipline.all %}
                                                <option value="{{ discipline.name }}">{{ discipline.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <small id="id_discipline_error" class="es-error"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row paddingtop-20">
                            <div class="col-md-12">
                                <div class="form-group" id="id_price_error_parent_div">
                                    <label for="price" class="control-label col-md-2">Price</label>
                                    <div class="col-md-10">
                                        {{ paper_form.price }}
                                        <small id="id_price_error" class="es-error"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row paddingtop-20">
                            <div class="col-md-12">
                                <div class="form-group" id="id_description_error_parent_div">
                                    <label for="description" class="control-label col-md-2">Description</label>
                                    <div class="col-md-10">
                                        {{ paper_form.description }}
                                        <small id="id_description_error" class="es-error"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if not role == 'student' %}
                            <div class="row paddingtop-20">
                                <div class="col-md-12">
                                    <div class="form-group" id="id_first_name_error_parent_div">
                                        <label for="name" class="control-label col-md-2">First Name</label>
                                        <div class="col-md-10">
                                            {{ paper_form.first_name }}
                                            <small id="id_first_name_error" class="es-error"></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row paddingtop-20">
                                <div class="col-md-12">
                                    <div class="form-group" id="id_last_name_error_parent_div">
                                        <label for="name" class="control-label col-md-2">Last Name</label>
                                        <div class="col-md-10">
                                            {{ paper_form.last_name }}
                                            <small id="id_last_name_error" class="es-error"></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row paddingtop-20">
                                <div class="col-md-12">
                                    <div class="form-group" id="id_email_error_parent_div">
                                        <label for="email" class="control-label col-md-2">Email</label>
                                        <div class="col-md-10">
                                            {{ paper_form.email }}
                                            <small id="id_email_error" class="es-error"></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row paddingtop-20">
                            <div class="col-md-12">
                                <div class="form-group" id="id_deadline_error_parent_div">
                                    <label for="deadline" class="control-label col-md-2" style="margin-top: -15px;">Deadline</label>
                                    <div class="col-md-10">
                                        {{ paper_form.deadline }}
                                        <small id="id_deadline_error" class="es-error"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row paddingtop-20">
                            <div class="col-md-12">
                                <div class="form-group" id="id_words_count_error_parent_div">
                                    <label for="words_count" class="control-label col-md-2" style="margin-top: -15px;">Words Count</label>
                                    <div class="col-md-10">
                                        {{ paper_form.words_count }}
                                        <small id="id_words_count_error" class="es-error"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row paddingtop-20" style="margin-top: -10px;">
                            <div class="col-md-12">
                                <div class="form-group" id="id_paper_error_parent_div">
                                    <label for="paper" class="control-label col-md-2">Paper</label>
                                    <div class="col-md-10 paddingtop-20">
                                        {{ paper_form.paper }}
                                        <small id="id_paper_error" class="es-error"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer paddingtop-20">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" style="width: 80px;">Close</button>
                        <input type="submit" class="btn btn-primary btn-sm" value="Submit" style="width: 80px; float: right;">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.min.css' %}">

    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script src="{% static 'js/jquery.jtruncate.js' %}"></script>

    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/js/dist/star-ratings.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function(){

            $('[data-toggle="popover"]').popover();

            $("#id_paper_modal").on('show.bs.modal', function(e) {
                $(".rd-navbar").css("z-index", "1000");
            });

            $("#id_paper_modal").on('hide.bs.modal', function(e) {
                $(".rd-navbar").css("z-index", "999999");
            });

            $("#id_request_quote_modal").on('show.bs.modal', function(e) {
                $(".rd-navbar").css("z-index", "1000");
            });

            $("#id_request_quote_modal").on('hide.bs.modal', function(e) {
                $(".rd-navbar").css("z-index", "999999");
            });

            $('.description_truncate').jTruncate({
                length: 40,
                minTrail: 0,
                moreText: "Show More",
                lessText: "Less",
                ellipsisText: "...",
                moreAni: "",
                lessAni: ""
            });

            $(".editornameinput").on("keyup", function(){
                var val = $(this).val();
                $(".editornameinput").each(function(){
                    $(this).val(val)
                });
            });
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
        $('#id_deadline').datepicker({ 
            startDate: "today",
            clearBtn: true,
            autoclose: true,
            todayHighlight: true,
        });

        $(function(){
            $("#id_price").keypress(function (e) {
                if (e.which != 8 && e.which != 0  && e.which !=46 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });

            $('#profile_link').on('click', function(){
                $("li").removeClass('active');
                $("#paper_link").removeClass('active');
                $("#paper_due_request_link").removeClass('active');
                $("#quote_due_request_link").removeClass('active');
            });

            $('#paper_link').on('click', function(){
                $("li").removeClass('active');
                $("#profile_link").removeClass('active');
                $("#paper_due_request_link").removeClass('active');
                $("#quote_due_request_link").removeClass('active');
            });

            $('#paper_due_request_link').on('click', function(){
                $("li").removeClass('active');
                $("#paper_link").removeClass('active');
                $("#profile_link").removeClass('active');
                $("#quote_due_request_link").removeClass('active');
            });
            $('#quote_due_request_link').on('click', function(){
                $("li").removeClass('active');
                $("#paper_link").removeClass('active');
                $("#profile_link").removeClass('active');
                $("#paper_due_request_link").removeClass('active');
            });

            {% if query %}
                $('#paper_link').click();
            {% endif %}
        })

        function rating_form(paper_id) {
			$.ajax({
                url: "{% url 'rating' %}?paper_id="+paper_id,
                type: "GET",
                success: function(response) {
                    response = JSON.parse(response);

                    if(response.status){
                        $("body").append(response.text);
                        $("#id_rating_result_modal").modal("show");
                    }
                }
            });
            return false;
        }

        function load_more_edited_paper() {
            start = $('#start').val();
            username = $("#username").val();

            $("#spin_svg_editpaper").show();

            $.ajax({
                url: "{% url 'load_more_edited_paper' %}",
                type: "GET",
                data: {
                    'start' : start,
                    'username': username
                },
                success: function(response) {
                    $("#spin_svg_editpaper").hide();
                    $("#showmore_edited_paper").blur();
                    $("#more_edited_paper").append(response.data);
                    $("#start").val(response.start);
                    if (response.more == false){
                        $("#showmore_edited_paper").hide();
                    }
                }
            })
        }

        function load_more_paper_request() {
            start1 = $('#start1').val();
            username = $("#username").val();
            $("#spin_svg_request_paper").show();

            $.ajax({
                url: "{% url 'load_more_paper_request' %}",
                type: "GET",
                data: {
                    'start1' : start1,
                    'username': username
                },
                success: function(response) {
                    $("#spin_svg_request_paper").hide();
                    $("#showmore_paper_request").blur();
                    $("#more_paper_request").append(response.data);
                    $("#start1").val(response.start1);
                    if (response.more1 == false){
                        $("#showmore_paper_request").hide();
                    }
                }
            })
        }

        function load_more_quotes_request() {
            start2 = $('#start2').val();
            username = $("#username").val();

            $("#spin_svg_quotes").show();

            $.ajax({
                url: "{% url 'load_more_quotes_request' %}",
                type: "GET",
                data: {
                    'start2' : start2,
                    "username": username
                },
                success: function(response) {
                    $("#spin_svg_quotes").hide();
                    $("#showmore_quotes_request").blur();
                    $("#more_quotes_request").append(response.data);
                    $('[data-toggle="popover"]').popover();
                    $("#start2").val(response.start2);
                    if (response.more2 == false){
                        $("#showmore_quotes_request").hide();
                    }
                }
            })
        }
        

    </script>

{% endblock %}
