<div class="row" style="margin-top:15px; color: black;" id="id_qualification_{{ qualification.id }}">
	<div class="col-md-10">
		<div class="login-panel panel panel-default">
			<div class="panel-body profile-block">
				<div class="col-md-10">
					<strong>{{ qualification.degree }}</strong> from <strong>{{ qualification.university }}</strong>&nbsp;
					<strong>( {{ qualification.from_year }}-{{ qualification.to_year }} )</strong>
				</div>
				<div class="col-md-2">
					<div class="row">
						<div class="col-md-6 pull-left">
							<a style="cursor:pointer;" onclick="add_qualificaton('{{ qualification.id }}');"><span class="glyphicon glyphicon-pencil" style="color: #66666a;"></span></a>
						</div>
						<div class="col-md-6 pull-right">
							<a style="cursor:pointer;" onclick="delete_qualification_notify('{{ qualification.id }}');"><span class="glyphicon glyphicon-trash" style="color: red;"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
