{% if qualification_detail_content %}
    <div class="row">
        <div class="col-md-12">
            {% for qualification_obj in qualification_detail_content %}
                {{ qualification_obj }}
            {% endfor %}
        </div>
    </div>
{% endif %}

<form class="form-horizontal" id="id_qualifiction_form" action="{% if qualification_id %}{% url 'edit_qualification_form' qualification_id %}{% else %}{% url 'save_qualification_form' %}{% endif %}" role="form" enctype="multipart/form-data" method="post" onsubmit="return save_qualificaton($(this))">
	{% csrf_token %}
    <div class="col-md-12">
        <div class="row paddingtop-20">
            <div class="col-md-3">
                <label for="id_university" class="control-label"><h6><strong>University:</strong></h6></label>
            </div>  
            <div class="col-md-7">  
                <div class="form-group" id="id_university_error_parent_div">
                    {{ form.university }}
                    <small class="error-msgs es-error" id="id_university_error" style="display: none;"></small>
                </div>
            </div>
        </div>

        <div class="row paddingtop-20">
            <div class="col-md-3">
                <label for="id_degree_level" class="control-label"><h6><strong>Degree Level:</strong></h6></label>
            </div>  
            <div class="col-md-7">  
                <div class="form-group" id="id_degree_level_error_parent_div">
                    {{ form.degree_level }}
                    <small class="error-msgs es-error" id="id_degree_level_error" style="display: none;"></small>
                </div>
            </div>
        </div>

        <div class="row paddingtop-20">
            <div class="col-md-3">
                <label for="id_degree" class="control-label"><h6><strong>Degree:</strong></h6></label>
            </div>  
            <div class="col-md-7">  
                <div class="form-group" id="id_degree_error_parent_div">
                    {{ form.degree }}
                    <small class="error-msgs es-error" id="id_degree_error" style="display: none;"></small>
                </div>
            </div>
        </div>

        <div class="row paddingtop-20">
            <div class="col-md-3">
                <label for="id_q_from_month" class="control-label"><h6><strong>Starting month:</strong></h6></label>
            </div>  
            <div class="col-md-2">  
                <div class="form-group">
                    {{ form.from_month }}
                </div>
            </div>
            <div class="col-md-2 col-md-offset-1 paddingtop-20 visible-xs">
                <label for="id_q_from_year" class="control-label"><h6><strong>Starting Year:</strong></h6></label>
            </div>
            <div class="col-md-2 col-md-offset-1 hidden-xs">
                <label for="id_q_from_year" class="control-label"><h6><strong>Starting Year:</strong></h6></label>
            </div>  
            <div class="col-md-2">  
                <div class="form-group">
                    {{ form.from_year }}
                </div>
            </div>
        </div>

        <div class="row paddingtop-20">
            <div class="col-md-3">
                <label for="id_q_to_month" class="control-label"><h6><strong>To Month:</strong></h6></label>
            </div>  
            <div class="col-md-2">  
                <div class="form-group">
                    {{ form.to_month }}
                </div>
            </div>
            <div class="col-md-2 col-md-offset-1 paddingtop-20 visible-xs">
                <label for="id_q_to_year" class="control-label"><h6><strong>To Year:</strong></h6></label>
            </div> 
            <div class="col-md-2 col-md-offset-1 hidden-xs">
                <label for="id_q_to_year" class="control-label"><h6><strong>To Year:</strong></h6></label>
            </div> 
            <div class="col-md-2">  
                <div class="form-group">
                    {{ form.to_year }}
                </div>
            </div>
        </div>
        <div class="row paddingtop-20">
            <div class="col-md-4">
                <label for="id_qualification_document" class="control-label"><h6><strong>Qualification Document:</strong></h6></label>
            </div>  
            <div class="col-md-3">
                <div class="form-group" id="id_qualification_document_error_parent_div" style="margin-top: 10px;">
                    {{ form.qualification_document }}
                    <small class="error-msgs es-error" id="id_qualification_document_error" style="display: none;"></small>
                </div>
            </div>
        </div>
        <div class="row paddingtop-20">
            <div class="col-md-10">
                <input class="btn btn-primary btn-sm" id="myButton" type="submit" value="Save"/ style="width: 100px;">
                {% if not qualification_id %}
                    <input class="btn btn-primary btn-sm" type="button" value="Cancel" onclick="remove_qualification_form($(this))" style="width: 100px;float: right;">
                {% else %}
                    <input class="btn btn-primary btn-sm" type="button" value="Cancel" onclick="remove_qualification( '{{ qualification_id }}')" style="width: 100px;float: right;">
                {% endif %}
            </div>
        </div>
    </div>
</form>

<div id="id_delete_modal" class="modal fade" tabindex="-1" role="dialog" style="margin-top: 100px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <p id="id_delete_message"></p>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" style="width: 100px;">Close</button>
                </div>
                <div class="pull-right">
                    <button id="id_delete_confirm" type="button" class="btn btn-primary pull-right" style="width: 100px;">Delete</button>            
                </div>
            </div>
        </div>
   </div>
</div>