{% load staticfiles %}
{% load ratings %}

<!-- Rating Modal -->
<div id="id_rating_result_modal" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Rating</h4>
            </div>
            <div class="modal-body">
                <div class="row">
					<div class="col-md-12">
					    <label>Feedback</label>
                        <textarea id="id_feedback_{{ paper.id }}" style="resize:none;" name="feedback" class="form-control" rows="5" cols="20"></textarea>
                    </div>
                    <div class="col-md-12 text-center">
                        <p style="font-size: 20px;color: gold;">
                            {% ratings paper %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="submit_rating({{ paper.id }})" class="btn btn-primary btn-sm">Submit</button>

                <button type="button" class="btn btn-default btn-sm" onclick="delete_rating({{ paper.id }})" data-dismiss="modal" aria-label="Close">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script type="text/javascript" src="{% static 'js/js/dist/star-ratings.js' %}"></script>
