{% extends 'base.html' %}

{% load staticfiles %}
{% load ratings %}
{% load stars %}

{% block top %}
    <section class="breadcrumb-classic context-dark">
        <div class="shell section-30 section-sm-top-10 section-sm-bottom-10">
            <h2 class="veil reveal-sm-block text-center">Financial Activities</h2>
        </div>
    </section>
{% endblock %}

{% block content %}
    
    <div class="row" style="margin-top:40px; margin-bottom: 40px;">
        <div class="col-md-3 text-sm-left">
            {% if not stripe_profile and request.user == editor.user %}
                <div>
                    <a href="{% url 'stripe_connect' %}" target='_blank' style="max-width: 340px; margin-left:auto; margin-right:auto" class="btn btn-primary btn-block">Connect your Stripe Account</a>
                </div>
            {% endif %}
            <div class="profile-block" style="vertical-align:middle; text-align:center">
                <img src="{% if editor.avatar %}{{ editor.avatar.url }}
                {% else %}{% static 'images/nodp.jpg' %}{% endif %}"
                alt="{{ editor.user.get_full_name }}" width="140" height="140" alt="" style="border-radius: 5px;">
            </div>
            <div class="offset-top-15 offset-sm-top-20 text-center profile-block" style="padding: 10px;">
                {% if has_rating %}
                    <p>
                        {% for i in star %}
                            <img src="{% static 'images/star.svg' %}" alt="" style="width: 15%;" />
                        {% endfor %}
                        {% if semi_star %}
                            <img src="{% static 'images/semi_star.svg' %}" alt="" style="width: 15%;" />
                        {% endif %}
                        {% for i in star_empty %}
                            <img src="{% static 'images/star_empty.svg' %}" alt="" style="width: 15%;" />
                        {% endfor %}
                        <span style="color: black">{{ editor.rating_star }}/5.0</span>

                    </p>
                {% else %}
                    <div class="text-muted">No ratings yet.</div>
                {% endif %}
            </div>
           
            <div class="offset-top-15 offset-sm-top-20 profile-block" style="padding: 30px ">
                <div class="row">
                    <h6 class="text-center"><strong>{{ editor.user.get_full_name }}</strong></h6>
                </div>
                <div class="row" style="margin-top: 10px;">
                    {% if editor.nationality %}
                        <h6 class="text-center"><strong>Nationality:</strong>&nbsp;{{ editor.nationality }}</h6>  
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-9 text-sm-left">
            <div class="clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="request_header">Financial Activities</h4>
                        <div class="offset-top-30 offset-sm-top-20 profile-block" style="color: black; margin-top: -20px; padding: 1px;">
                            <input type="hidden" name="start" value="{{ start }}" id="start"/>
                            {% if activities %}
                                <table class="table table-striped">
                                    <thead class="thead-default">
                                        <tr>
                                            <th>Date</th>
                                            <th>Description</th>
                                            <th>Type</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody id="more_financail_activities">

                                        {% for activity in activities %}
                                            <tr>
                                                <td class="col-md-3">{{ activity.created|date:"M d, Y" }}</td>
                                                <td class="col-md-3">
                                                    {% if activity.paper %}
                                                        <a href="{% url 'paper_detail' activity.paper.id %}" style="text-decoration: none; color: #b80924">
                                                            {{ activity.paper.title }}
                                                        </a>
                                                    {% else %}
                                                        {{ activity.description }}
                                                    {% endif %}
                                                </td>
                                                <td class="col-md-3">
                                                    {% if activity.type == "Credit" %}
                                                        <span class="tag label label-success">{{ activity.type }}</span>
                                                    {% else %}
                                                        <span class="tag label label-danger">{{ activity.type }}</span>
                                                    {% endif %}
                                                </td>
                                                <td class="col-md-3">{{ currency }} {{ activity.get_dollar_amount|floatformat:"2" }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div class="text-center" style="margin-bottom: 20px;">
                                    <div id="spin_svg" style="text-align:center; display: none;">
                                        <img src="{% static 'images/spin.svg'%}">
                                    </div>
                                    {% if more %}
                                    <input class="btn btn-primary btn-sm" id="showmore_financial_activities" type="submit" value="Show More" onclick="load_more_fiancial_activities();"/>  
                                    {% endif %}
                                </div>
                                <div class="row" style="padding:30px;">
                                    <div class="pull-left">
                                        <strong style="padding-left: 0;font-size:x-large;">Total Balance</strong>
                                    </div>
                                    <div class="pull-right">
                                        <strong style="font-size:x-large;">{{ currency }} {{ editor.get_total_balance|floatformat:"2" }}</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 col-md-offset-9">
                                        {% if stripe_profile %}
                                            <a href="{% url 'get_paid' %}" class="btn btn-primary btn-sm">Get Paid Now</a>
                                        {% else %}
                                            <a href="{% url 'get_paid' %}" class="btn btn-primary disabled">Get Paid Now</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    {% if not stripe_profile %}
                                    <div class="col-md-offset-7 text-center">
                                        <small class="text-muted">Please connect your stripe account to initiate transfers.</small>
                                    </div>
                                    {% endif %}    
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="text-muted text-center" style="margin-bottom: 30px;">
                                        <h6 style="color: lightgrey; margin-top: 20px;">No Financial Activity yet.</h6>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>                       
            </div>
        </div>
    </div>
   
    <!-- Make Default Modal -->
    <div id="id_make_default_modal" class="modal fade" tabindex="-1" role="dialog" style="margin-top: 120px;">
       <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-overlay" id="id_make_default">
                  <img src="{% static 'images/spin.svg' %}"/>
              </div>
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Make Default</h4>
             </div>
             <div class="modal-body">
                <p>You really want to make this card your default card?</p>
             </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                <a id="id_make_default_confirm" class="btn btn-primary btn-sm">Confirm</a>
             </div>
          </div>
          <!-- /.modal-content -->
       </div>
       <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- Delete Card Modal -->
    <div id="id_delete_card_modal" class="modal fade" tabindex="-1" role="dialog" style="margin-top: 120px;">
       <div class="modal-dialog" role="document">
           <div class="modal-overlay" id="id_delete_card">
               <img src="{% static 'images/spin.svg' %}"/>
           </div>
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Card</h4>
             </div>
             <div class="modal-body">
                <p>You really want to delete this card from you payment methods?</p>
             </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                <a id="id_delete_card_confirm" class="btn btn-primary btn-sm">Confirm</a>
             </div>
          </div>
          <!-- /.modal-content -->
       </div>
       <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->                   
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>

    <script type="text/javascript">

        $(function(){

            $('#payment_methods_link').on('click', function(){
                $("[role=presentation]").removeClass('active');
                $(this).removeClass('active');
                $(this).parent().addClass('active');
            });

            $('#financial_activities_link').on('click', function(){
                $("[role=presentation]").removeClass('active');
                $(this).removeClass('active');
                $(this).parent().addClass('active');
            });

            $('#id_add_payment_method_button').click(function(event){
                event.preventDefault();
                $('#id_add_payment_method').show();
                $('#id_add_payment_method_button').addClass("disabled");
            });

            $('#id_cancel_card_button').click(function(event){
                event.preventDefault();
                $('#id_add_payment_method').hide();
                $("#id_add_payment_method_form")[0].reset();
                $('#id_add_payment_method_button').removeClass("disabled");
            });

            Stripe.setPublishableKey('{{publishable}}');
            $('.payment-errors').hide();

            $(document).ready(function(e) {
                $("#id_add_card_button").click(function(event) {
                    event.preventDefault();
                    $('#id_payment_processing').show();
                    Stripe.createToken({
                        name: $(".payment-form").find('#id_name_on_card').val(),
                        number: $(".payment-form").find('#id_card_num').val(),
                        cvc: $(".payment-form").find('#id_sss').val(),
                        exp_month: $(".payment-form").find('#id_exp_month').val(),
                        exp_year: $(".payment-form").find('#id_exp_year').val()
                    }, stripeResponseHandler);
                    return false; // submit from callback
                });
            });

            function stripeResponseHandler(status, response) {
                if (response.error) {
                    $("#id_message_alert").html(
                        '<div class="container-fluid message-alert" style="text-align: center; position: fixed; z-index: 999; width: 100%;">'+
                            '<div class="alert alert-danger alert-dismissible" role="alert">'+
                                '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>'+
                                '<span>'+ response.error.message +'</span>'+
                            '</div>'+
                        '</div>'
                    );
                    $('#id_message_alert').show();
                    $('#id_payment_processing').hide();
                } else {
                    var form$ = $(".payment-form");
                    var token = response['id'];
                    form$.append("<input type='hidden' name='stripeToken' value='" + token + "' />");
                    $('#id_name_on_card, #id_card_num, #id_sss, #id_exp_month, #id_exp_year').val('');
                    form$.get(0).submit();
                   }
                return false;
            }

            if (window.location.protocol === 'file:') {
                alert("stripe.js does not work when included in pages served over file:// URLs. Try serving this page over a webserver. Contact support@stripe.com if you need assistance.");
            }

            $("#id_delete_card_confirm").click(function() {
                $("#id_delete_card_modal").modal('hide');
            })

            $("#id_make_default_confirm").click(function() {
                $("#id_make_default_modal").modal('hide');
            })

        });

        function make_primary(payment_method_id) {
            $("#id_make_default_confirm").attr("href", "/editors/make-primary/"+payment_method_id+"/")
            $("#id_make_default_modal").modal('show');
        }

        function delete_card(payment_method_id) {
            $("#id_delete_card_confirm").attr("href", "/editors/delete-card/"+payment_method_id+"/")
            $("#id_delete_card_modal").modal('show');
        }

        function load_more_fiancial_activities() {
            start = $('#start').val();
            $("#spin_svg").show();

            $.ajax({
                url: "/load-more-fiancial-activites/",
                type: "GET",
                data: {
                    'start' : start
                },
                success: function(response) {
                    $("#spin_svg").hide();
                    $("#showmore_financial_activities").blur();
                    $("#more_financail_activities").append(response.data);
                    $("#start").val(response.start);
                    if (response.more == false){
                        $("#showmore_financial_activities").hide();
                    }
                }
            })
        }

    </script>

{% endblock %}
