{% load staticfiles %}

{% if has_rating %}
    {% for i in star %}
        <img src="{% static 'images/star.png' %}" alt="" style="width: 15px;"/>
    {% endfor %}
    {% if semi_star %}
        <img src="{% static 'images/semi_star.svg' %}" alt="" style="width: 15px;"/>
    {% endif %}
    {% for i in star_empty %}
        <img src="{% static 'images/star_empty.svg' %}" alt="" style="width: 15px;"/>
    {% endfor %}
    {% if feedback %}
    	<br>
        {{ feedback.feedback }}
    {% endif %}
{% endif %}
