{% extends 'base.html' %}
{% load staticfiles %}

{% block top %}
    <section class="breadcrumb-classic context-dark">
        <div class="shell section-30 section-sm-top-10 section-sm-bottom-10">
            <h2 class="veil reveal-sm-block text-center">Examination</h2>
        </div>
    </section>
{% endblock %} 

{% block content %}
<style type="text/css">
    ul {
      list-style-type: none;
      mask-type: all;
    }
    label{
        font-weight: normal;
    }
</style>
    <div class="text-center" id="countdowntimer" style="padding: 10px; background: #fff; color: black;">
        <h4><strong id="future_date" style="color: black; font-size: 26px;"></strong><strong>&nbsp;&nbsp;Time Remaining</strong></h4>
    </div>

    <div class="row" style=" margin-bottom: 80px; color: black;">
        <div class="col-md-8 col-md-offset-2">
            <h6 style="text-align: right;">({{ counter }}/{{ total_question }})Questions</h6>
            <hr style="border-color: black; border-width: 1px; margin-top: -10px;">
            <small class="es-error" id="myerror" style="display: none;">{{ form.answer.errors.as_text }}</small><br>
            <h6 style="font-size: 15px;">{{ random_question }}</h6>
            <form id="myform" class="form-horizontal" role="form" method="post">
                {% csrf_token %}
                <div class="form-group {% if form.answer.errors %}has-error{% endif %} paddingtop-20" style="line-height: 30px;word-spacing: 5px; text-align: justify;">
                    {{ form.question_id }}
                    {{ form.answer }} 
                    <small class="help-block with-errors"></small>
                </div>
                <div class="form-group text-center">
                    <input class="btn btn-primary btn-md" id="myButton" type="submit" value="{% if not last_question %}Next{% else %}Finish{% endif %}"/ style="width: 180px;">
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block javascript %}

    <link rel="stylesheet" href="{% static 'css/jquery.countdownTimer.css' %}">
    <script src="{% static 'js/jquery.countdownTimer.js' %}"></script>

    <script type="text/javascript">
        var required = "*Please Select the choice";

        function preventBack(){window.history.forward();}
        setTimeout("preventBack()", 0);
        window.onunload=function(){null};

        $(function(){
            $("#future_date").countdowntimer({
                minutes : {{ minutes }},
                seconds : {{ seconds }},
                size : "sm",
                timeUp : timeisUp

            });
            function timeisUp() {
                location.reload();
            }
        });

        $("#myform").submit(function(e){
            if($('input[name=answer]:checked').length<=0){
                $("#myerror").show();
                document.getElementById("myerror").innerHTML = required;
                return false;
            }
        });

        $("input[name=answer]").change(function(){
            $("#myerror").hide();
            document.getElementById("myerror").innerHTML = "";
        });
            
        
        
    
    </script>

{% endblock %}
