{% extends 'base.html' %}
{% block top %}
    <section class="breadcrumb-classic context-dark">
        <div class="shell section-30 section-sm-top-10 section-sm-bottom-10">
            <h2 class="veil reveal-sm-block text-center">Test Completed</h2>
        </div>
    </section>
{% endblock %} 
{% block content %}
    <style type="text/css">
        h6{
            font-size: 15px;
        }
    </style>


    <div class="row" style="margin-top: 40px;">
        <div class="col-md-8 col-md-offset-2 paddingtop-20">
            <h5>Result</h5>
            <div class="text-subline"></div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 40px; margin-top: 20px;">
        <div class="col-md-8 col-md-offset-2">
            <div class="text-center">
                {% if test_pass %}
                    <h6><strong>Thanks for taking time to complete the examination.</strong></h6>
                    <h6><strong>You are Eligible for next step</strong></h6>
                    <a class="btn btn-primary text-center" href="{% url 'create_editor_step3' %}" style="align-items: center; margin-top: 20px;">Continue</a>
               {% else %}
                    <h6><strong>Sorry You are not eligible fot the next step.</strong></h6>
                    <a class="btn btn-primary text-center" href="/" style="align-items: center; margin-top: 20px;">Continue</a>
               {% endif %}
            </div>
        </div>
    </div>     

{% endblock %}
