body {
    background: #f1f1f1;
}

.body-main {
    padding-top: 160px;
}

@media (max-width: 768px) {
    .btn,.btn-group {
        width:100%;
    }
}

@media screen and (max-width: 991px) {
    .body-main {
        padding-top: 60px;
    }

}

.form-control, input{
    border-width: 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label, .has-error .form-control-feedback{
    color: #f54b0f;
}

.has-error .form-control, .has-error .form-control:focus{
    border: 1px solid #f54b0f;
}
.es-error{
    color: #f54b0f;
    margin-bottom: 1px;
}

.main-content {
    min-height: 500px;
}

/* ------------------------------ social icons ---------------------------------- */
.social-icon{
    width: 100%;
    padding: 0px 10px;
    margin: 0 auto;
    text-align: center;
    background: #2c3e50;
    display: block;
}
.social-icon ul{
    list-style: none;
}
.social-icon ul li{
    display: inline-block;
    padding: 5px 2px;
}
.social-icon ul li a img{
    width: 30px;
}
.social-icon .follow{
    font-size: 1.2em;
    font-weight: 700;
    padding: 2px 10px;
    color: #fff;
    margin: auto 0;
}



/* ------------------------------ footer navigation ------------------------------------ */
.footer{
    padding: 2% 0;
    width: 100%;
    background-color: #2c3e50;
    color: #fff;
    margin-top: 20px;
}

.footer > div{
    display: inline-block;
    padding: 10px 0;
}

.footer .footer-logo{
    text-align: right;
}
.footer-links{
    background-color: #2c3e50;
    padding: 10px;
    width: 100%;
}
.cpy-links{
    text-align: center;
    width: 100%;
}
.cpy-links ul{
    list-style: none;
}
.cpy-links ul li{
    display: inline;
    padding: 0 10px;
}
.cpy-links ul li a{
    text-decoration: none;
    color: #fff;
}
.cpy-links ul li a:hover{
    color: #fff;
    text-decoration: underline;
}

/* -------- */

.color-white{
    color: white;
}

.dark-border-3 {
    border: 3px solid black;
    border-radius: 4px;
    padding:6px;
}

.dark-border-2 {
    border: 2px solid black;
    border-radius: 4px;
    padding:3px;
}

.border-1 {
    border: 1px solid black;
    border-radius: 4px;
    padding:3px;
}


.margin-top-10{
    margin-top: 10px;
}

.margin-bottom-10{
    margin-bottom:10px;
}


.background-green{
    background-color: #40e018;
}

.background-red{
    background-color: #ed0924;
}

.padding-20{
    padding:20px;
}

.paddingtop-20{
    padding-top: 20px;
}

.padding-3{
    padding:3px;
}

.margin-right-5{
    margin-right:5px;
}

.tags{
    position: relative;
    background-color: #0089e0;
    padding: 5px 15px;
    color: #fff;
    margin-right: 17px;
    border-radius: 2px;
    display: inline-block;
    }

.tags.green {
    background-color: #18bc9c;
}

.navbar {
    margin-bottom: 0px!important;
}

.profile-block {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.20);
    margin-bottom: 10px;
    margin-top: 10px;

}

.margin-top-15 {
    margin-top: 15px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.thumbnail-inner {
    overflow: hidden;
    height: 150px;
}

.default_avatar_mob {
    display: none;
}

@media screen and (max-width: 767px) {
    .thumbnail-inner > img {
        width: 160px;
        margin-bottom: 15px!important;
    }
    .default_avatar_web {
        display: none;
    }
    .default_avatar_mob {
        display: block;
    }
    .result-avatar > img {
        width: 90px;
    }
}

.result-avatar > img {
    height: 140px;
    width: 140px;
}

.thumbnail-inner > img {
    height: 100%;
    position: relative;
    left: 50%;
    width: 130px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.es-form-control {
    display: block;
    width: 100%;
    height: 45px;
    padding: 0px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dce4ec;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-width: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.es-form-control > input {
    border: 0;
    outline-width: 0;
    width: auto;
    padding: 10px 10px;
}

.es-form-control > input.full {
    width: 97%;
}

.color-green{
    color: #18bc9c;
}

.modal-overlay {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 100000;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal-overlay img {
    position: relative;
    top: 200px;
}

.submit-button {
  margin-top: 10px;
}

ul.tab-group li a:hover {
    text-decoration:none;
    background-color: white;
}
/* Create an active/current tablink class */

.dropdown-content a:hover {background-color: red}


.discipline-error{
    color: #ba2121;
}

.multiselect{
    width: 425px;
}

.multiselect-content{
    width: 425px;
}
.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-top: -10px;
    padding: 10px 25px;
    width: 300px;
    margin-left: -15px;
    text-align: right;
    display: block;
    margin-top: 20px;
}

.info > p {
    color: #2c3e50;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.chat-box{
    border-radius: 3px;
    border-color: black;
    background-color: #F5F6F7;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-top: -10px;
    padding: 10px 25px;
    width: 400px;
    height: 380px;
    text-align: right;
    display: block;
    margin-top: 20px;

}

.noleftmargin {
    margin-left: 0!important;
}

.norightmargin {
    margin-right: 0!important;
}

.notopmargin {
    margin-top: 0!important;
}

.nobottommargin {
    margin-bottom: 0!important;
}

.rd-navbar-default.rd-navbar-static.rd-navbar--is-stuck .rd-navbar-brand {
    display: block!important;
}

.rd-navbar-default.rd-navbar-static .rd-navbar-brand .es-brand-logo {
    width: 180px;
    height: auto;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.rd-navbar-default.rd-navbar-static.rd-navbar--is-stuck .rd-navbar-brand .es-brand-logo {
    width: 137px;
}

.avatar_img {
    overflow: hidden;
    text-align: center;
    width: 135px;
    height: 130px;
    position: relative;
}


.avatar_img > img {
    position: absolute;
    left: 50%;
    margin-right: 144px;
    height: 100%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.profile_font{
    font-size: 17px;
    font-family: times;
}
.request_header{
    background-color: #0d2d62;
    color: #fff;
    height: 45px;
    border-radius: 5px;
    text-align: center;
    padding-top: 12px;
    font-size: 17px;
}

.bg-success {
    background-color: #dff0d8;
    padding: 7px;
    color: #333333;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    text-align: center;
}

.bg-primary {
    background-color: #337ab7;
    padding: 7px;
    color: #333333;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    text-align: center;
}

.bg-warning {
    background-color: #fcf8e3;
    padding: 7px;
    color: #333333;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    text-align: center;
}
.myinputclass{
    background-color: #F6F4F4;
    
}
