{% block email_body %}
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    Your paper editing request to {{ paper.editor.user.get_full_name }} has been marked as completed by editor and is ready for review.
</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    Please click below to review the paper:
</p>
<a style="border: 0;cursor: pointer;text-shadow: 0 -1px #2A6675;text-decoration: none;background-color: #b80924;padding: 8px 40px;color: white;font-weight: bold;box-shadow: 0 2px 6px -2px #B8B8B8;font-family: sans-serif;font-size: 14px;"  href="{% url 'paper_detail' paper.id %}">{{ paper.title }}</a>
{% endblock %}
