{% block email_body %}
<div style="margin-left: -10px;">
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    You have received a new paper for editing and their details are as below:
</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:10px;line-height: 21px;"><strong>Title:</strong> {{ paper_request.title }}</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:10px;line-height: 21px; text-align: justify;"><strong>Description:</strong> {{ paper_request.description }}</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:10px;line-height: 21px;"><strong>Discipline:</strong> {{ paper_request.discipline }}</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:10px;line-height: 21px;"><strong>Words Count:</strong> {{ paper_request.words_count }}</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:10px;line-height: 21px;">Please Check your email for the paper!</p>
    
</div>

{% endblock %}
