{% extends "email_messages/base_email.html" %}
{% block email_body %}
<p style="font-size:18px; font-family:sans-serif; margin-bottom:15px;">Hi {{ activity.editor.user.first_name }},</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    You have successfully transferred {{ currency }} {{ activity.amount|floatformat:"2" }} into your account.
</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    Now you are left with {{ currency }} {{ editor.get_total_balance|floatformat:"2" }} balance at EducationStudio.
</p>

<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    Please click below to review the Financial Activities:
</p>

<a style="border: 0;cursor: pointer;text-shadow: 0 -1px #2A6675;text-decoration: none;background-color: #b80924;padding: 8px 40px;color: white;font-weight: bold;box-shadow: 0 2px 6px -2px #B8B8B8;font-family: sans-serif;font-size: 14px;"  href="{{ financial_activities_link }}">Financial Activities</a>
<br/>
<br/>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    Thanks,<br/>
    Education Studio Team
</p>
{% endblock %}
