{% extends "email_messages/base_email.html" %}
{% block email_body %}
<p style="font-size:18px; font-family:sans-serif; margin-bottom:15px;">Hi {{ recipient_name }},</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    You have received a new message on education studio, Please click below to see it:
</p>
{% if new_msg_obj %}
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
<i>{{ new_msg_obj.message }}</i>
</p>
{% endif %}
<a style="border: 0;cursor: pointer;text-shadow: 0 -1px #2A6675;text-decoration: none;background-color: #b80924;padding: 8px 40px;color: white;font-weight: bold;box-shadow: 0 2px 6px -2px #B8B8B8;font-family: sans-serif;font-size: 14px;"  href="{{ msg_link }}">View</a>
<p style="font-size:16px; font-family:sans-serif; line-height: 21px;">
    Thanks,<br/>
    EducationStudio Team
</p>
{% endblock %}
