{% extends "email_messages/base_email.html" %}
{% block email_body %}
<p style="font-size:18px; font-family:sans-serif; margin-bottom:15px;">Hi {{ paper_request.student.user.first_name }},</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    Your payment of <strong>{{ currency }} {{ amount|floatformat:"2" }}</strong> has been processed successfully and your request has been forwarded to {{ paper_request.editor.user.username }} for editing. Your request details are as below:
</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:10px;line-height: 21px;"><strong>Title:</strong> {{ paper_request.title }}</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:10px;line-height: 21px;"><strong>Description:</strong> {{ paper_request.description }}</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:10px;line-height: 21px;"><strong>Words Count:</strong> {{ paper_request.words_count }}</p>
<p style="font-size:16px; font-family:sans-serif; line-height: 21px;">
    Thanks,<br/>
    EducationStudio Team
</p>
{% endblock %}
