{% extends "email_messages/base_email.html" %}
{% block email_body %}
<p style="font-size:18px; font-family:sans-serif; margin-bottom:15px;">Hi {{ paper_request.editor.user.first_name }},</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    You have received a new paper for editing and their details are as below:
</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:10px;line-height: 21px;"><strong>Title:</strong> {{ paper_request.title }}</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:10px;line-height: 21px;"><strong>Description:</strong> {{ paper_request.description }}</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:10px;line-height: 21px;"><strong>Discipline:</strong> {{ paper_request.discipline }}</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:10px;line-height: 21px;"><strong>Words Count:</strong> {{ paper_request.words_count }}</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:10px;line-height: 21px;">Please find the paper as attachment!</p>
<p style="font-size:16px; font-family:sans-serif; line-height: 21px;">
    Thanks,<br/>
    EducationStudio Team
</p>
{% endblock %}
