{% extends "email_messages/base_email.html" %}
{% block email_body %}
<p style="font-size:18px; font-family:sans-serif; margin-bottom:15px;">Hi {{ paper.editor.user.first_name }},</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    Your payment of {{ currency }} {{ paper.price|floatformat:"2" }} for {{ paper.title }} paper has been approved by {{ paper.name }}. Please check you financial activities for more details and click below to mark this request as completed:
</p>
<a style="border: 0;cursor: pointer;text-shadow: 0 -1px #2A6675;text-decoration: none;background-color: #b80924;padding: 8px 40px;color: white;font-weight: bold;box-shadow: 0 2px 6px -2px #B8B8B8;font-family: sans-serif;font-size: 14px;"  href="{{ paper_complete }}">Mark as Completed</a>
<br/>
<br/>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    Thanks,<br/>
    Education Studio Team
</p>
{% endblock %}
