{% extends "email_messages/base_email.html" %}
{% block email_body %}
<p style="font-size:18px; font-family:sans-serif; margin-bottom:15px;">Hi {{ paper.name }},</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    Your paper editing request to {{ paper.editor.user.get_full_name }} has been marked as completed by editor and is ready for review. Please use the following credentials to access the edited paper:
</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    Email: <strong>{{ paper.email }}</strong>
    <br/>
    Password: <strong>{{ paper.get_password_value }}</strong>
</p>

<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    Please click below to review the paper:
</p>

<a style="border: 0;cursor: pointer;text-shadow: 0 -1px #2A6675;text-decoration: none;background-color: #b80924;padding: 8px 40px;color: white;font-weight: bold;box-shadow: 0 2px 6px -2px #B8B8B8;font-family: sans-serif;font-size: 14px;"  href="{{ edited_paper_link }}">{{ paper.title }}</a>
<br/>
<br/>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    Thanks,<br/>
    Education Studio Team
</p>
{% endblock %}
