{% extends "email_messages/base_email.html" %}
{% block email_body %}
<p style="font-size:16px; font-family:sans-serif; margin-bottom:15px;line-height: 21px;">
    Thanks {{ paper.name }} for choosing Education Studio. Please click below to provide your feedback and your credentials are:
</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:15px;line-height: 21px;">
    Email: <strong>{{ paper.email }}</strong>
    <br/>
    Password: <strong>{{ paper.get_password_value }}</strong>
</p>
<a style="border: 0;cursor: pointer;text-shadow: 0 -1px #2A6675;text-decoration: none;background-color: #b80924;padding: 8px 40px;color: white;font-weight: bold;box-shadow: 0 2px 6px -2px #B8B8B8;font-family: sans-serif;font-size: 14px;"  href="{{ edited_paper_link }}">Rate Now</a>
<br/>
<br/>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    Thanks,<br/>
    Education Studio Team
</p>
{% endblock %}
