{% extends "email_messages/base_email.html" %}
{% block email_body %}
<p style="font-size:18px; font-family:sans-serif; margin-bottom:15px;">Hi,</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    It looks like you have requested for a new password, if it was not you please contact admins to look into it.
</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    Please click below to reset your password
</p>

<a style="border: 0;cursor: pointer;text-shadow: 0 -1px #2A6675;text-decoration: none;background-color: #b80924;padding: 8px 40px;color: white;font-weight: bold;box-shadow: 0 2px 6px -2px #B8B8B8;font-family: sans-serif;font-size: 14px;"  href="{{ reset_link }}">Reset Password</a>
<br/>
<br/>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    Thanks,<br/>
    Education Studio Team
</p>
{% endblock %}

