{% extends "email_messages/base_email.html" %}
{% block email_body %}
<p style="font-size:18px; font-family:sans-serif; margin-bottom:15px;">Hi {{ quotation.editor.user.first_name }},</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    You have received a new quotation request and their details are as below:
</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:10px;line-height: 21px;"><strong>Title:</strong> {{ quotation.title }}</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:10px;line-height: 21px;"><strong>Description:</strong> {{ quotation.description }}</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:10px;line-height: 21px;"><strong>Name:</strong> {{ quotation.name }}</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:10px;line-height: 21px;"><strong>Email:</strong> {{ quotation.email }}</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:10px;line-height: 21px;"><strong>Words Count:</strong> {{ quotation.words_count }}</p>
<p style="font-size:16px; font-family:sans-serif; line-height: 21px;">
    Thanks,<br/>
    EducationStudio Team
</p>
{% endblock %}
