{% extends "email_messages/base_email.html" %}
{% block email_body %}
<p style="font-size:18px; font-family:sans-serif; margin-bottom:15px;">Hi {{ paper.student.user.get_full_name }},</p>
<p style="font-size:16px; font-family:sans-serif; margin-bottom:20px;line-height: 21px;">
    Sorry I am won’t be able to undertake this assignment.
</p>
    Thanks,<br/>
    {{ editor.user.get_full_name }}
</p>
{% endblock %}
