{% extends 'base.html' %}

{% load staticfiles %}

{% block javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tagsinput.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tagsinput-typeahead.css' %}">
    <script src="{% static 'js/bloodhound.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap-typeahead.js' %}"></script>
    <script src="{% static 'js/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'js/jquery.jtruncate.js' %}"></script>
    <script src ="{% static 'js/jquery.validate.min.js' %}"></script>

    <script type="text/javascript">
        $('#reply_form').validate({
            ignore: "",
            rules: {
                message: {
                    
                    required: true
                },
            },
            highlight: function(element) {

                $(element).closest('.form-group').addClass('has-error');
                $(element).closest('.form-group').find('.es-error').text("This field is required.").show();
               
            },
            success: function(element) {

                $(element).closest('.form-group').removeClass('has-error');
                $(element).closest('.form-group').find('.es-error').hide();

            },
            submitHandler: function(form) {
                form.submit()
            }

        });
    </script>
{% endblock %}
{% block top %}
    <section class="breadcrumb-classic context-dark">
        <div class="shell section-30 section-sm-top-10 section-sm-bottom-10">
            <h2 class="veil reveal-sm-block text-center">Conversations</h2>
        </div>
    </section>
{% endblock %} 

{% block content %}
<style type="text/css">
    .error {
        display: none!important;
    }
</style>
    {% if role == 'student' %}
        <div class="row">
            <div class="hidden-xs pull-right" style="margin-top: 20px; margin-right: 14px;">
                {% if not msg_obj.paper_request %}
                    <button type="button" class="btn btn-primary" onclick="openmodal('{{ msg_obj.recipient.editors_set.all.0.id }}')">Submit Paper</button>
                {% endif %}
            </div>
            <div class="col-xs-6 pull-right visible-xs" style="margin-top: 6px;">
                {% if not msg_obj.paper_request %}
                    <button type="button" class="btn btn-primary" onclick="openmodal('{{ msg_obj.recipient.editors_set.all.0.id }}')">Submit Paper</button>
                {% endif %}    
            </div>
        </div> 
    {% endif %}
  
    <div class="col-md-12" style="margin-top: 10px; margin-bottom: 20px;">
        <div class="row">
            <div class="profile-block" style="color: black;">
                <div class="row">
                    <div class="col-md-2 col-md-offset-0 col-xs-4 col-xs-offset-4">
                        <div class="circle">
                            {% with msg_obj.sender as sender %}
                                <div class="thubmnail-inner img-rounded" style="height: 70px;">
                                    {% if sender.students_set.all %}
                                        <img class="img-circle" src="{% if sender.students_set.all.0.avatar %}{{ sender.students_set.all.0.avatar.url }}{% else %}{% static 'images/nodp.jpg' %}{% endif %}" width="70" height="70">
                                    {% else %}
                                        <a href="/editors/{{ sender.editors_set.all.0.user.username }}/" class="thubmnail-inner img-rounded" style="height: 70px;">
                                            <img class="img-circle" src="{% if sender.editors_set.all.0.avatar %}{{ sender.editors_set.all.0.avatar.url }}{% else %}{% static 'images/nodp.jpg' %}{% endif %}" width="70" height="70">
                                        </a>
                                    {% endif %}
                                </div>
                                <div>
                                    <span class="tag label label-info"><strong>{{ msg_obj.sender.get_full_name }}</strong></span>
                                </div>
                            {% endwith %}
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12" style="margin-bottom: 20px;">
                        <div class="message_truncate" style="text-align: justify-all;">{{ msg_obj.message|safe }}</div>
                    </div>
                    <div class="col-md-2 col-xs-12">
                        <strong>{{ msg_obj.created|date:"M d, Y" }}</strong>
                        <small class="text-muted text-center">{{ msg_obj.created|time:"g:iA"|lower }}</small>
                    </div>
                </div>    
            </div>
        </div>
        <div class="row paddingtop-20">
            {% for message in child_msg %}
                <div class="profile-block" style="color: black">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-0 col-xs-4 col-xs-offset-4">
                            <div class="circle">
                                {% with message.sender as sender %}
                                    <div class="thubmnail-inner img-rounded" style="height: 70px">
                                        {% if sender.students_set.all %}
                                            <img class="img-circle" src="{% if sender.students_set.all.0.avatar %}{{ sender.students_set.all.0.avatar.url }}{% else %}{% static 'images/nodp.jpg' %}{% endif %}" width="70" height="70">
                                        {% else %}
                                            <a href="/editors/{{ sender.editors_set.all.0.user.username }}/" class="thubmnail-inner img-rounded" style="height: 70px;">
                                                <img class="img-circle" src="{% if sender.editors_set.all.0.avatar %}{{ sender.editors_set.all.0.avatar.url }}{% else %}{% static 'images/nodp.jpg' %}{% endif %}" width="70" height="70">
                                            </a>
                                        {% endif %}
                                    </div>
                                    <div>
                                        {% if sender.students_set.all %}
                                            <span class="tag label label-info"><strong>{{ message.sender.get_full_name }}</strong></span>
                                        {% else %}
                                            <a href="/editors/{{ sender.editors_set.all.0.user.username }}/"><span class="tag label label-success"><strong>{{ message.sender.get_full_name }}</strong></span></a>  
                                        {% endif %}
                                    </div>
                                {% endwith %}
                            </div>
                        </div>
                        <div class="col-md-8 col-xs-12" style="margin-bottom: 20px;">
                            <div class="" style="text-align: justify;">{{ message.message|safe }}</div>
                        </div>
                        <div class="col-md-2 col-xs-12">
                            <strong>{{ message.created|date:"M d, Y" }}</strong>
                            <small class="text-muted text-center">{{ message.created|time:"g:iA"|lower }}</small>
                        </div>
                    </div>    
                </div>
            {% endfor %}
        </div>
        <div class="row" style="margin-top: 10px;">
            <form id="reply_form" role="form" method="post">
                {% csrf_token %}
                {{ form.sender }}
                {{ form.recipient }}
                {{ form.parent_msg }}
                {{ form.subject }}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            {{ form.message }}
                            <small class="es-error">{{ form.message.errors.as_text }}</small>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-xs-3" style="margin-top: 5px;">
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" value="Send"/ style="width: 120px;">
                        </div> 
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="id_request_quote_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-overlay" id="id_quote_overlay">
                    <img src="{% static 'images/spin.svg' %}"/>
                </div>
                <form id="id_request_quote_form" class="form-horizontal" action="{% url 'quote_request' %}" enctype="multipart/form-data" method="post" onsubmit="return quote_request($(this))" style="color: black;">
                    {% csrf_token %}
                    {{ quote_form.editor_id }}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Submit Document</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row paddingtop-20">
                            <div class="col-md-12">
                                <div class="form-group" id="id_document_error_parent_div">
                                    <label for="document" class="control-label col-md-2" style="margin-top: -15px;">Document</label>
                                    <div class="col-md-10">
                                        {{ quote_form.document }}
                                        <small id="id_document_error" class="es-error"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer paddingtop-20">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" style="width: 80px;">Close</button>
                        <input type="submit" class="btn btn-primary btn-sm" value="Submit" style="width: 80px; float: right;">
                    </div>
                </form>
            </div>
      </div>
      </div>
    </div>

{% endblock %}
