{% extends 'base.html' %}

{% load staticfiles %}

{% block javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tagsinput.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tagsinput-typeahead.css' %}">
    <script src="{% static 'js/bloodhound.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap-typeahead.js' %}"></script>
    <script src="{% static 'js/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'js/jquery.jtruncate.js' %}"></script>
    <script type="text/javascript">

        $(document).ready(function(){
            $('.description_truncate').jTruncate({
                length: 40,
                minTrail: 0,
                moreText: "Show More",
                lessText: "Less",
                ellipsisText: "...",
                moreAni: "",
                lessAni: ""
            });
        });
    </script>
{% endblock %}

{% block top %}
    <section class="breadcrumb-classic context-dark">
        <div class="shell section-30 section-sm-top-10 section-sm-bottom-10">
            <h2 class="veil reveal-sm-block text-center">Messages</h2>
        </div>
    </section>
{% endblock %} 

{% block content %}
    <div class="col-md-12 offset-top-50" style="margin-bottom: 40px;">
    
    {% for message in msg_objs %}
        <div class="row">
            <a href="{% url 'message_details' message.id %}" style="cursor: pointer;">
                {% with message.get_last_child as msg %}
                <div class="col-md-12 profile-block clearfix" style="color: #2c3e50;{% if msg.sender == request.user %}background-color:#f1f1f1;{% endif %}{% if msg.recipient == request.user and msg.recipient_read %}background-color:#f1f1f1;{% endif %} margin-top: 20px;">
                    <div class="col-md-2 col-md-offset-0 col-xs-4 col-xs-offset-4">
                        <div class="circle">
                            <div class="thubmnail-inner img-rounded" style="height: 70px;">
                                {% if msg.sender.students_set.all %}
                                    <img class="img-circle" src="{% if msg.sender.students_set.all.0.avatar %}{{ msg.sender.students_set.all.0.avatar.url }}{% else %}{% static 'images/nodp.jpg' %}{% endif %}" width="70" height="70">
                                {% else %}
                                    <img class="img-circle" src="{% if msg.sender.editors_set.all.0.avatar %}{{ msg.sender.editors_set.all.0.avatar.url }}{% else %}{% static 'images/nodp.jpg' %}{% endif %}" width="70" height="70">
                                {% endif %}
                            </div>
                        </div>
                        <div>
                            {% if msg.sender.students_set.all %}
                                <span class="tag label label-info"><strong>{{ msg.sender.get_full_name }}</strong></span>
                            {% else %}
                                <span class="tag label label-success"><strong>{{ msg.sender.get_full_name }}</strong></span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <strong>{{ message.subject }}</strong>
                    </div>
                    <div class="col-md-2 col-xs-12 text-center">
                        <strong>{{ msg.created|date:"M d, Y" }}</strong><br>
                        <small class="text-muted text-center">{{ msg.created|time:"g:iA"|lower }}</small>
                    </div>
                </div>
                {% endwith %}
            </a>
        </div>
    {% empty %}
        <div class="row">
            <div class="col-md-12 paddingtop-20 profile-block">
                <div class="text-muted text-center">No conversation Yet</div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
