{% extends 'base.html' %}

{% load staticfiles %}

{% block top %}
    <section class="breadcrumb-classic context-dark">
        <div class="shell section-30 section-sm-top-10 section-sm-bottom-10">
            <h2 class="veil reveal-sm-block text-center">About Us</h2>
        </div>
    </section>
{% endblock %} 

{% block content %}
    
    <section class="section-70">
        <div class="shell">
            <div class="range">
                <div class="cell-sm-12 cell-sm-push-1 offset-top-50 offset-sm-top-0 text-sm-left">
                    <h2 class="text-bold">Who We Are</h2>
                    <hr class="divider bg-madison hr-sm-left-0">
                    <div class="offset-top-30 offset-sm-top-60">
                        <p>Education Studio is a highly reputable company specialized in students recruitment and educational counselling, internships and editing services.</p>
                    </div>
                    <p>Our agency is well-reputed in the world for our professional counselling for students who are willing to pursue their studies in the UK, Canada, USA, Australia and Ireland. The founders of the agency are UK, US and Australia graduates in different subjects and degrees up to the PHD level.</p>
                    <p>As an education recruitment agency, we connect students with leading education institutions across the globe and assist them in applying and securing a seat at their desired education destination.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
