{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">
	<head>
		<!-- Site Title-->
		<title>Education Studio</title>
		<meta charset="utf-8">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">

		<!-- Stylesheets-->
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,700%7CMerriweather:400,300,300italic,400italic,700,700italic">
		<link rel="stylesheet" href="{% static 'theme/css/style.css' %}">
		<!--[if lt IE 10]>
			<div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="{% static 'theme/images/ie8-panel/warning_bar_0000_us.jpg' %}" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
			<script src="{% static 'theme/js/html5shiv.min.js' %}"></script>
		<![endif]-->
	</head>
	<body>
		<!-- Page-->
		<div class="page text-center">
			<!-- Page Header-->
			<header class="page-head">
			<!-- RD Navbar Transparent-->
				<div class="rd-navbar-wrap">
					<nav data-md-device-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-stick-up-offset="210" data-xl-stick-up-offset="85" class="rd-navbar rd-navbar-default" data-lg-auto-height="true" data-auto-height="false" data-md-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
						<div class="rd-navbar-inner">
							<!-- RD Navbar Panel-->
							<div class="rd-navbar-panel">
								<!-- RD Navbar Toggle-->
								<button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
								<h4 class="panel-title veil-md">Home</h4>
								<!-- RD Navbar Right Side Toggle-->
								<button data-rd-navbar-toggle=".rd-navbar-top-panel" class="rd-navbar-top-panel-toggle veil-md"><span></span></button>
								<div class="rd-navbar-top-panel">
									<div class="rd-navbar-top-panel-left-part">
										<ul class="list-unstyled">
											<li>
												<div class="unit unit-horizontal unit-middle unit-spacing-xs">
													<div class="unit-left"><span class="icon mdi mdi-map-marker text-middle"></span></div>
													<div class="unit-body"><a style="cursor: pointer;">B-8 Complex Ahmed Al Jaber Street, 4th Floor, Office 6, Kuwait City, Kuwait</a></div>
												</div>
											</li>
											<li>
												<div class="unit unit-horizontal unit-middle unit-spacing-xs">
													<div class="unit-left"><span class="icon mdi mdi-email-open text-middle"></span></div>
													<div class="unit-body"><a href="mailto:info@educationstudio.com">info@educationstudio.com</a></div>
												</div>
											</li>
										</ul>
									</div>
									<div class="rd-navbar-top-panel-right-part">
										<div class="rd-navbar-top-panel-left-part">
											<div class="unit unit-horizontal unit-middle unit-spacing-xs">
												<div class="unit-left"><span class="icon mdi mdi-login text-middle"></span></div>
												<div class="unit-body"><a href="login-register.html">Login/Register</a></div>
											</div>
										</div>
									</div
								</div>
							</div>
							<div class="rd-navbar-menu-wrap clearfix">
								<!--Navbar Brand-->
								<div class="rd-navbar-brand">
									<a href="/" class="reveal-inline-block">
										<div class="unit unit-xs-middle unit-xl unit-xl-horizontal unit-spacing-xxs">
											<div class="unit-left">
												<img width='170' style="width:200px;height:auto;" src="{% static 'theme/images/logo-170x172.png' %}" alt=''/>
											</div>
										</div>
									</a>
								</div>
								<div class="rd-navbar-nav-wrap">
									<div class="rd-navbar-mobile-scroll">
										<div class="rd-navbar-mobile-header-wrap">
											<!--Navbar Brand Mobile-->
											<div class="rd-navbar-mobile-brand">
												<a href="/">
													<img width='136' height='138' src="{% static 'theme/images/ES_LOGO_2.png' %}" alt=''/>
												</a>
											</div>
										</div>
										<!-- RD Navbar Nav-->
										<ul class="rd-navbar-nav">
											<li {% if current == 'homepage' %}class="active"{% endif %}>
												<a href="/">Home</a>
											</li>
											<li {% if current == 'about_us' %}class="active"{% endif %}>
												<a href="{% url 'about_us' %}">About Us</a>
											</li>
											<li {% if current == 'contact_us' %}class="active"{% endif %}>
												<a href="{% url 'contact_us' %}">Contact Us</a>
											</li>
										</ul>
										<!--RD Navbar Mobile Search-->
										<!--div id="rd-navbar-search-mobile" class="rd-navbar-search-mobile">
											<form action="search-results.html" method="GET" class="rd-navbar-search-form search-form-icon-right rd-search">
												<div class="form-group">
													<label for="rd-navbar-mobile-search-form-input" class="form-label">Search...</label>
													<input id="rd-navbar-mobile-search-form-input" type="text" name="s" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest"/>
												</div>
												<button type="submit" class="icon fa-search rd-navbar-search-button"></button>
											</form>
										</div-->
									</div>
								</div>
								<!--RD Navbar Search-->
								<!--div class="rd-navbar-search">
									<a data-rd-navbar-toggle=".rd-navbar-search" href="#" class="rd-navbar-search-toggle mdi"><span></span></a>
									<form action="search-results.html" data-search-live="rd-search-results-live" method="GET" class="rd-navbar-search-form search-form-icon-right rd-search">
										<div class="form-group">
											<label for="rd-navbar-search-form-input" class="form-label">Search</label>
											<input id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest"/>
											<div id="rd-search-results-live" class="rd-search-results-live"></div>
										</div>
									</form>
								</div-->
							</div>
						</div>
					</nav>
				</div>
			</header>
			{% if current == 'services' %}
				<section class="breadcrumb-classic context-dark">
					<div class="shell section-30 section-sm-top-70 section-sm-bottom-60">
						<h1 class="veil reveal-sm-block">Services</h1>
					</div>
				</section>
			{% endif %}
			{% if current == 'about_us' %}
				<section class="breadcrumb-classic context-dark">
					<div class="shell section-30 section-sm-top-70 section-sm-bottom-60">
						<h1 class="veil reveal-sm-block">About Us</h1>
					</div>
				</section>
			{% endif %}
			<!-- Page Content-->
			<main class="page-content">
				{% block content %}
				{% endblock %}
			</main>

			<!-- Corporate footer-->
			<footer class="page-footer">
				<div class="shell-wide">
					<div class="hr bg-gray-light"></div>
				</div>
				<div class="shell section-60">
					<div class="range range-lg-justify range-xs-center">
						<div class="cell-md-3 cell-lg-2">
							<!--Footer brand-->
							<a href="/" class="reveal-inline-block">
								<img width='270' style="width:270px;height:auto;" src="{% static 'theme/images/logo-170x172.jpg' %}" alt=''/>
							</a>
						</div>
						<div class="cell-xs-10 cell-md-5 cell-lg-4 text-lg-left offset-top-50 offset-md-top-0">
							<h6 class="text-bold">Contact us</h6>
							<div class="text-subline"></div>
							<div class="offset-top-30">
								<ul class="list-unstyled contact-info list">
									<li class="offset-top-15">
										<div class="unit unit-horizontal unit-middle unit-spacing-xs">
											<div class="unit-left"><span class="icon mdi mdi-map-marker text-middle icon-xs text-madison"></span></div>
											<div class="unit-body text-left"><a class="text-dark">B-8 Complex Ahmed Al Jaber Street, 4th Floor, Office 6, Kuwait City, Kuwait</a></div>
										</div>
									</li>
									<li class="offset-top-15">
										<div class="unit unit-horizontal unit-middle unit-spacing-xs">
											<div class="unit-left"><span class="icon mdi mdi-email-open text-middle icon-xs text-madison"></span></div>
											<div class="unit-body"><a href="mailto:info@educationstudio.com">info@educationstudio.com</a></div>
										</div>
									</li>
								</ul>
							</div>
							<div class="offset-top-15 text-left">
								<ul class="list-inline list-inline-xs list-inline-madison">
									<li><a href="https://www.facebook.com/EducationStudiokw/" class="icon icon-xxs fa-facebook icon-circle icon-gray-light-filled"></a></li>
									<li><a href="https://twitter.com/EduStudiokw" class="icon icon-xxs fa-twitter icon-circle icon-gray-light-filled"></a></li>
									<li><a href="https://www.instagram.com/EducationStudio.Kuwait/" class="icon icon-xxs fa-instagram icon-circle icon-gray-light-filled"></a></li>
								</ul>
							</div>
						</div>
						<div class="cell-xs-10 cell-md-8 cell-lg-4 text-lg-left offset-top-50 offset-lg-top-0">
							<h6 class="text-bold">Newsletter</h6>
							<div class="text-subline"></div>
							<div class="offset-top-30 text-left">
								<p>Enter your email address to get the latest Education Studio news, special events and offers delivered right to your inbox.</p>
							</div>
							<div class="offset-top-10">
								<form id="id_newsletter_form" data-form-output="form-subscribe-footer" data-form-type="subscribe" method="post" action="{% url 'newsletter' %}" class="rd-mailform form-subscribe">
									{% csrf_token %}
									<div class="form-group">
										<div class="input-group input-group-sm">
											<input placeholder="Your e-mail" type="email" name="email" id="id_newsletter_email" data-constraints="@Required" class="form-control"/><span class="input-group-btn">
											<a class="btn btn-sm btn-primary" onclick="javascript:subscribe_newsletter();">Subscribe</a></span>
										</div>
									</div>
									<div id="form-subscribe-footer" class="form-output"></div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="bg-madison context-dark">
					<div class="shell text-md-left section-5">
						<!-- {%FOOTER_LINK}-->
						<p>&copy; <span id="copyright-year"></span> All Rights Reserved Terms of Use and Privacy Policy</p>
					</div>
				</div>
			</footer>
		</div>

		<!-- Global Mailform Output-->
		<div id="form-output-global" class="snackbars"></div>

		<!-- Java script-->
		<script src="{% static 'theme/js/core.min.js' %}"></script>
		<script src="{% static 'theme/js/script.js' %}"></script>
		<script>
			function subscribe_newsletter(){
				$.ajax({
					url: $('#id_newsletter_form').attr('action'),
					type: $('#id_newsletter_form').attr('method'),
					data: $('#id_newsletter_form').serialize(),
					success: function(response){
						$('#id_newsletter_email').val('');
					}
				});
				return false;
			}
		</script>
	</body>
</html>
