{% load staticfiles %}

<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
        <title>Education Studio</title>
        <link href="{% static 'css/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">
        
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,700%7CMerriweather:400,300,300italic,400italic,700,700italic">
        <link rel="stylesheet" href="{% static 'theme/css/style.css' %}">
        <link href="{% static 'css/custom.css' %}" rel="stylesheet">

        {% block head %}{% endblock %}
    
    </head>
    <body class="body-main" style="background-color: #fff;">
        <div class="page">
            <header class="page-head header-panel-absolute" id="id_my_header">
                <div class="rd-navbar-wrap">
                    <nav data-md-device-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-stick-up-offset="210" data-xl-stick-up-offset="85" class="rd-navbar rd-navbar-default" data-lg-auto-height="true" data-auto-height="false" data-md-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
                        <div class="rd-navbar-inner">
                            <div class="rd-navbar-panel">
                                <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                                <h4 class="panel-title veil-md">
                                    {% if current == "signup" %}
                                        Registration
                                    {% endif %}    
                                    {% if current == "login" %}
                                        Sign In
                                    {% endif %}
                                    {% if current == "editor_home" %}
                                        Editors
                                    {% endif %}
                                    {% if current == "reset_password" %}
                                        Reset Password
                                    {% endif %}
                                    {% if current == "editing_services" %}
                                        Editing Services
                                    {% endif %}
                                    {% if current == "test" %}
                                        Examination
                                    {% endif %} 
                                    {% if current == "forgot_password" %}
                                        Forgot Password
                                    {%  endif %}
                                    {% if current == "profile" %}
                                        Editor's Profile
                                    {% endif %}
                                    {% if current == "contact_us" %}
                                        Contact Us
                                    {% endif %}
                                    {% if current == "job_page" %}
                                        Job Page
                                    {% endif %}
                                    {% if current == "settings" %}
                                        Financial Activities
                                    {% endif %}
                                    {% if current == "student_profile" %}
                                        Profile
                                    {% endif %}
                                    {% if current == "edit" %}
                                        Edit Profile
                                    {% endif %}
                                    {% if current == "check_out" %}
                                        Checkout
                                    {% endif %}
                                    {% if current == "about_us" %}
                                        About Us
                                    {% endif %}
                                    {% if current == "messages" %}
                                        Messages
                                    {% endif %}
                                    {% if current == "conversations" %}
                                        Conversations
                                    {% endif %}
                                </h4>
                                <button data-rd-navbar-toggle=".rd-navbar-top-panel" class="rd-navbar-top-panel-toggle veil-md"><span></span></button>
                            <div class="rd-navbar-top-panel">
                                <div class="rd-navbar-top-panel-left-part">
                                    <ul class="list-unstyled">
                                        <li>
                                            <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                                <div class="unit-left"><span class="icon mdi mdi-map-marker text-middle"></span></div>
                                                <div class="unit-body"><a style="cursor: pointer;">B-8 Complex Ahmed Al Jaber Street, 4th Floor, Office 6, Kuwait City, Kuwait</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                                <div class="unit-left"><span class="icon mdi mdi-email-open text-middle"></span></div>
                                                <div class="unit-body"><a href="mailto:info@educationstudio.com">info@educationstudio.com</a></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="rd-navbar-top-panel-right-part">

                                    <div class="rd-navbar-top-panel-left-part">
                                        <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                            
                                            {% if request.user.is_authenticated %}
                                                <div class="unit-left" style="margin-right: 30px;">
                                                    {% if msg_counter > 0 %}
                                                        <a href="/messages/" style="cursor: pointer;">
                                                            <span class="icon fa-envelope-o"></span>

                                                            <span class="badge" style="border-radius: 1em; font-size: 10px; margin-bottom: 22px; margin-left: -9px; z-index: 9999; position: relative; background-color: white;">
                                                                <strong style="color: black;">{{ msg_counter }}</strong>
                                                            </span>
                                                        </a>
                                                    {% else %}
                                                        <a href="/messages/" style="cursor: pointer;">
                                                            <span class="icon fa-envelope"></span>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                            <div class="unit-left">
                                                <span class="icon mdi mdi-login text-middle"></span>
                                            </div>
                                            <div class="unit-body">
                                                {% if not request.user.is_authenticated %}
                                                    <a href="{% url 'user_login' %}">Login</a>&nbsp;/
                                                    <a href="{% url 'create_editor_step1' %}">Register</a>
                                                {% else %}
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle dropdown-content" id="user_menu" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{ request.user.get_full_name }}<span class="caret"></span></a>
                                                        <ul class="dropdown-menu dropdown-content dropdown-menu-right" aria-labelledby="user_menu">
                                                            {% if role == 'editor' %}
                                                                <li style="display: block;">
                                                                    <a href="{% url 'profile' request.user.username %}">View Profile</a>
                                                                </li>
                                                                <li class="noleftmargin visible" style="display: block;">
                                                                    <a href="/messages/">
                                                                        Messages 
                                                                        {% if msg_counter > 0 %}
                                                                            <span class="badge" style="border-radius: 1em; font-size: 10px; background-color: #FE642E;">
                                                                                <strong>{{ msg_counter }}</strong>
                                                                            </span>
                                                                        {% endif %}
                                                                    </a>
                                                                </li>
                                                                <li class="noleftmargin" style="display: block;">
                                                                    <a href="{% url 'edit_editor' %}">Edit Profile</a>
                                                                </li>
                                                                <li class="noleftmargin" style="display: block;">
                                                                    <a href="{% url 'settings' %}">Financial Activities</a>
                                                                </li>
                                                            {% endif %}
                                                            {% if role == 'student' %}
                                                                <li style="display: block;">
                                                                    <a href="{% url 'student_profile' request.user.username %}">View Profile</a>
                                                                </li>
                                                                <li class="noleftmargin" style="display: block;">
                                                                    <a href="/messages/">
                                                                        Messages 
                                                                        {% if msg_counter > 0 %}
                                                                            <span class="badge" style="border-radius: 1em; font-size: 10px; background-color: #FE642E;">
                                                                                <strong>{{ msg_counter }}</strong>
                                                                            </span>
                                                                        {% endif %}
                                                                    </a>    
                                                                </li>
                                                                <li class="noleftmargin" style="display: block;">
                                                                    <a href="{% url 'edit_student' %}">Edit Profile</a>
                                                                </li>
                                                                <li class="noleftmargin" style="display: block;">
                                                                    <a href="{% url 'student_settings' %}">Financial Activities</a>
                                                                </li>
                                                            {% endif %}
                                                                <li class="noleftmargin" style="display: block;">
                                                                    <a href="{% url 'change_password' %}">Change Password</a>
                                                                </li>
                                                                <li class="noleftmargin" style="display: block;">
                                                                    <a href="{% url 'logout' %}">Logout</a>
                                                                </li>
                                                        </ul>
                                                    </div>
                                                {% endif %}    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rd-navbar-menu-wrap clearfix">
                            <div class="rd-navbar-brand pull-left">
                                <div class="rd-navbar-mobile-scroll">
                                    <a href="/" class="reveal-inline-block">
                                        <div class="unit unit-xs-middle unit-xl unit-xl-horizontal unit-spacing-xxs">
                                            <div class="unit-left wrap">
                                                <img class="es-brand-logo" src="/static/theme/images/logo-170x172.png" alt="" width="170">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="rd-navbar-nav-wrap pull-right" id="id_top_header">
                                <div class="rd-navbar-mobile-scroll">
                                    <div class="rd-navbar-mobile-header-wrap">
                                        <!--Navbar Brand Mobile-->
                                        <div class="rd-navbar-mobile-brand">
                                            <a href="/">
                                                <img src="/static/theme/images/ES_LOGO_2.png" alt="" width="136" height="138">
                                            </a>
                                        </div>
                                    </div>
                                    <ul class="rd-navbar-nav">
                                        <li>
                                            <a href="/"><strong>Home</strong></a>
                                        </li>
                                        <li>
                                            <a href="{% url 'about_us' %}"><strong>About Us</strong></a>
                                        </li>
                                        <li>
                                            <a href="/contact-us/">Contact Us</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
            {% block top %}{% endblock %}


            {% if not current == "profile" and not current == "check_out" %}
                <div id="id_message_alert">
                    {% if messages %}
                        {% for message in messages %}                                    

                        <div class="message-alert" style="text-align: center; position: absolute; z-index: 999; width: 50%; left: 25%; margin-top: 43px;">
                            <div class="alert text-center alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible" role="alert">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <span>{{ message }}</span>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}    
            
            <div class="main-content">
                <div class="container">
                    <div class="col-sm-12" style="padding:0% 5%; margin-bottom: 20px;">
                        {% block content %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>    

        <!-- ++++++++++++++++++++++++++++++++++++ footer-navigation +++++++++++++++++++++++++++++++++++++ -->
        <footer class="page-footer page text-center">
            <div class="shell-wide">
                <div class="hr bg-gray-light"></div>
            </div>
            <div class="shell section-60">
                <div class="range range-lg-justify range-xs-center">
                    <div class="cell-md-3 cell-lg-2">
                        <!--Footer brand-->
                        <a href="/" class="reveal-inline-block">
                            <img style="width:270px;height:auto;" src="/static/theme/images/logo-170x172.jpg" alt="" width="270">
                        </a>
                    </div>
                    <div class="cell-xs-10 cell-md-5 cell-lg-4 text-lg-left offset-top-50 offset-md-top-0">
                        <h6 class="text-bold">Contact us</h6>
                        <div class="text-subline"></div>
                        <div class="offset-top-30">
                            <ul class="list-unstyled contact-info list">
                                <li class="offset-top-15">
                                    <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                        <div class="unit-left"><span class="icon mdi mdi-map-marker text-middle icon-xs text-madison"></span></div>
                                        <div class="unit-body text-left"><a class="text-dark">B-8 Complex Ahmed Al Jaber Street, 4th Floor, Office 6, Kuwait City, Kuwait</a></div>
                                    </div>
                                </li>
                                <li class="offset-top-15">
                                    <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                        <div class="unit-left"><span class="icon mdi mdi-email-open text-middle icon-xs text-madison"></span></div>
                                        <div class="unit-body"><a href="mailto:info@educationstudio.com">info@educationstudio.com</a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="offset-top-15 text-left">
                            <ul class="list-inline list-inline-xs list-inline-madison">
                                <li><a href="https://www.facebook.com/EducationStudiokw/" class="icon icon-xxs fa-facebook icon-circle icon-gray-light-filled"></a></li>
                                <li><a href="https://twitter.com/EduStudiokw" class="icon icon-xxs fa-twitter icon-circle icon-gray-light-filled"></a></li>
                                <li><a href="https://www.instagram.com/EducationStudio.Kuwait/" class="icon icon-xxs fa-instagram icon-circle icon-gray-light-filled"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="cell-xs-10 cell-md-8 cell-lg-4 text-lg-left offset-top-50 offset-lg-top-0">
                        <h6 class="text-bold">Newsletter</h6>
                        <div class="text-subline"></div>
                        <div class="offset-top-30 text-left">
                            <p>Enter your email address to get the latest Education Studio news, special events and offers delivered right to your inbox.</p>
                        </div>
                        <div class="offset-top-10">
                            <form id="id_newsletter_form" data-form-output="form-subscribe-footer" data-form-type="subscribe" method="post" action="/newsletter/" class="rd-mailform form-subscribe" novalidate="novalidate">
                                <input name="csrfmiddlewaretoken" value="kE5jTnxEPZXYTN4fPDxgWn1RpX9dUI3d" type="hidden">
                                <div class="form-group">
                                    <div class="input-group input-group-sm">
                                        <input placeholder="Your e-mail" name="email" id="id_newsletter_email" data-constraints="@Required" class="form-control form-control-has-validation" type="email"><span class="form-validation"></span><span class="input-group-btn">
                                        <a class="btn btn-sm btn-primary" onclick="javascript:subscribe_newsletter();">Subscribe</a></span>
                                    </div>
                                </div>
                                <div id="form-subscribe-footer" class="form-output"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-madison context-dark">
                <div class="shell text-md-left section-5">
                    <!-- {%FOOTER_LINK}-->
                    <p>© <span id="copyright-year">2017</span> All Rights Reserved Terms of Use and Privacy Policy</p>
                </div>
            </div>
        </footer>
        <!-- Core Scripts - Include with every page -->
        <script src = "{% static 'js/jquery.min.js' %}"></script>
        <script src = "{% static 'js/bootstrap.min.js' %}"></script>
        <script src = "{% static 'js/select2.min.js' %}"></script>
        <script src = "{% static 'js/select2.full.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
        <script src = "{% static 'theme/js/core.min.js' %}"></script>
        <script src = "{% static 'theme/js/script.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
        
        <script type="text/javascript">
            $(".message-alert").fadeOut(9000);
            $('.dropdown-toggle').dropdown()

            Window.base = {
                "urls": {
                    "get_qualification_form": "{% url 'get_qualification_form' %}",
                    "get_experience_form": "{% url 'get_experience_form' %}",
                    "delete_qualification": "{% url 'delete_qualification' %}",
                    "delete_experience": "{% url 'delete_experience' %}",
                    "delete_file": "{% url 'delete_file' %}",
                }
            }
        </script>
        {% block javascript %}
        {% endblock %}
    </body>
</html>
