{% extends 'base.html' %}

{% load staticfiles %}
{% block top %}
    <section class="breadcrumb-classic context-dark">
        <div class="shell section-30 section-sm-top-10 section-sm-bottom-10">
            <h2 class="veil reveal-sm-block text-center">Checkout</h2>
        </div>
    </section>
{% endblock %}

{% block content %}
    <style type="text/css">
        h6{
            font-size: 15px!important;
        }
    </style>
    <div class="row">
        <div id="id_message_alert">
            {% if messages %}
                {% for message in messages %}                                    

                <div class="message-alert" style="text-align: center; position: relative; z-index: 999; width: 50%;  left: 30%; margin-top: 11px;">
                    <div class="alert text-center alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <span>{{ message }}</span>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-12">
            <div class="profile-block">
            	<div class="row">
                    <div class="col-md-8">
                        <section class="text-sm-left offset-top-20">
                            <h6 class="text-bold">Payment Details</h6>
                            <div class="text-subline"></div>
                            <h4 class="offset-sm-top-20" style="background-color: #ddd; height: 50px; color: black; font-size: 15px; padding: 15px;">Card Details<img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png" style="height: 40px; margin-top: -9px; "></h4>
                            <form class="require-validation" id="payment-form" method="post">
                                {% csrf_token %}
                                <div class='row'>
                                    <div class='col-xs-12 form-group required'>
                                        Name on Card
                                        <input type="text" class="form-control" id="id_name_on_card" name="id_name_on_card" placeholder="Name on card" value="{{ request.user.get_full_name }}" / style="margin-top: -1px; margin-bottom: 10px;">
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-xs-12 offset-top-10 form-group card required {% if form.card_number.errors %}has-error{% endif %}'>
                                        Card Number
                                        <input type="text" class="form-control credit-card-input inputs" id="id_card_num" maxlength="16" name="id_card_num" placeholder="XXXX XXXX XXXX XXXX"/>
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-xs-4 form-group expiration required offset-top-10'>
                                        Expiry Date
                                        <input type="text" class="form-control inputs" id="id_exp_month" max="12" min="01" maxlength="2" name="id_exp_month" placeholder="MM" />
                                        <small id="id_exp_month_error" style="color: #f54b0f"></small>
                                    </div>
                                    <div class='col-xs-4 form-group expiration required offset-top-30'>
                                        <input type="text" class="form-control inputs" id="id_exp_year" name="id_exp_year" maxlength="4" placeholder="YYYY" />
                                        <small id="id_exp_year_error" style="color: #f54b0f"></small>
                                    </div>
                                    <div class='col-xs-4 offset-top-10 form-group cvc required {% if form.cvc.errors %}has-error{% endif %}'>
                                        CVC
                                        <input type="text" class="form-control inputs" id="id_sss" maxlength="3" name="id_sss" placeholder="XXX" />
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-xs-12 form-group offset-top-10 text-center'>
                                        <button id="id_checkout_button" class='form-control btn btn-primary submit-button' type='submit'>Deposit the amount »</button><br>
                                        <small class="text-muted" style="font-size: 11px;"><span class="icon icon-madison mdi mdi-lock" style="font-size: 15px;"></span>&nbsp;Your payment details are secured via 128 Bit encryption</small>
                                    </div>
                                </div>
                            </form>
                        </section>
                    </div>
                    <div class="col-md-4">
                        <section class="text-sm-left offset-top-20">
                            <h6 class="text-bold">Your Order</h6>
                            <div class="text-subline"></div>
                            <h4 class="offset-sm-top-20" style="background-color: #0d2d62; height: 50px; color: #fff; font-size: 15px; padding: 15px; ">Amount Details</h4>
                            <table class="table table-striped" style="margin-top: -18px;">
                                <tbody>
                                    <tr>
                                        <td class="text-primary">Paper Title</td>
                                        <td>{{ paper.title|title }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Paper Price</td>
                                        <td>{{ currency }} {{ paper.get_dollar_price }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Service Fee&nbsp;<small style="color: grey;">({{ platform_fee }}%)</small></td>
                                        <td>
                                            {{ currency }} {{ service_fee }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black"><strong>Total Amount</strong></td>
                                        <td><strong>{{ currency }} {{ total_price }}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                </div>
                <div class="modal-overlay" id="id_payment_processing" style="position: fixed;">
                    <img src="{% static 'images/spin.svg' %}"/>
                </div>
            </div>
        </div>
    </div>
    
    
{% endblock %}

{% block javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.payfield.css' %}">
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/jquery.inputmask.bundle.js' %}"></script>
    <script src="{% static 'js/jquery.payfield.js' %}"></script>
    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
    <script src="{% static 'js/jquery.jtruncate.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
         
        $('.description_truncate').jTruncate({
            length: 250,
            minTrail: 0,
            moreText: "Show More",
            lessText: "Less",
            ellipsisText: "...",
            moreAni: "",
            lessAni: ""
        });
    });
    $(function () {
       $("#id_exp_month").change(function() {
          var max = parseInt($(this).attr('max'));
          var min = parseInt($(this).attr('min'));
          if ($(this).val() > max)
          {
              $("#id_exp_month_error").html("invalid month")
          }
          else if ($(this).val() < min)
          {
              $("#id_exp_month_error").html("invalid month")
          }       
        }); 
    });
    $("#id_exp_month").change(function(){
        $("#id_exp_month_error").html("")

        var max = parseInt($(this).attr('max'));
        var min = parseInt($(this).attr('min'));
        if ($(this).val() > max)
          {
              $("#id_exp_month_error").html("invalid month")
          }
          else if ($(this).val() < min)
          {
              $("#id_exp_month_error").html("invalid month")
          }
          else{
              $("#id_exp_month_error").html("")
          } 
    });
    $(function () {
       $("#id_exp_year").change(function() {
          var current_year = new Date().getFullYear()
          if ($(this).val() < current_year)
          {
              $("#id_exp_year_error").html("invalid year")
          }else{
              $("#id_exp_year_error").html("")
          }    
        }); 
    });

    
    $(function() {
        $(".credit-card-input").payfield();
        $("#id_card_num").blur();
    });
    
    Stripe.setPublishableKey('{{publishable}}');
    $('.payment-errors').hide();

    $(document).ready(function(e) {
        $("#id_checkout_button").click(function(event) {
            event.preventDefault();
            $('#id_payment_processing').show();
            Stripe.createToken({
                name: $("#payment-form").find('#id_name_on_card').val(),
                number: $("#payment-form").find('#id_card_num').val(),
                cvc: $("#payment-form").find('#id_sss').val(),
                exp_month: $("#payment-form").find('#id_exp_month').val(),
                exp_year: $("#payment-form").find('#id_exp_year').val()
            }, stripeResponseHandler);
            return false; // submit from callback
        });
    });

    function stripeResponseHandler(status, response) {
        if (response.error) {
            $("#id_message_alert").html(
                '<div class="container-fluid message-alert text-center" style="text-align: center; position: relative; z-index: 999; margin-top:6px; width: 100%;">'+
                    '<div class="alert alert-danger alert-dismissible" role="alert" style="text-align:center">'+
                        '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>'+
                        '<span>'+ response.error.message +'</span>'+
                    '</div>'+
                '</div>'
            );
            $("#card-error").html(response.error.message);
            $('#id_message_alert').show();
            $('#id_payment_processing').hide();
        } else {
            var form$ = $("#payment-form");
            var token = response['id'];
            form$.append("<input type='hidden' name='stripeToken' value='" + token + "' />");
            $('#id_name_on_card, #id_card_num, #id_sss, #id_exp_month, #id_exp_year').val('');
            form$.get(0).submit();
           }
        return false;
    }

    if (window.location.protocol === 'file:') {
        alert("stripe.js does not work when included in pages served over file:// URLs. Try serving this page over a webserver. Contact support@stripe.com if you need assistance.");
    }
    </script>

{% endblock %}
