{% extends 'base.html' %}

{% load staticfiles %}

{% block top %}
    <section class="breadcrumb-classic context-dark">
        <div class="shell section-30 section-sm-top-10 section-sm-bottom-10">
            <h2 class="veil reveal-sm-block text-center">Contact Us</h2>
        </div>
    </section>
{% endblock %} 


{% block content %}
    
    <section class="section-70 section-md-114">
        <div class="shell">
            <div class="range range-xs-center">
                <div class="cell-xs-10 cell-md-8 text-md-left">
                    <h2 class="text-bold">Get in Touch</h2>
                    <hr class="divider bg-madison hr-sm-left-0">
                    <div class="offset-top-30 offset-md-top-60">
                        <p>You can contact us any way that is convenient for you. We are available 24/7 via fax or email. You can also use a quick contact form below or visit our office personally. We would be happy to answer your questions.</p>
                    </div>
                    <div class="offset-top-30">
                        <form data-form-output="form-output-global" data-form-type="contact" method="post" enctype="multipart/form-data" class="rd-mailform text-left">
                            {% csrf_token %}
                            <div class="range">
                                <div class="cell-lg-12">
                                    <div class="form-group">
                                        <label for="contact-me-name" class="form-label form-label-outside">Name</label>
                                        <input id="contact-me-name" type="text" name="name" data-constraints="@Required" class="form-control">
                                    </div>
                                </div>
                                <div class="cell-lg-12 offset-top-12">
                                    <div class="form-group">
                                        <label for="contact-me-last-name" class="form-label form-label-outside">Email</label>
                                        <input id="contact-me-last-name" type="text" name="email" data-constraints="@Required" class="form-control">
                                    </div>
                                </div>
                                <div class="cell-lg-12 offset-top-12">
                                    <div class="form-group">
                                        <label for="contact-me-message" class="form-label form-label-outside">Message</label>
                                        <textarea id="contact-me-message" name="message" data-constraints="@Required" style="height: 220px" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center text-lg-left offset-top-20">
                                <button type="submit" class="btn btn-primary">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="cell-xs-10 cell-md-4 offset-top-65 offset-md-top-0 text-left">
                    <div class="inset-md-left-30">
                        <h6 class="text-bold">Socials</h6>
                        <div class="hr bg-gray-light offset-top-10"></div>
                        <ul class="list-inline list-inline-xs list-inline-madison">
                            <li><a href="https://www.facebook.com/EducationStudiokw/" class="icon icon-xxs fa-facebook icon-circle icon-gray-light-filled"></a></li>
                            <li><a href="https://twitter.com/EduStudiokw" class="icon icon-xxs fa-twitter icon-circle icon-gray-light-filled"></a></li>
                            <li><a href="https://www.instagram.com/EducationStudio.Kuwait/" class="icon icon-xxs fa-instagram icon-circle icon-gray-light-filled"></a></li>
                        </ul>
                        <div class="offset-top-30 offset-md-top-60">
                            <h6 class="text-bold">E-mail</h6>
                            <div>
                                <div class="hr bg-gray-light offset-top-10"></div>
                            </div>
                            <div class="offset-top-15">
                                <ul class="list list-unstyled">
                                    <li>
                                        <span class="icon icon-xs text-madison mdi mdi-email-outline text-middle"></span>
                                        <a href="mailto:info@educationstudio.com" class="text-primary text-middle inset-left-10">info@educationstudio.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="offset-top-30 offset-md-top-60">
                            <h6 class="text-bold">Address</h6>
                            <div>
                                <div class="hr bg-gray-light offset-top-10"></div>
                            </div>
                            <div class="offset-top-15">
                                <div class="unit unit-horizontal unit-spacing-xs">
                                    <div class="unit-left"><span class="icon icon-xs mdi mdi-map-marker text-madison"></span></div>
                                    <div class="unit-body">
                                        <p><a href="#" class="text-dark">B-8 Complex Ahmed Al Jaber Street, 4th Floor, Office 6, Kuwait City, Kuwait</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="offset-top-30 offset-md-top-65">
                            <h6 class="text-bold">Opening Hours</h6>
                            <div>
                                <div class="hr bg-gray-light offset-top-10"></div>
                            </div>
                            <div class="offset-top-15">
                                <div class="unit unit-horizontal unit-spacing-xs">
                                    <div class="unit-left"><span class="icon icon-xs mdi mdi-calendar-clock text-madison"></span></div>
                                    <div class="unit-body">
                                        <div>
                                            <p>Sunday - Thursday: 9:00am - 8:00pm</p>
                                        </div>
                                        <div>
                                            <p>Friday: Closed</p>
                                        </div>
                                        <div>
                                            <p>Saturday: 10:00am - 2:00pm </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-madison">
        <!-- RD Google Map-->
        <div class="rd-google-map">
            <div id="rd-google-map" data-zoom="14" data-x="47.987988" data-y="29.3827363" data-styles='[{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.business","elementType":"geometry.fill","stylers":[{"visibility":"on"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#b4d4e1"},{"visibility":"on"}]}]' class="rd-google-map__model"></div>
            <ul class="rd-google-map__locations">
                <li data-x="47.987988" data-y="29.3827363">
                    <p>Education Studio</p>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}
